openapi: 3.0.3
info:
  title: 'Piattaforma Notifiche: API per il Front End delle PA'
  version: v1.0
  description: >- 
    ## Abstract
      API utilizzate dal portale di Piattaforma Notifiche dedicato alle Pubbliche Amministrazioni
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
- url: https://webapi.pn.pagopa.it
  description: Ambiente di produzione
- url: https://webapi.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://webapi.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: SenderRead
    description: >-
      Invocazioni utilizzabili dai mittenti per verificare lo stato delle notifiche inviate


paths:
    ###########################################################################################
    ###                                  RICERCA NOTIFICHE                                  ###
    ###########################################################################################
  "/delivery/notifications/sent":
    get:    
      summary: Ricerca notifiche inviate
      description: >-
        servizio di consultazione dello stato di invio delle notifiche individuate dai parametri 
        di ricerca specificati
      tags:
        - SenderReadWeb
      operationId: searchSentNotification
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'
        - $ref: '#/components/parameters/cxTypeAuthFleet'
        - $ref: '#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/cxGroupsAuthFleet'        
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchStartDate'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchEndDate'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchRecipientId'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchStatus'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchSubject'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchIun'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchPageSize'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification-v1.yaml#/components/schemas/NotificationSearchResponse'
        '400':
          description: Bad request       
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'
  
  

components:
  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'
    cxIdAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'
    cxGroupsAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'
    uidAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'
    



