openapi: 3.0.3
info:
  termsOfService: https://termofservice.it
  x-api-id: api-internal-web-informal-pa
  title: 'SEND: API per il Front End delle PA per le comunicazioni bonarie'
  x-summary: 'SEND: API per il Front End delle PA per le comunicazioni bonarie'
  version: '1.0.0'
  description: >- 
    ## Abstract
      API utilizzate dal portale di SEND dedicato alle Pubbliche Amministrazioni per la gestione delle campagne e notifiche bonarie
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di SEND
    url: 'https://da-definire/'
servers:
- url: https://webapi.pn.pagopa.it
  description: Ambiente di produzione
- url: https://webapi.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://webapi.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: SenderInformalReadWeb
    description: >-
      Invocazioni utilizzabili dai mittenti per verificare lo stato delle notifiche bonarie inviate tramite campagna


paths:
  "/delivery/campaigns/{campaignId}/notifications/sent":
    get:    
      summary: Ricerca notifiche bonarie inviate per campagna
      description: >-
        Servizio di consultazione dello stato di invio delle notifiche bonarie (informali) individuate dalla campagna e dai parametri di ricerca specificati.
      tags:
        - SenderInformalReadWeb
      operationId: searchInformalSentNotification
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL        
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathCampaignId'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchStartDate'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchEndDate'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchRecipientId'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchUnifiedIun'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchInformalStatus'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchGroup'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchViewed'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchDelivered'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchPageSize'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/InformalNotificationSearchResponse'
        '400':
          description: Bad request       
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  

components:
  parameters:                                                             # NO EXTERNAL
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:                                                      # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'   # NO EXTERNAL
    cxIdAuthFleet:                                                        # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'     # NO EXTERNAL
    cxGroupsAuthFleet:                                                    # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
    uidAuthFleet:                                                         # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'      # NO EXTERNAL

  schemas:
    Problem:
      $ref: './remote-refs.yaml#/components/schemas/Problem'
