openapi: 3.0.3
info:
  title: OpenAPI servizi ad uso solo interno
  description: >- 
    API accessibili solo da microservizi interni
  version: v1.0
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: http://internal-pn-in-appli-em20o634urpg-965454854.eu-central-1.elb.amazonaws.com:8080
  description: Generated server url
paths:
  "/delivery-private/notifications/update-status":
    post:
      summary: servizio per l'aggiornamento dello stato di invio della notifica
      tags:
      - internal-only
      operationId: updateStatus
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RequestUpdateStatusDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json: { }
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '501':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  
  "/delivery-private/notifications/{iun}":
    get:
      summary: servizio per cercare una notifica dato <iun>
      tags:
        - internal-only
      operationId: getSentNotificationPrivate
      parameters:
      - name: iun
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                $ref: "schemas-pn-notification-v1.yaml#/components/schemas/SentNotification"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '501':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  "/delivery-private/search":
    get:
      summary: servizio per cercare le notifiche in base ad alcuni parametri di ricerca
      tags:
        - internal-only
      operationId: searchNotificationsPrivate
      parameters:
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchRecipientId'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchRecipientIdIsOpaque'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchSenderId'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchStartDate'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchEndDate'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchStatuses'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchPageSize'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification-v1.yaml#/components/schemas/NotificationSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '501':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  schemas:
    
    RequestUpdateStatusDto:
      type: object
      properties:
        iun:
          $ref: 'schemas-pn-notification-v1.yaml#/components/schemas/IUN'
        nextStatus:
          $ref: "remote-refs.yaml#/components/schemas/NotificationStatus"
        timestamp:
          type: string
          description: timestamp del passaggio di stato
          format: date-time
                    
    
    Problem:
      $ref: "schemas-pn-errors-v1.yaml#/components/schemas/Problem"
