# di seguito le variabili che possono subire variazioni in caso di modifiche all'applicazione, da ricercare in base all'ID
# <span id="pnTemporaryDocument">7 giorni</span> configurazione per file temporanei caricati prima dell'inserimento notifica, definito in storageConfigurations name: PN_TEMPORARY_DOCUMENT in pn-safestorage-v1-api.yaml
# <span id="numberOfPresignedRequest">15</span> pn.delivery.number-of-presigned-request=15 numero di maxItems della preloadRequest
openapi: 3.0.3
info:
  termsOfService: https://selfcare.notifichedigitali.it/termini-di-servizio
  x-api-id: api-internal-b2b-informal-pa # NO EXTERNAL
#  x-api-id: api-internal-b2b-informal-pa # ONLY EXTERNAL
  title: 'Piattaforma Notifiche: API B2B per le notifiche bonarie esposte alle Pubbliche Amministrazioni'
  x-summary: 'Piattaforma Notifiche: API B2B per le notifiche bonarie esposte alle Pubbliche Amministrazioni'
  version: '1.0.0'
  description: #TODO: da aggiornare
    La Piattaforma Notifiche espone alle Pubbliche Amministrazioni un set di API per la gestione delle notifiche bonarie. <br/>
    Le API esposte in questo documento sono considerate "informali" in quanto sono a disposizione di un numero limitato di enti che hanno aderito a una fase di sperimentazione, e non sono ancora state pubblicizzate ufficialmente. <br/>
    Per qualsiasi informazione o richiesta di adesione alla fase di sperimentazione è possibile contattare il supporto tecnico dedicato agli enti.
  contact:
    name: 'SEND: supporto enti'
    url: https://pagopa.atlassian.net/servicedesk/customer/portal/5
servers:
  - url: https://api.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.uat.notifichedigitali.it
    description: Ambiente di collaudo
tags:
  - name: RecipientReadInformalNotification
    description: >-
      Invocazioni utilizzate dai destinatari per ottenere informazioni sulle notifiche a loro destinate.

paths:
  ###########################################################################################
  ###                          RICERCA NOTIFICHE RICEVUTE                                 ###
  ###########################################################################################

  "/delivery/v1/notifications/informal/received/{iun}":
    get:
      summary: Accesso notifiche ricevute
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai dettagli delle 
        notifiche bonarie ricevute.
      tags:
        - RecipientReadInformalNotification
      operationId: getReceivedInformalNotificationV1
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'            # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'           # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannel'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannelDetails'  # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathInformalIun'
      responses:
        '200':
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/FullReceivedInformalNotificationV1"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found - PN_DELIVERY_USER_ID_NOT_RECIPIENT_OR_DELEGATOR
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

    ###########################################################################################
    ###                     DOWNLOAD DOCUMENTI E ALLEGATI PER PAGAMENTO                     ###
    ###########################################################################################

  "/delivery/v1/notifications/informal/received/{iun}/attachments/documents/{docIdx}":
    get:
      summary: Download documento notificato
      tags:
        - RecipientReadInformalNotification
      operationId: getReceivedInformalNotificationDocumentV1
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'                  # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'               # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'                 # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'             # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannel'           # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannelDetails'    # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathInformalIun'
        - $ref: '#/components/parameters/pathDocumentIdx'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/delivery/v1/notifications/informal/received/{iun}/attachments/payment/{attachmentName}":
    get:
      summary: Download allegato per pagamento
      tags:
        - RecipientReadInformalNotification
      operationId: getReceivedInformalNotificationAttachmentV1
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'                  # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'               # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'                 # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'             # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannel'           # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannelDetails'    # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathInformalIun'
        - $ref: '#/components/parameters/pathAttachmentName'
        - $ref: '#/components/parameters/attachmentIdx'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  parameters:
    ############################################################################################
    ###                     PARAMETRO VERSIONE CREAZIONE NOTIFICA                            ###
    ############################################################################################
    headerNotificationVersion:                                                      # NO EXTERNAL
      name: x-pagopa-pn-notification-version                                        # NO EXTERNAL
      in: header                                                                    # NO EXTERNAL
      description: Notification creation version                                    # NO EXTERNAL
      required: false                                                               # NO EXTERNAL
      schema:                                                                       # NO EXTERNAL
        type: string                                                                # NO EXTERNAL

    ############################################################################################
    ###                     PARAMETRO SORGENTE CREAZIONE NOTIFICA                            ###
    ############################################################################################
    headerSourceChannel:                                                            # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannel'         # NO EXTERNAL

    headerSourceChannelDetails:                                                     # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannelDetails'  # NO EXTERNAL

    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:                                                                # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
    cxIdAuthFleet:                                                                  # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
    cxGroupsAuthFleet:                                                              # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
    uidAuthFleet:                                                                   # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'                # NO EXTERNAL

    ############################################################################################
    ###                       PARAMETRI RICERCA RICHIESTA DI NOTIFICA                        ###
    ############################################################################################
    notificationRequestId:
      in: query
      required: false
      name: notificationRequestId
      schema:
        $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationRequestId'

    paProtocolNumber:
      name: paProtocolNumber
      in: query
      required: false
      schema:
        $ref: './schemas-pn-notification.yaml#/components/schemas/PaProtocolNumber'

    idempotenceToken:
      name: idempotenceToken
      in: query
      required: false
      schema:
        $ref: './schemas-pn-notification.yaml#/components/schemas/IdempotenceToken'

    ############################################################################################
    ###                             PARAMETRI DOWNLOAD DOCUMENTI                             ###
    ############################################################################################
    pathDocumentIdx:
      name: docIdx
      description: indice del documento nella lista partendo da 0.
      in: path
      required: true
      schema:
        type: integer
        format: int32

    pathRecipientIdx:
      name: recipientIdx
      description: indice del destinatario nella lista partendo da 0.
      in: path
      required: true
      schema:
        type: integer
        format: int32

    pathAttachmentName:
      name: attachmentName
      description: Tipologia del pagamento allegato alla notifica. Valore possibile PAGOPA
      in: path
      required: true
      schema:
        type: string
        pattern: "PAGOPA"

    attachmentIdx:
      in: query
      name: attachmentIdx
      description: indice del documento di pagamento partendo da 0
      required: false
      schema:
        type: integer
        format: int32

  schemas:

    ###########################################################################################
    ###                              DTO NOTIFICA CON DETTAGLI                              ###
    ###########################################################################################

    FullReceivedInformalNotificationV1:
      description: >-
        Le informazioni riguardanti una richiesta di notifica accettata e il processo di 
        inoltro della notifica verso i destinatari (Persone Fisiche o Giuridiche).
      allOf:
        - $ref: './schemas-pn-notification.yaml#/components/schemas/InformalSentNotificationV1'
        - type: object
          required:
            - notificationStatus
            - notificationStatusHistory
            - timeline
          properties:
            notificationStatus:
              $ref: '#/components/schemas/NotificationStatusV26'
            notificationStatusHistory:
              $ref: '#/components/schemas/NotificationStatusHistoryV26'
            timeline:
              description: >-
                elenco dettagliato di tutto ciò che è accaduto durante il processo di notifica
              type: array
              items:
                $ref: '#/components/schemas/TimelineElementV28'

    Problem:
      $ref: './remote-refs.yaml#/components/schemas/Problem'
    ProblemError:
      $ref: './remote-refs.yaml#/components/schemas/ProblemError'
    TimelineElementV28:
      $ref: './remote-refs.yaml#/components/schemas/TimelineElementV28'
    NotificationStatusV26:
      $ref: './remote-refs.yaml#/components/schemas/NotificationStatusV26'
    NotificationStatusHistoryV26:
      $ref: './remote-refs.yaml#/components/schemas/NotificationStatusHistoryV26'

#  securitySchemes:        # ONLY EXTERNAL
#    ApiKeyAuth:           # ONLY EXTERNAL
#      type: apiKey        # ONLY EXTERNAL
#      in: header          # ONLY EXTERNAL
#      name: x-api-key     # ONLY EXTERNAL

#security:                 # ONLY EXTERNAL
#  - ApiKeyAuth: [] # use the same name as under securitySchemes    # ONLY EXTERNAL





