openapi: 3.0.3
info:
  title: 'Piattaforma Notifiche: API B2B per le Pubbliche Amministrazioni'
  version: v1.0
  description: >- 
    ## Abstract
      API utilizzate dal portale di Piattaforma Notifiche dedicato alle Pubbliche Amministrazioni
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
- url: https://webapi.pn.pagopa.it
  description: Ambiente di produzione
- url: https://webapi.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://webapi.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: SenderRead
    description: >-
      Invocazioni utilizzabili dai mittenti per verificare lo stato delle notifiche inviate


paths:
    ###########################################################################################
    ###                                  RICERCA NOTIFICHE                                  ###
    ###########################################################################################
  "/delivery/notifications/sent":
    get:    
      summary: Ricerca notifiche inviate
      description: >-
        servizio di consultazione dello stato di invio delle notifiche individuate dai parametri 
        di rcerca specificati
      tags:
        - SenderRead
      operationId: searchSentNotification
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'
        - $ref: '#/components/parameters/cxTypeAuthFleet'
        - $ref: '#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/cxGroupsAuthFleet'        
        - $ref: '#/components/parameters/notificationSearchStartDate'
        - $ref: '#/components/parameters/notificationSearchEndDate'
        - $ref: '#/components/parameters/notificationSearchRecipientId'
        - $ref: '#/components/parameters/notificationSearchStatus'
        - $ref: '#/components/parameters/notificationSearchSubject'
        - $ref: '#/components/parameters/notificationSearchIun'
        - $ref: '#/components/parameters/notificationSearchPageSize'
        - $ref: '#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification-v1.yaml#/components/schemas/ResultPaginationDtoNotificationSearchRow'
        '400':
          description: Bad request       
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'
  
  "/delivery/notifications/sent/{iun}/attachments/documents/{docIdx}":
    get:
      summary: Download documento notificato
      tags:
        - SenderRead
      operationId: getSentNotificationDocument
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'
        - $ref: '#/components/parameters/cxTypeAuthFleet'
        - $ref: '#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/cxGroupsAuthFleet'
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathDocumentIdx'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification-v1.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'
        
  "/delivery/notifications/sent/{iun}/attachments/payment/{recipientIdx}/{attachmentName}":
    get:
      summary: Download allegato per pagamento
      tags:
        - SenderRead
      operationId: getSentNotificationAttachment
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'
        - $ref: '#/components/parameters/cxTypeAuthFleet'
        - $ref: '#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/cxGroupsAuthFleet'
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathRecipientIdx'
        - $ref: '#/components/parameters/pathAttachmentName'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification-v1.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'
  


components:
  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'
    cxIdAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'
    cxGroupsAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'
    uidAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'
    

    ############################################################################################
    ###                        PARAMETRI RICERCA NOTIFICA ACCETTATA                         ###
    ############################################################################################
    notificationSearchStartDate:
      name: startDate
      in: query
      required: true
      description: data/ora di inizio dell'intervallo entro cui eseguire la ricercva
      schema:
        type: string
        format: date-time
    notificationSearchEndDate:
      name: endDate
      in: query
      required: true
      description: data/ora di fine dell'intervallo entro cui eseguire la ricercva
      schema:
        type: string
        format: date-time
    notificationSearchRecipientId:
      name: recipientId
      in: query
      required: false
      description: identificativo del destinatario
      schema:
        type: string
    notificationSearchStatus:
      name: status
      in: query
      required: false
      description: stato della notifica
      schema:
        $ref: './schemas-pn-notification-v1.yaml#/components/schemas/NotificationStatus'
    notificationSearchSubject:
      name: subjectRegExp
      in: query
      required: false
      schema:
        type: string
    notificationSearchIun:
      name: iunMatch
      in: query
      required: false
      schema:
        type: string
    notificationSearchPageSize:
      name: size
      in: query
      required: false
      schema:
        type: integer
        format: int32
    notificationSearchNextPagesKey:
      name: nextPagesKey
      in: query
      required: false
      schema:
        type: string
    

    ############################################################################################
    ###                             PARAMETRI DOWNLOAD DOCUMENTI                             ###
    ############################################################################################
    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
    pathDocumentIdx:
      name: docIdx
      in: path
      required: true
      schema:
        type: number
    pathRecipientIdx:
      name: recipientIdx
      in: path
      required: true
      schema:
        type: number
    pathAttachmentName:
      name: attachmentName
      in: path
      required: true
      schema:
        oneOf:
          - type: number
          - type: string
            enum:
              - PAGOPA
              - F24_FLAT
              - F24_DIGITAL
              - F24_DIGITAL_WITH_RS
              - F24_ANALOG_NATIONAL_1
              - F24_ANALOG_NATIONAL_2
              - F24_ANALOG_INTERNATIONAL_1
              - F24_ANALOG_INTERNATIONAL_2


