openapi: 3.0.3
info:
  title: 'Piattaforma Notifiche: API B2B per le Pubbliche Amministrazioni'
  version: v1.0
  description: >- 
    ## Abstract
      API utilizzate dal portale di Piattaforma Notifiche dedicato alle Pubbliche Amministrazioni
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: 'https://da-definire/'
servers:
- url: https://webapi.pn.pagopa.it
  description: Ambiente di produzione
- url: https://webapi.uat.pn.pagopa.it
  description: Ambiente di test
- url: https://webapi.dev.pn.pagopa.it
  description: Ambiente di sviluppo
tags:
  - name: SenderRead
    description: >-
      Invocazioni utilizzabili dai mittenti per verificare lo stato delle notifiche inviate


paths:
    ###########################################################################################
    ###                                  RICERCA NOTIFICHE                                  ###
    ###########################################################################################
  "/delivery/notifications/sent":
    get:    
      summary: Ricerca notifiche inviate
      description: >-
        servizio di consultazione dello stato di invio delle notifiche individuate dai parametri 
        di rcerca specificati
      tags:
        - SenderRead
      operationId: searchSentNotification
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'
        - $ref: '#/components/parameters/cxTypeAuthFleet'
        - $ref: '#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/cxGroupsAuthFleet'        
        - $ref: '#/components/parameters/notificationSearchStartDate'
        - $ref: '#/components/parameters/notificationSearchEndDate'
        - $ref: '#/components/parameters/notificationSearchRecipientId'
        - $ref: '#/components/parameters/notificationSearchStatus'
        - $ref: '#/components/parameters/notificationSearchSubject'
        - $ref: '#/components/parameters/notificationSearchIun'
        - $ref: '#/components/parameters/notificationSearchPageSize'
        - $ref: '#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResultPaginationDtoNotificationSearchRow'
        '400':
          description: Bad request       
          content:
            application/json:
              schema:
                $ref: './schemas-pn-errors-v1.yaml#/components/schemas/Problem'



components:
  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'
    cxIdAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'
    cxGroupsAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'
    uidAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'
    

    ############################################################################################
    ###                        PARAMETRI RICERCA NOTIFICA ACCETTATA                         ###
    ############################################################################################
    notificationSearchStartDate:
      name: startDate
      in: query
      required: true
      description: data/ora di inizio dell'intervallo entro cui eseguire la ricercva
      schema:
        type: string
        format: date-time
    notificationSearchEndDate:
      name: endDate
      in: query
      required: true
      description: data/ora di fine dell'intervallo entro cui eseguire la ricercva
      schema:
        type: string
        format: date-time
    notificationSearchRecipientId:
      name: recipientId
      in: query
      required: false
      description: identificativo del destinatario
      schema:
        type: string
    notificationSearchStatus:
      name: status
      in: query
      required: false
      description: stato della notifica
      schema:
        $ref: '#/components/schemas/NotificationStatus'
    notificationSearchSubject:
      name: subjectRegExp
      in: query
      required: false
      schema:
        type: string
    notificationSearchIun:
      name: iunMatch
      in: query
      required: false
      schema:
        type: string
    notificationSearchPageSize:
      name: size
      in: query
      required: false
      schema:
        type: integer
        format: int32
    notificationSearchNextPagesKey:
      name: nextPagesKey
      in: query
      required: false
      schema:
        type: string

  schemas:
    

    ############################################################################################
    ###                             RISULTATO RICERCA NOTIFICHE                              ###
    ############################################################################################
    
    ResultPaginationDtoNotificationSearchRow:
      type: object
      properties:
        result:
          type: array
          items:
            $ref: '#/components/schemas/NotificationSearchRow'
        moreResult:
          type: boolean
        nextPagesKey:
          type: array
          items:
            type: string

    NotificationSearchRow:
      type: object
      properties:
        iun:
          type: string
          description: Identificativo Univoco Notifica
        paNotificationId:
          type: string
          description: Numero protocollo associato alla notifica da parte della PA
        sender:
          type: string
          description: Denominazione della PA che ha inviato l'atto.
        sentAt:
          type: string
          description: Data spedizione notifica
          format: date-time
        subject:
          type: string
          description: Oggetto della notifica
        notificationStatus:
          $ref: '#/components/schemas/NotificationStatus'
        recipients:
          description: Elenco delle denominazioni dei destinatari della notifica
          type: array
          items:
            type: string
    
    NotificationStatus:
      $ref: './remote-refs.yaml#/components/schemas/NotificationStatus'
    