openapi: 3.0.3
info:
  termsOfService: https://termofservice.it
  x-api-id: api-internal-web-pa
  title: 'Piattaforma Notifiche: API per il Front End delle PA'
  x-summary: 'Piattaforma Notifiche: API per il Front End delle PA'
  version: 1.0.0
  description: |-
    ## Abstract
      API utilizzate dal portale di Piattaforma Notifiche dedicato alle Pubbliche Amministrazioni
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
servers:
  - url: https://api.pn.pagopa.it
    description: Ambiente di produzione
  - url: https://api.coll.pn.pagopa.it
    description: Ambiente di collaudo
  - url: https://api.svil.pn.pagopa.it
    description: Ambiente di test
  - url: https://api.dev.pn.pagopa.it
    description: Ambiente di sviluppo
tags:
  - name: HealthCheck
    description: 'Invocazioni per sapere lo stato di Piattaforma Notifiche # il servizio è ancora in fase di sviluppo'
  - name: NewNotification
    description: Invocazioni per effettuare il pre-caricamento dei documenti della notifica e inviare notifiche
  - name: SenderReadB2B
    description: Invocazioni utilizzabili dai mittenti per verificare lo stato delle richieste  di notifica inviate e delle notifiche accettate.
  - name: NotificationPrice
    description: Invocazioni per determinare il costo della notifica per il destinatario.
  - name: LegalFacts
    description: Invocazioni per effettuare il download degli atti opponibili a terzi
  - name: PaymentEvents
    description: Invocazioni per comunicare eventi di pagamento dalla PA
paths:
  /status:
    get:
      summary: status path
      description: status path per verificare lo stato di Piattaforma Notifiche
      tags:
        - HealthCheck
      operationId: status
      responses:
        '200':
          description: Ok
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PnStatusResponse'
              example:
                functionalities:
                  - NOTIFICATION_CREATE
                  - NOTIFICATION_VISUALIZATION
                  - NOTIFICATION_WORKFLOW
                openIncidents: []
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/PnStatusResponse'
              example:
                functionalities:
                  - NOTIFICATION_CREATE
                  - NOTIFICATION_VISUALIZATION
                  - NOTIFICATION_WORKFLOW
                openIncidents:
                  - functionality: NOTIFICATION_CREATE
                    status: KO
                    startDate: '2019-08-24T14:15:22Z'
  /delivery/notifications/sent/{iun}:
    get:
      summary: 'Mittente: lettura dettagli notifica'
      description: Questa operazione permette di leggere tutti i dettagli di una notifica accettata. <br/>
      tags:
        - SenderReadB2B
      operationId: retrieveSentNotification
      x-pagopa-lambda-name: ilNomeDellaLambda
      x-pagopa-lambda-account: core
      parameters:
        - $ref: '#/components/parameters/pathIun'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullSentNotification'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  parameters:
    pathIun:
      description: Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
  schemas:
    PnStatusResponse:
      title: Stato attuale di PN
      description: Elenco delle funzionalità della piattaforma ed elenco dei disservizi noti e attivi  al momento della richiesta. I disservizi (_openIncidents_) segnalati sono al più uno  per funzionalità; gli attributi _endDate_ e _legalFactId_ non saranno valorizzati.
      type: object
      required:
        - functionalities
        - openIncidents
      properties:
        status:
          description: Bad Request
          example: 400
          exclusiveMaximum: true
          format: int32
          maximum: 600
          minimum: 100
          type: integer
        title:
          description: The server cannot process the request
          example: Bad Request
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
        detail:
          description: The server cannot process the request
          example: Bad Request
          maxLength: 4096
          pattern: ^.{0,4096}$
          type: string
        functionalities:
          title: elenco funzionalità di PN
          description: Un array che comprende tutti i possibili valori dell'enum _PnFunctionality_
          type: array
          items:
            $ref: '#/components/schemas/PnFunctionality'
        openIncidents:
          title: elenco disservizi correnti
          description: Al più uno per funzionalità
          type: array
          items:
            $ref: '#/components/schemas/PnDowntimeEntry'
    FullSentNotification:
      description: Le informazioni riguardanti una notifica (richiesta di notifica accettata) e il  processo di inoltro della notifica verso il cittadino.
      allOf:
        - $ref: '#/components/schemas/SentNotification'
        - type: object
          required:
            - notificationStatus
            - notificationStatusHistory
            - timeline
          properties:
            notificationStatus:
              $ref: '#/components/schemas/NotificationStatus'
            notificationStatusHistory:
              $ref: '#/components/schemas/NotificationStatusHistory'
            timeline:
              description: elenco dettagliato di tutto ciò che è accaduto durrante il processo di notifica
              type: array
              items:
                $ref: '#/components/schemas/TimelineElement'
    TimelineElement:
      type: object
      additionalProperties: false
      properties:
        elementId:
          type: string
          description: 'Identificativo dell''elemento di timeline: insieme allo IUN della notifica definisce in  maniera univoca l''elemento di timeline'
        timestamp:
          type: string
          description: Momento in cui avviene l'evento descritto in questo elemento di timeline
          format: date-time
        legalFactsIds:
          type: array
          items:
            $ref: '#/components/schemas/LegalFactsId'
          description: Chiavi dei documenti che provano l'effettivo accadimento dell'evento descritto in timeline. Questo elemento
        category:
          $ref: '#/components/schemas/TimelineElementCategory'
        details:
          $ref: '#/components/schemas/TimelineElementDetails'
    NotificationStatus:
      type: string
      description: |
        stato di avanzamento del processo di notifica:
          * `IN_VALIDATION` - notifica depositata in attesa di validazione
          * `ACCEPTED` - L'ente ha depositato la notifica con successo
          * `REFUSED` - Notifica rifiutata a seguito della validazione
          * `DELIVERING` - L'invio della notifica è in corso
          * `DELIVERED` - La notifica è stata consegnata a tutti i destinatari
          * `VIEWED` - Il destinatario ha letto la notifica entro il termine stabilito
          * `EFFECTIVE_DATE` - Il destinatario non ha letto la notifica entro il termine stabilito
          * `PAID` - Uno dei destinatari ha pagato la notifica
          * `UNREACHABLE` - Il destinatario non è reperibile
          * `CANCELLED` - L'ente ha annullato l'invio della notifica
      enum:
        - IN_VALIDATION
        - ACCEPTED
        - REFUSED
        - DELIVERING
        - DELIVERED
        - VIEWED
        - EFFECTIVE_DATE
        - PAID
        - UNREACHABLE
        - CANCELLED
    NotificationStatusHistory:
      description: elenco degli avanzamenti effettuati dal processo di notifica
      type: array
      items:
        $ref: '#/components/schemas/NotificationStatusHistoryElement'
    Problem:
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: The HTTP status code generated by the origin server for this occurrence of the problem.
          type: integer
          format: int32
          example: 503
          maximum: 600
          minimum: 100
          exclusiveMaximum: true
        title:
          description: A short, summary of the problem type. Written in english and readable
          example: Service Unavailable
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: ^.{0,4096}$
          type: string
        traceId:
          description: Internal support identifier associated to error
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        timestamp:
          description: date and time referred to UTC
          example: '2022-07-27T12:22:33.444Z'
          type: string
          format: date-time
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProblemError'
      required:
        - status
        - errors
    ProblemError:
      properties:
        code:
          description: Internal code of the error, in human-readable format
          example: PN_PARAMETER_TOO_LONG | PN_PARAMETER_TOO_SHORT | PN_DUPLICATE_ENTRY | etc...
          type: string
        element:
          description: Parameter or request body field name for validation error
          example: body.order.item[2].quantity
          type: string
        detail:
          description: A human readable explanation specific to this occurrence of the problem.
          example: Parameter not valid
          maxLength: 1024
          type: string
      required:
        - code
    PnFunctionality:
      title: Funzionalità di PN
      description: |-
        - __NOTIFICATION_CREATE__: la possibilità di creare nuove notifiche.
        - __NOTIFICATION_VISUALIZATION__: la possibilità di visualizzare le notifiche e scaricare gli atti. 
        - __NOTIFICATION_WORKFLOW__: l'avanzamento del processo di notifica. 
      type: string
      enum:
        - NOTIFICATION_CREATE
        - NOTIFICATION_VISUALIZATION
        - NOTIFICATION_WORKFLOW
      x-enum-varnames:
        - NOTIFICATION_CREATE
        - NOTIFICATION_VISUALIZATION
        - NOTIFICATION_WORKFLOW
    PnFunctionalityStatus:
      type: string
      enum:
        - KO
        - OK
    PnDowntimeEntry:
      title: Dati relativi ad un disservizio di PN.
      type: object
      required:
        - functionality
        - status
        - startDate
      properties:
        functionality:
          $ref: '#/components/schemas/PnFunctionality'
        status:
          $ref: '#/components/schemas/PnFunctionalityStatus'
        startDate:
          title: data inizio disservizio
          type: string
          format: date-time
        endDate:
          title: data fine disservizio
          description: se il disservizio è ancora attivo questo campo sarà assente o con valore _null_
          type: string
          format: date-time
        legalFactId:
          title: id dell'atto opponibile a terzi
          description: Se assente o valorizzato _null_ indica che l'atto opponibile a terzi non è ancora disponibile. Questo avviene per i disservizi ancora aperti e per i disservizi  terminati da pochi minuti. <br/> Questo valore è da utilizzare con l'API _getLegalFact_ di questo stesso servizio.
          type: string
        fileAvailable:
          type: boolean
    TaxId:
      description: C.F. persona fisica o persona giuridica (Partita iva)
      type: string
      minLength: 11
      maxLength: 16
      pattern: ^([A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})|([0-9]{11})$
    Denomination:
      description: Denominazione ente o persona fisica / ragione sociale
      type: string
      minLength: 1
      maxLength: 80
      pattern: ^.*$
    NotificationDigitalAddress:
      description: Indirizzo di invio della notifica
      required:
        - address
        - type
      type: object
      properties:
        type:
          type: string
          description: tipo di indirizzo PEC, REM, SERCQ, ...
          enum:
            - PEC
        address:
          type: string
          example: account@domain.it
          description: Indirizzo PEC o REM che il mittente della notifica intende utilizzare per  raggiungere il destinatario.
          pattern: ^([a-zA-Z0-9]+(?:[.\-_][a-zA-Z0-9]+){0,10}@[a-zA-Z0-9]+(?:[.-][a-zA-Z0-9]+){0,10}(?:\.[a-zA-Z0-9]{2,10}))$
          maxLength: 320
    NotificationPhysicalAddress:
      description: Indirizzo fisico
      type: object
      required:
        - address
        - municipality
      properties:
        at:
          type: string
          description: Campo "presso" dell'indirizzo
          pattern: ^.*$
          maxLength: 256
        address:
          type: string
          description: Indirizzo del domicilio fisico
          pattern: ^.*$
          minLength: 2
          maxLength: 1024
        addressDetails:
          type: string
          description: Seconda riga dell'indirizzo fisico
          pattern: ^.*$
          maxLength: 1024
        zip:
          type: string
          description: Codice di avviamento postale. In caso di invio estero diventa facoltativo
          minLength: 0
          maxLength: 15
          pattern: ^(\w|\ |\-)*$
        municipality:
          type: string
          description: Comune
          pattern: ^.*$
          minLength: 2
          maxLength: 256
        municipalityDetails:
          type: string
          description: Frazione o località
          pattern: ^.*$
          maxLength: 256
        province:
          type: string
          description: Provincia
          pattern: ^.*$
          maxLength: 256
        foreignState:
          type: string
          description: Denominazione paese estero
          pattern: ^.*$
          maxLength: 256
    noticeCode:
      description: Payment notice number  numero avviso
      example: '302000100000019421'
      type: string
      maxLength: 18
      minLength: 18
      pattern: ^\d+$
    paTaxId:
      description: Payment PA fiscal code
      example: '77777777777'
      type: string
      maxLength: 11
      minLength: 11
      pattern: ^\d+$
    NotificationAttachmentDigests:
      description: Codici per la verifica del corretto caricamento di un allegato
      type: object
      required:
        - sha256
      properties:
        sha256:
          type: string
          description: Digest "sha256" della codifica binaria dell'allegato in base64
          example: jezIVxlG1M1woCSUngM6KipUN3/p8cG5RMIPnuEanlE=
          minLength: 44
          maxLength: 44
          pattern: ^[A-Za-z0-9+\/]{43}=|[A-Za-z0-9+\/]{44}$
    NotificationAttachmentBodyRef:
      description: Riferimento all'allegato precaricato
      required:
        - key
        - versionToken
      type: object
      properties:
        key:
          type: string
          description: Chiave in cui è stato salvato l'allegato
          maxLength: 512
          pattern: ^(safestorage:\/\/)?[A-Za-z0-9._-]+$
        versionToken:
          type: string
          description: Token per recuperare l'esatta istanza dell'allegato, che dovrà coincidere con l'__x-amz-version-id__ ottenuto nell'header della response in fase di upload del documento ad esso associato.
          pattern: ^.*$
          maxLength: 256
    NotificationAttachment:
      description: Un allegato della notifica.
      type: object
      required:
        - digests
        - contentType
        - ref
      properties:
        digests:
          $ref: '#/components/schemas/NotificationAttachmentDigests'
        contentType:
          type: string
          description: tipo di contenuto dell'allegato, supportato application/pdf
          minLength: 15
          maxLength: 15
          pattern: ^application\/pdf$
        ref:
          $ref: '#/components/schemas/NotificationAttachmentBodyRef'
    NotificationPaymentAttachment:
      description: Un modulo di pagamento allegato alla notifica
      allOf:
        - $ref: '#/components/schemas/NotificationAttachment'
    NotificationPaymentInfo:
      title: Informazioni per effettuare il pagamento
      description: |-
        Informazioni utili per effettuare il pagamento di una notifica, sono associate al destinatario perché le spese di notifica possono differire a seconda del canale di notifica utilizzato. <br/>
          - _noticeCode_: "codice avviso pagoPA" di pagamento del sistema pagoPA, usato per pagamento online.<br/>
          - _creditorTaxId_: codice fiscale dell'ente a cui fa riferimento il "codice avviso pagoPA". <br/>
          - _pagoPaForm_: riferimento al PDF contenete il bollettino pagoPA<br/>
      type: object
      required:
        - noticeCode
        - creditorTaxId
      properties:
        noticeCode:
          $ref: '#/components/schemas/noticeCode'
        creditorTaxId:
          $ref: '#/components/schemas/paTaxId'
        noticeCodeAlternative:
          $ref: '#/components/schemas/noticeCode'
        pagoPaForm:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
    NotificationRecipient:
      description: Informazioni sui destinatari
      required:
        - denomination
        - recipientType
        - taxId
        - physicalAddress
      type: object
      properties:
        recipientType:
          type: string
          description: 'Tipologia di destinatario: Persona Fisica (PF) o Persona Giuridica (PG)'
          enum:
            - PF
            - PG
        taxId:
          $ref: '#/components/schemas/TaxId'
        denomination:
          $ref: '#/components/schemas/Denomination'
        digitalDomicile:
          $ref: '#/components/schemas/NotificationDigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/NotificationPhysicalAddress'
        payment:
          $ref: '#/components/schemas/NotificationPaymentInfo'
    NotificationDocument:
      description: Un documento da notificare
      allOf:
        - $ref: '#/components/schemas/NotificationAttachment'
        - type: object
          properties:
            title:
              type: string
              description: Titolo del documento allegato. Stringa alfanumerica con caratteri utilizzabili in un nome file.
              minLength: 1
              maxLength: 512
              pattern: ^.*$
            docIdx:
              type: string
              description: Indice del documento partendo da 0.
              maxLength: 3
              pattern: ^\d+$
    NotificationFeePolicy:
      type: string
      description: 'Politica di addebitamento dei costi di notifica. <br/> - _FLAT_RATE_: costo forfettario fisso. <br/> - _DELIVERY_MODE_: costo calcolato in base all''effettivo percorso di notifica. <br/>'
      enum:
        - FLAT_RATE
        - DELIVERY_MODE
    IUN:
      description: Identificativo Univoco Notifica
      type: string
      minLength: 25
      maxLength: 25
      pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
    NewNotificationRequest:
      description: I campi utilizzati per la creazione di una nuova Notifica.
      type: object
      required:
        - paProtocolNumber
        - subject
        - recipients
        - documents
        - physicalCommunicationType
        - notificationFeePolicy
        - senderDenomination
        - senderTaxId
      properties:
        idempotenceToken:
          description: Identificativo utilizzabile dal chiamante per disambiguare differenti  "richieste di notificazione" effettuate con lo stesso numero di protocollo  (campo _paProtocolNumber_). Questo può essere necessario in caso di  "richiesta di notifica" rifiutata per errori nei codici di verifica degli allegati.
          type: string
          pattern: ^[ -~]*$
          maxLength: 256
        paProtocolNumber:
          description: Numero di protocollo che la PA mittente assegna alla notifica stessa
          type: string
          pattern: ^.*$
          maxLength: 256
        subject:
          type: string
          description: titolo della notifica
          minLength: 10
          maxLength: 134
          pattern: ^.*$
        abstract:
          type: string
          description: descrizione sintetica della notifica
          pattern: ^.*$
          maxLength: 1024
        recipients:
          type: array
          description: Informazioni sui destinatari
          items:
            $ref: '#/components/schemas/NotificationRecipient'
        documents:
          type: array
          description: Documenti notificati
          items:
            $ref: '#/components/schemas/NotificationDocument'
          minItems: 1
        notificationFeePolicy:
          $ref: '#/components/schemas/NotificationFeePolicy'
        cancelledIun:
          $ref: '#/components/schemas/IUN'
        physicalCommunicationType:
          type: string
          description: Tipologia comunicazione fisica
          enum:
            - AR_REGISTERED_LETTER
            - REGISTERED_LETTER_890
        senderDenomination:
          $ref: '#/components/schemas/Denomination'
        senderTaxId:
          $ref: '#/components/schemas/paTaxId'
        group:
          type: string
          description: Gruppo di utenti dell'ente mittente che può visualizzare la notifica
          pattern: ^[ -~]*$
          maxLength: 1024
        amount:
          type: integer
          format: int32
          description: Importo della notifica in eurocent
        paymentExpirationDate:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          description: Data di scadenza del pagamento nel formato YYYY-MM-DD riferito all'Italia
        taxonomyCode:
          type: string
          minLength: 7
          maxLength: 7
          pattern: ^([0-9]{6}[A-Z]{1})$
          description: 'Codice tassonomico della notifica basato sulla definizione presente nell''allegato 2 capitolo C del bando [__AVVISO PUBBLICO MISURA 1.4.5 PIATTAFORMA NOTIFICHE DIGITALI__](https://pnrrcomuni.fondazioneifel.it/bandi_public/Bando/325)      '
          default: 010101P
        pagoPaIntMode:
          type: string
          description: 'Modalitá di integrazione pagoPA per l''attualizazione del costo della notifica. <br/> - _NONE_: nessuna attualizzazione. <br/> - _SYNC_: modalitá sincrona. <br/>'
          enum:
            - NONE
            - SYNC
    SentNotification:
      description: Le informazioni riguardanti una richiesta di notifica accettata
      allOf:
        - $ref: '#/components/schemas/NewNotificationRequest'
        - type: object
          required:
            - iun
            - sentAt
          properties:
            senderPaId:
              type: string
              description: Identificativo (non IPA) della PA mittente che ha eseguito l'onboarding su SelfCare.
              pattern: ^.*$
              maxLength: 256
            iun:
              $ref: '#/components/schemas/IUN'
            sentAt:
              type: string
              description: Momento di ricezione della notifica da parte di PN
              format: date-time
            cancelledByIun:
              $ref: '#/components/schemas/IUN'
            documentsAvailable:
              type: boolean
              description: Indica se i documenti notificati sono ancora disponibili.
    TimelineElementId:
      type: string
    NotificationStatusHistoryElement:
      description: elenco degli avanzamenti effettuati dal processo di notifica
      type: object
      required:
        - status
        - activeFrom
        - relatedTimelineElements
      properties:
        status:
          $ref: '#/components/schemas/NotificationStatus'
        activeFrom:
          type: string
          description: data e ora di raggiungimento dello stato di avanzamento
          format: date-time
        relatedTimelineElements:
          type: array
          description: Eventi avvenuti nello stato
          items:
            $ref: '#/components/schemas/TimelineElementId'
    LegalFactCategory:
      title: Tipi di atti opponibili a terzi
      description: |-
        Tipi di atti opponibili a terzi che Piattaforma Notifiche mette a disposizione dei suoi utenti.
          - _SENDER_ACK_: atto di "presa in carico" di una notifica
          - _DIGITAL_DELIVERY_: ...
      type: string
      enum:
        - SENDER_ACK
        - DIGITAL_DELIVERY
        - ANALOG_DELIVERY
        - RECIPIENT_ACCESS
        - PEC_RECEIPT
        - ANALOG_FAILURE_DELIVERY
    LegalFactsId:
      description: Chiavi dei documenti generati durante il processo di consegna cartacea
      type: object
      required:
        - key
        - category
      properties:
        key:
          description: Chiave dell'atto opponibile a terzi generato durante il processo di consegna
          type: string
          pattern: ^(safestorage:\/\/)?[A-Za-z0-9._-]+$
          maxLength: 512
        category:
          $ref: '#/components/schemas/LegalFactCategory'
    TimelineElementCategory:
      type: string
      description: |
        stato di avanzamento del processo di notifica:`
          * `SENDER_ACK_CREATION_REQUEST` - Invio della richiesta di creazione dell'atto opponibile a terzi di presa in carico per il mittente a safe storage
          * `VALIDATE_NORMALIZE_ADDRESSES_REQUEST` - Invio della richiesta di validazione e normalizzazione indirizzi fisici presenti nella richiesta di notifica
          * `NORMALIZED_ADDRESS` - Salvataggio indirizzi normalizzati
          * `REQUEST_ACCEPTED` - Richiesta di notifica accettata a seguito dei controlli di validazione
          * `REQUEST_REFUSED` - Richiesta di notifica rifiutata per fallimento di validazione
          * `SEND_COURTESY_MESSAGE` - Invio di un messaggio di cortesia
          * `GET_ADDRESS` - Disponibilità dell’indirizzo specifico (domicilio digitale di piattaforma, domicilio digitale speciale, domicilio digitale generale, indirizzo fisico sulla notifica o sui registri nazionali)
          * `PUBLIC_REGISTRY_CALL` - Richiesta ai registri pubblici per ottenere domicilio digitale generale o per ottenere indirizzo fisico da ANPR, da registro della imprese, da anagrafe tributaria.
          * `PUBLIC_REGISTRY_RESPONSE` - Ricevuta la risposta dei registri pubblici
          * `SCHEDULE_ANALOG_WORKFLOW` - Pianificazione del workflow per invio cartaceo
          * `SCHEDULE_DIGITAL_WORKFLOW` -Pianificazione del workflow per invio digitale (PEC) del secondo tentativo in caso di fallimento del primo.
          * `PREPARE_DIGITAL_DOMICILE` - Preparazione per l’invio dell’avviso digitale.Va a valutare la timeline per capire quale sarà il prossimo indirizzo da usare.
          * `SEND_DIGITAL_DOMICILE` - Invio digitale dell’avviso di notifica
          * `SEND_DIGITAL_PROGRESS` - Tentativo di Invio PEC ad un determinato indirizzo.
          * `SEND_DIGITAL_FEEDBACK` - Ottenuto esito ad un invio digitale
          * `SCHEDULE_REFINEMENT` - Pianificato il perfezionamento per decorrenza termini
          * `REFINEMENT` - Perfezionamento per decorrenza termini
          * `DIGITAL_DELIVERY_CREATION_REQUEST` - Invio della richiesta di creazione dell'atto opponibile a terzi di chiusura del workflow digitale a safe storage
          * `DIGITAL_SUCCESS_WORKFLOW` - Completato con successo il workflow di invio digitale
          * `DIGITAL_FAILURE_WORKFLOW` - Completato con fallimento il workflow di invio digitale: tutti i tentativi di invio ai domicili digitali sono falliti.
          * `ANALOG_SUCCESS_WORKFLOW` - Completato con successo il workflow di invio cartaceo 
          * `ANALOG_FAILURE_WORKFLOW` - Completato con fallimento il workflow di invio cartaceo NOTA: se per tutti i destinatari si conclude il workflow con fallimento verrà scatenato l’evento COMPLETELY_UNREACHABLE
          * `PREPARE_SIMPLE_REGISTERED_LETTER` - Invio richiesta di prepare (preparazione ad invio) raccomandata semplice a paperChannel
          * `SEND_SIMPLE_REGISTERED_LETTER` - Invio di raccomandata semplice
          * `SEND_SIMPLE_REGISTERED_LETTER_PROGRESS` - Ricezione informazioni intermedia relative ad una notificazione cartacea semplice
          * `NOTIFICATION_VIEWED_CREATION_REQUEST` - Invio della richiesta di creazione dell'atto opponibile a terzi di presa visione a safe storage
          * `NOTIFICATION_VIEWED` - Visualizzazione della notifica (perfeziona la notifica se non già perfezionata per decorrenza termini o da altro destinatario)
          * `PREPARE_ANALOG_DOMICILE` - Invio richiesta di prepare (preparazione ad invio) cartaceo a paperChannel
          * `SEND_ANALOG_DOMICILE` - Invio cartaceo dell’avviso di notifica
          * `SEND_ANALOG_PROGRESS` - Ricezione informazioni intermedia relative ad una notificazione cartacea
          * `SEND_ANALOG_FEEDBACK` - Ricezione esito dell'invio cartaceo
          * `COMPLETELY_UNREACHABLE_CREATION_REQUEST` - Invio della richiesta di creazione dell'atto (simile a opponibile a terzi) di completamento con fallimento del workflow di invio cartaceo
          * `COMPLETELY_UNREACHABLE` - Tutti i destinatari risultano irraggiungibili
          * `AAR_CREATION_REQUEST` - Invio della richiesta di creazione dell'AAR (Avviso di Avvenuta Ricezione) a safe storage 
          * `AAR_GENERATION` - Generazione dell’AAR (Avviso di Avvenuta Ricezione)
          * `PAYMENT` - Ricezione pagamento della notifica
          * `NOT_HANDLED` - Per la sperimentazione l'invio analogico non è previsto, viene inserito tale elemento di timeline
          * `PROBABLE_SCHEDULING_ANALOG_DATE` - Data probabile di inizio del flusso analogico
      enum:
        - SENDER_ACK_CREATION_REQUEST
        - VALIDATE_NORMALIZE_ADDRESSES_REQUEST
        - NORMALIZED_ADDRESS
        - REQUEST_ACCEPTED
        - SEND_COURTESY_MESSAGE
        - GET_ADDRESS
        - PUBLIC_REGISTRY_CALL
        - PUBLIC_REGISTRY_RESPONSE
        - SCHEDULE_ANALOG_WORKFLOW
        - SCHEDULE_DIGITAL_WORKFLOW
        - PREPARE_DIGITAL_DOMICILE
        - SEND_DIGITAL_DOMICILE
        - SEND_DIGITAL_PROGRESS
        - SEND_DIGITAL_FEEDBACK
        - REFINEMENT
        - SCHEDULE_REFINEMENT
        - DIGITAL_DELIVERY_CREATION_REQUEST
        - DIGITAL_SUCCESS_WORKFLOW
        - DIGITAL_FAILURE_WORKFLOW
        - ANALOG_SUCCESS_WORKFLOW
        - ANALOG_FAILURE_WORKFLOW
        - PREPARE_SIMPLE_REGISTERED_LETTER
        - SEND_SIMPLE_REGISTERED_LETTER
        - SEND_SIMPLE_REGISTERED_LETTER_PROGRESS
        - NOTIFICATION_VIEWED_CREATION_REQUEST
        - NOTIFICATION_VIEWED
        - PREPARE_ANALOG_DOMICILE
        - SEND_ANALOG_DOMICILE
        - SEND_ANALOG_PROGRESS
        - SEND_ANALOG_FEEDBACK
        - PAYMENT
        - COMPLETELY_UNREACHABLE
        - COMPLETELY_UNREACHABLE_CREATION_REQUEST
        - REQUEST_REFUSED
        - AAR_CREATION_REQUEST
        - AAR_GENERATION
        - NOT_HANDLED
        - PROBABLE_SCHEDULING_ANALOG_DATE
    SenderAckCreationRequestDetails:
      type: object
      properties:
        legalFactId:
          type: string
          description: Identificativo dell'atto opponibile a terzi del quale è stata richiesta la creazione
    PhysicalAddress:
      type: object
      required:
        - address
        - municipality
      properties:
        at:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Campo "presso" dell'indirizzo
        address:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Indirizzo del domicilio fisico
        addressDetails:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Seconda riga dell'indirizzo fisico
        zip:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Codice di avviamento postale. In caso di invio estero diventa facoltativo
        municipality:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Comune in cui l'indirizzo si trova
        municipalityDetails:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Frazione o località
        province:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Provincia in cui si trova l'indirizzo
        foreignState:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Denominazione paese estero
      description: Indirizzo fisico scoperto durante fase di consegna
    NormalizedAddressDetails:
      type: object
      required:
        - recIndex
        - oldAddress
        - normalizedAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        oldAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        normalizedAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    NotificationRequestAcceptedDetails:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    AnalogFailureWorkflowDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        generatedAarUrl:
          type: string
          description: Chiave per recupero da safe-storage del documento aar
    AnalogSuccessWorkflowDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    EndWorkflowStatus:
      type: string
      description: Stato chiusura workflow
      enum:
        - SUCCESS
        - FAILURE
    CompletelyUnreachableCreationRequestDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        legalfactId:
          type: string
          description: Identificativo dell'atto opponibile a terzi del quale è stata richiesta la creazione
        endWorkflowStatus:
          $ref: '#/components/schemas/EndWorkflowStatus'
        completionWorkflowDate:
          type: string
          description: Data chiusura workflow
          format: date-time
    CompletelyUnreachableDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        legalFactGenerationDate:
          type: string
          description: Data generazione atto opponibile a terzi allegato
          format: date-time
    DigitalAddress:
      description: Indirizzo di invio della notifica
      required:
        - address
        - type
      type: object
      properties:
        type:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: tipo di indirizzo PEC, REM, SERCQ, ...
        address:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: account@domain
    DigitalDeliveryCreationRequestDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        endWorkflowStatus:
          $ref: '#/components/schemas/EndWorkflowStatus'
        completionWorkflowDate:
          type: string
          description: Data chiusura workflow
          format: date-time
        legalfactId:
          type: string
          description: Identificativo dell'atto opponibile a terzi del quale è stata richiesta la creazione
    DigitalFailureWorkflowDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    DigitalSuccessWorkflowDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
    DigitalAddressSource:
      type: string
      description: sorgente indirizzo di invio della notifica
      enum:
        - PLATFORM
        - SPECIAL
        - GENERAL
    GetAddressInfoDetails:
      type: object
      required:
        - recIndex
        - digitalAddressSource
        - isAvailable
        - attemptDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        isAvailable:
          type: boolean
          description: Disponibilità indirizzo
        attemptDate:
          type: string
          description: Data tentativo
          format: date-time
    RaddType:
      type: string
      description: |
        tipo di Rete Anti Digital Divide <br/>
        __FSU__: Fornitore Servizio Universale <br/>
    RaddTransactionId:
      type: string
      description: Identificativo della pratica all'interno della rete RADD
    RecipientType:
      type: string
      enum:
        - PF
        - PG
    DelegateInfo:
      type: object
      properties:
        internalId:
          type: string
        taxId:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
        operatorUuid:
          type: string
        mandateId:
          type: string
        denomination:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
        delegateType:
          $ref: '#/components/schemas/RecipientType'
    NotificationViewedCreationRequestDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        legalfactId:
          type: string
          description: Identificativo dell'atto opponibile a terzi del quale è stata richiesta la creazione
        eventTimestamp:
          type: string
          description: Data ricezione richiesta visualizzazione notifica
          format: date-time
        raddType:
          $ref: '#/components/schemas/RaddType'
        raddTransactionId:
          $ref: '#/components/schemas/RaddTransactionId'
        delegateInfo:
          $ref: '#/components/schemas/DelegateInfo'
    NotificationViewedDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        notificationCost:
          description: costo notifica in euro cents, può essere nullo se la notifica si è perfezionata prima per decorrenza termini
          example: 1220
          type: integer
          format: int64
        raddType:
          $ref: '#/components/schemas/RaddType'
        raddTransactionId:
          $ref: '#/components/schemas/RaddTransactionId'
        delegateInfo:
          $ref: '#/components/schemas/DelegateInfo'
    DeliveryMode:
      type: string
      description: Tipologia Domiciliazione
      enum:
        - DIGITAL
        - ANALOG
    ContactPhase:
      type: string
      description: Fase in cui è avvenuta la richiesta
      enum:
        - CHOOSE_DELIVERY
        - SEND_ATTEMPT
    PublicRegistryCallDetails:
      type: object
      required:
        - recIndex
        - deliveryMode
        - contactPhase
        - sentAttemptMade
        - sendDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        deliveryMode:
          $ref: '#/components/schemas/DeliveryMode'
        contactPhase:
          $ref: '#/components/schemas/ContactPhase'
        sentAttemptMade:
          type: integer
          description: Numero di tentativi di notificazione già effettuati
          format: int32
        sendDate:
          type: string
          description: Data invio richiesta ai public registry
          format: date-time
    PublicRegistryResponseDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    RefinementDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        notificationCost:
          description: costo notifica in euro cents, può essere nullo se la notifica si è perfezionata prima per visualizzazione
          example: 1220
          type: integer
          format: int64
    NotificationRefusedError:
      type: object
      properties:
        errorCode:
          type: string
          description: |-
            Errori di rifiuto della notifica.
              - FILE_NOTFOUND
              - FILE_SHA_ERROR
              - TAXID_NOT_VALID
              - SERVICE_UNAVAILABLE
              - FILE_PDF_INVALID_ERROR
              - FILE_PDF_TOOBIG_ERROR
              - NOT_VALID_ADDRESS
              - RECIPIENT_ID_NOT_VALID
        detail:
          type: string
    RequestRefusedDetails:
      type: object
      properties:
        refusalReasons:
          type: array
          description: Motivazioni che hanno portato al rifiuto della notifica
          items:
            $ref: '#/components/schemas/NotificationRefusedError'
    ScheduleAnalogWorkflowDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    ScheduleDigitalWorkflowDetails:
      type: object
      required:
        - recIndex
        - digitalAddressSource
        - sentAttemptMade
        - lastAttemptDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        sentAttemptMade:
          type: integer
          format: int32
        lastAttemptDate:
          type: string
          format: date-time
    ScheduleRefinementDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        schedulingDate:
          type: string
          format: date-time
    IoSendMessageResult:
      type: string
      description: Risultato invio messaggio su IO
      enum:
        - NOT_SENT_OPTIN_ALREADY_SENT
        - SENT_COURTESY
        - SENT_OPTIN
    SendCourtesyMessageDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
        - sendDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        sendDate:
          type: string
          description: data invio messaggio di cortesia
          format: date-time
        ioSendMessageResult:
          $ref: '#/components/schemas/IoSendMessageResult'
    PrepareDigitalDetails:
      type: object
      required:
        - recIndex
        - digitalAddressSource
        - retryNumber
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        attemptDate:
          type: string
          description: data tentativo precedente
          format: date-time
        nextDigitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        nextSourceAttemptsMade:
          type: integer
          description: numero del prossimo tentativo da effettuare
          format: int32
        nextLastAttemptMadeForSource:
          type: string
          description: data tentativo precedente per prossimo source
          format: date-time
    SendDigitalDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
        - digitalAddressSource
        - retryNumber
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
    ResponseStatus:
      type: string
      description: stato risposta ricevuta da externalChannel
      enum:
        - OK
        - KO
    SendingReceipt:
      type: object
      properties:
        id:
          type: string
        system:
          type: string
    SendDigitalFeedbackDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
        - responseStatus
        - notificationDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        deliveryFailureCause:
          description: Codice errore, vuoto in caso di successo
          type: string
        deliveryDetailCode:
          type: string
          description: |
            Stato - Codice relativo all'evento - Descrizione:
              - PROGRESS   C000 = PREACCETTAZIONE
              - PROGRESS   C001 = ACCETTAZIONE
              - PROGRESS   C005 = PRESA_IN_CARICO
              - PROGRESS   C007 = PREAVVISO_ERRORE_CONSEGNA
              - PROGRESS   DP00 = RE-INVIO PEC CAUSA FALLIMENTO TEMPORANEO
              - PROGRESS   DP10 = TIMEOUT RICEZIONE RISULTATO
              - ERROR      C002 = NON_ACCETTAZIONE
              - ERROR      C004 = ERRORE_CONSEGNA
              - ERROR      C006 = RILEVAZIONE_VIRUS
              - ERROR      C008 = ERRORE_COMUNICAZIONE_SERVER_PEC
              - ERROR      C009 = ERRORE_DOMINIO_PEC_NON_VALIDO
              - ERROR      C010 = ERROR_INVIO_PEC
              - OK         C003 = AVVENUTA_CONSEGNA
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
    SendDigitalProgressDetails:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        deliveryFailureCause:
          description: Codice errore, opzionale
          type: string
        deliveryDetailCode:
          type: string
          description: Vedi deliveryDetailCode in SendDigitalFeedbackDetails
        shouldRetry:
          type: boolean
          description: indica se il progress ha dato luogo ad un ritentativo
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
    ServiceLevel:
      type: string
      description: Livello Servizio
      enum:
        - AR_REGISTERED_LETTER
        - REGISTERED_LETTER_890
    BaseAnalogDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
        - serviceLevel
        - sentAttemptMade
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        relatedRequestId:
          type: string
          description: Id relativo alla eventuale precedente richiesta di invio cartaceo
    SendAnalogDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
        - serviceLevel
        - sentAttemptMade
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        relatedRequestId:
          type: string
          description: Id relativo alla eventuale precedente richiesta di invio cartaceo
        productType:
          type: string
          description: |
            Tipo di invio cartaceo effettivamente inviato
              - __AR__: Raccomandata nazionale Andata e Ritorno
              - __890__: Recapito a norma della legge 890/1982
              - __RIR__: Raccomandata internazionale Andata e Ritorno
        analogCost:
          type: integer
          description: costo in eurocent dell'invio
          format: int32
        numberOfPages:
          type: integer
          description: numero delle pagina che compongono la spedizione cartacea
          format: int32
        envelopeWeight:
          type: integer
          description: peso in grammi della busta
          format: int32
        prepareRequestId:
          type: string
          description: request id della relativa richiesta di prepare
    AttachmentDetails:
      type: object
      properties:
        id:
          type: string
        documentType:
          type: string
          description: |
            Codici documentType: - Plico: Indica il plico cartaceo - AR: Indica la ricevuta di ritorno - Indagine: Indica la ricevuta dell'analisi dell'indagine - 23L: Indica la ricevuta 23L
        url:
          type: string
        date:
          type: string
          format: date-time
    SendAnalogFeedbackDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
        - serviceLevel
        - sentAttemptMade
        - responseStatus
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        newAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        notificationDate:
          type: string
          format: date-time
        deliveryFailureCause:
          type: string
          description: |
            __Motivazione di mancata consegna__ obbligatorie negli stati di mancata consegna
              - __M01__ destinatario irreperibile
              - __M02__ destinatario deceduto
              - __M03__ destinatario sconosciuto
              - __M04__ destinatario trasferito
              - __M05__ invio rifiutato
              - __M06__ indirizzo inesatto
              - __M07__ indirizzo inesistente
              - __M08__ indirizzo insufficiente
              - __F01__ - in caso di furto
              - __F02__ - in caso di smarrimento
              - __F03__ - in caso di deterioramento
        deliveryDetailCode:
          type: string
          description: |
            Formato: - __deliveryDetailCode__- [prodotto] - [statusCode] - statusDescription
              - __CON080__- [ALL] - [PROGRESS] - Stampato ed Imbustato
              - __RECRS001C__- [RS] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRS002C__- [RS] - [KO] - Mancata consegna - Fascicolo Chiuso
              - __RECRS002F__- [RS] - [KO] - Irreperibilità Assoluta - Fascicolo Chiuso
              - __RECRS003C__- [RS] - [OK] - Consegnato presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRS004C__- [RS] - [OK] - Mancata consegna presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRS005C__- [RS] - [OK] - Compiuta giacenza - Fascicolo Chiuso
              - __RECRS006__- [RS] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECRN001C__- [AR] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRN002C__- [AR] - [KO] - Mancata consegna - Fascicolo Chiuso
              - __RECRN002F__- [AR] - [KO] - Irreperibilità Assoluta - Fascicolo Chiuso
              - __RECRN003C__- [AR] - [OK] - Consegnato presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRN004C__- [AR] - [KO] - Mancata consegna presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRN005C__- [AR] - [OK] - Compiuta giacenza - Fascicolo Chiuso
              - __RECRN006__- [AR] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECAG001C__- [890] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECAG002C__- [890] - [OK] - Consegnato a persona abilitata - Fascicolo Chiuso
              - __RECAG003C__- [890] - [KO] - Mancata consegna - Fascicolo Chiuso
              - __RECAG003F__- [890] - [KO] - Irreperibilità Assoluta - Fascicolo Chiuso
              - __RECAG004__- [890] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECAG005C__- [890] - [OK | PROGRESS] - Consegnato presso Punti di Giacenza - Fascicolo Chiuso
              - __RECAG006C__- [890] - [OK | PROGRESS] - Consegna a persona abilitata presso Punti di Giacenza - Fas. Ch.
              - __RECAG007C__- [890] - [KO | PROGRESS] - Mancata consegna presso Punti di Giacenza - Fascicolo Chiuso
              - __RECAG008C__- [890] - [PROGRESS] - Compiuta giacenza - Fascicolo Chiuso
              - __PNAG012__- [890] - [KO] - Distacco d'ufficio 23L - Fascicolo Chiuso
              - __RECRI003C__- [RIR] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRI004C__- [RIR] - [KO] - Non Consegnato - fascicolo Chiuso
              - __RECRI005__- [RIR] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECRSI003C__- [RIS] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRSI004C__- [RIS] - [KO] - Non Consegnato - fascicolo Chiuso
              - __RECRSI005__- [RIS] - [PROGRESS] - Furto/Smarrimento/deterioramento
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetails'
        sendRequestId:
          type: string
          description: RequestId della richiesta d'invio
        registeredLetterCode:
          type: string
          description: Codice della raccomandata
    BaseRegisteredLetterDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    SimpleRegisteredLetterDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        productType:
          type: string
          description: |
            Tipo di invio cartaceo effettivamente inviato
              - __RS__: Raccomandata nazionale Semplice (per Avviso di mancato Recapito)
              - __RIS__: Raccomandata internazionale Semplice
        analogCost:
          type: integer
          description: costo in eurocent dell'invio
          format: int32
        numberOfPages:
          type: integer
          description: numero delle pagina che compongono la spedizione cartacea
          format: int32
        envelopeWeight:
          type: integer
          description: peso in grammi della busta
          format: int32
        prepareRequestId:
          type: string
          description: request id della relativa richiesta di prepare
    AarCreationRequestDetails:
      type: object
      required:
        - recIndex
        - aarKey
        - numberOfPages
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        aarKey:
          type: string
          description: Chiave per recupero da safe-storage del documento aar
        numberOfPages:
          type: integer
          description: numero di pagine del PDF generato
          format: int32
    AarGenerationDetails:
      type: object
      required:
        - recIndex
        - generatedAarUrl
        - numberOfPages
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        generatedAarUrl:
          type: string
          description: Chiave per recupero da safe-storage del documento aar
        numberOfPages:
          type: integer
          description: numero di pagine del PDF generato
          format: int32
    NotHandledDetails:
      type: object
      required:
        - recIndex
        - reasonCode
        - reason
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        reasonCode:
          type: string
          description: Codice motivazione casistica non gestita
        reason:
          type: string
          description: Motivazione casistica non gestita
    NotificationPaidDetails:
      type: object
      required:
        - recIndex
        - recipientType
        - paymentSourceChannel
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        recipientType:
          $ref: '#/components/schemas/RecipientType'
        amount:
          type: integer
          description: Importo di pagamento in eurocent
          format: int32
        creditorTaxId:
          $ref: '#/components/schemas/paTaxId'
        noticeCode:
          $ref: '#/components/schemas/noticeCode'
        idF24:
          type: string
          description: un UUID che identifica un pagamento f24
        paymentSourceChannel:
          type: string
          description: Canale sorgente della richiesta di pagamento
        uncertainPaymentDate:
          type: boolean
          description: Indica se la data di pagamento é certa
    SendAnalogProgressDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        notificationDate:
          type: string
          format: date-time
        deliveryFailureCause:
          type: string
          description: Vedi deliveryFailureCause in SendAnalogFeedbackDetails
        deliveryDetailCode:
          type: string
          description: Vedi deliveryDetailCode in SendAnalogFeedbackDetails
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetails'
        sendRequestId:
          type: string
          description: RequestId della richiesta d'invio
        registeredLetterCode:
          type: string
          description: Codice della raccomandata
    SimpleRegisteredLetterProgressDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        notificationDate:
          type: string
          format: date-time
        deliveryFailureCause:
          type: string
          description: Vedi deliveryFailureCause in SendAnalogFeedbackDetails
        deliveryDetailCode:
          type: string
          description: Vedi deliveryDetailCode in SendAnalogFeedbackDetails
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetails'
        sendRequestId:
          type: string
          description: RequestId della richiesta d'invio
        registeredLetterCode:
          type: string
          description: Codice della raccomandata
    ProbableDateAnalogWorkflowDetails:
      type: object
      required:
        - recIndex
        - schedulingAnalogDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        schedulingAnalogDate:
          type: string
          format: date-time
          description: Data probabile di inizio del flusso analogico
    TimelineElementDetails:
      description: The raw event payload that will be different based on the event.
      oneOf:
        - $ref: '#/components/schemas/SenderAckCreationRequestDetails'
        - $ref: '#/components/schemas/NormalizedAddressDetails'
        - $ref: '#/components/schemas/NotificationRequestAcceptedDetails'
        - $ref: '#/components/schemas/AnalogFailureWorkflowDetails'
        - $ref: '#/components/schemas/AnalogSuccessWorkflowDetails'
        - $ref: '#/components/schemas/CompletelyUnreachableCreationRequestDetails'
        - $ref: '#/components/schemas/CompletelyUnreachableDetails'
        - $ref: '#/components/schemas/DigitalDeliveryCreationRequestDetails'
        - $ref: '#/components/schemas/DigitalFailureWorkflowDetails'
        - $ref: '#/components/schemas/DigitalSuccessWorkflowDetails'
        - $ref: '#/components/schemas/GetAddressInfoDetails'
        - $ref: '#/components/schemas/NotificationViewedCreationRequestDetails'
        - $ref: '#/components/schemas/NotificationViewedDetails'
        - $ref: '#/components/schemas/PublicRegistryCallDetails'
        - $ref: '#/components/schemas/PublicRegistryResponseDetails'
        - $ref: '#/components/schemas/RefinementDetails'
        - $ref: '#/components/schemas/RequestRefusedDetails'
        - $ref: '#/components/schemas/ScheduleAnalogWorkflowDetails'
        - $ref: '#/components/schemas/ScheduleDigitalWorkflowDetails'
        - $ref: '#/components/schemas/ScheduleRefinementDetails'
        - $ref: '#/components/schemas/SendCourtesyMessageDetails'
        - $ref: '#/components/schemas/PrepareDigitalDetails'
        - $ref: '#/components/schemas/SendDigitalDetails'
        - $ref: '#/components/schemas/SendDigitalFeedbackDetails'
        - $ref: '#/components/schemas/SendDigitalProgressDetails'
        - $ref: '#/components/schemas/BaseAnalogDetails'
        - $ref: '#/components/schemas/SendAnalogDetails'
        - $ref: '#/components/schemas/SendAnalogFeedbackDetails'
        - $ref: '#/components/schemas/BaseRegisteredLetterDetails'
        - $ref: '#/components/schemas/SimpleRegisteredLetterDetails'
        - $ref: '#/components/schemas/AarCreationRequestDetails'
        - $ref: '#/components/schemas/AarGenerationDetails'
        - $ref: '#/components/schemas/NotHandledDetails'
        - $ref: '#/components/schemas/NotificationPaidDetails'
        - $ref: '#/components/schemas/SendAnalogProgressDetails'
        - $ref: '#/components/schemas/SimpleRegisteredLetterProgressDetails'
        - $ref: '#/components/schemas/ProbableDateAnalogWorkflowDetails'
