# di seguito le variabili che possono subire variazioni in caso di modifiche all'applicazione, da ricercare in base all'ID
# <span id="pnTemporaryDocument">7 giorni</span> configurazione per file temporanei caricati prima dell'inserimento notifica, definito in storageConfigurations name: PN_TEMPORARY_DOCUMENT in pn-safestorage-v1-api.yaml
# <span id="numberOfPresignedRequest">15</span> pn.delivery.number-of-presigned-request=15 numero di maxItems della preloadRequest
openapi: 3.0.3
info:
  termsOfService: https://selfcare.notifichedigitali.it/termini-di-servizio
  x-api-id: api-internal-b2b-informal-pa # NO EXTERNAL
#  x-api-id: api-internal-b2b-informal-pa # ONLY EXTERNAL
  title: 'Piattaforma Notifiche: API B2B per le notifiche bonarie esposte alle Pubbliche Amministrazioni'
  x-summary: 'Piattaforma Notifiche: API B2B per le notifiche bonarie esposte alle Pubbliche Amministrazioni'
  version: '1.0.0'
  description: #TODO: da aggiornare
    La Piattaforma Notifiche espone alle Pubbliche Amministrazioni un set di API per la gestione delle notifiche bonarie. <br/>
    Le API esposte in questo documento sono considerate "informali" in quanto sono a disposizione di un numero limitato di enti che hanno aderito a una fase di sperimentazione, e non sono ancora state pubblicizzate ufficialmente. <br/>
    Per qualsiasi informazione o richiesta di adesione alla fase di sperimentazione è possibile contattare il supporto tecnico dedicato agli enti.
  contact:
    name: 'SEND: supporto enti'
    url: https://pagopa.atlassian.net/servicedesk/customer/portal/5
servers:
  - url: https://api.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.uat.notifichedigitali.it
    description: Ambiente di collaudo
tags:
  - name: Messages
    description: Gestione dei template dei messaggi per notifiche bonarie
  - name: NewInformalNotification
    description: >-
      Invocazioni per effettuare il pre-caricamento dei documenti della notifica e inviare notifiche
  - name: SenderReadInformalNotificationB2B
    description: >-
      Invocazioni utilizzabili dai mittenti per verificare lo stato delle richieste 
      di notifica inviate e delle notifiche accettate.
  - name: InformalNotificationTermination
    description: >-
      Invocazioni per interrompere il workflow di una notifica non legale in stato di attesa o accettata

paths:
  ###########################################################################################
  ###                          GESTIONE PRECARICAMENTO ALLEGATI                           ###
  ###########################################################################################
  "/delivery/v1/attachments/informal/preload":
    post:
      summary: Richiesta di pre-caricamento dei documenti della notifica bonaria
      description: >-
        Operazione che richiede a Piattaforma Notifica le informazioni e le autorizzazioni necessarie 
        a precaricare uno o più file da allegare a una notifica bonaria. <br/>
      tags:
        - NewInformalNotification
      operationId: informalPresignedUploadRequest
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: "#/components/schemas/InformalPreLoadRequest"
              minItems: 1
              maxItems: 15
            example:
              - preloadIdx: "0"
                contentType: application/pdf
                sha256: SmHRur4+IVEaMHrYoof4mwzhxh3r2D/+WeVnMQnokgw=
              - preloadIdx: "1"
                contentType: application/pdf
                sha256: 1QKD/Ks6BohyQ+bgMxHf9NrpNhVmGUPxRYE1aerU4JQ=
        required: true
      responses:
        '200':
          description: Informazioni per il caricamento degli allegati tramite URL presigned
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/InformalPreLoadResponse"
              examples:
                preloadResponseDocument:
                  summary: Esempio preload documento principale
                  description: Risposta di preload per il documento allegato alla notifica.
                  value:
                    - preloadIdx: "0"
                      secret: "[n4NQEZq2womDzK7ZeUBYLGCZBlECjjsAqTN9KgyChefYjw7iJYEjET1jiP_x76y-dZT-diocWI6TIn7LxoDbMQ6J6xz6RJeWBZpzSaqhJGwL5AuxXqJFI-zz6YmoaGC24_e6QLzs_HyKRMb6pBVbbpfC_Zw0ir0D7RTwitQdLLVRXc47bCnqHsbt3aPyHENsr5dfOGbZ_9-98F2R_zvG0xq4Bl3Nlvt1-qsqZ8uZJA66uGLEzMyxP9XkG8kqr_7HuFDuXg8Xy2DAJRgYKjIoM0mnwMoQjZ_Mw2oizVksq6iuGmjN_xfvlnKqtQnYw3F-xTGEz4K_RijNmEYJ4vgCVA]"
                      httpMethod: PUT
                      url: "https://pn-safestorage-eu-south-1-956319218727.s3.eu-south-1.amazonaws.com/PN_NOTIFICATION_ATTACHMENTS-dfe837b7e83e43ec9e9135d989196fd8.pdf?x-amzn-trace-id=Self%3D1-6a3e7fc2-7ee9bc3223ed4e6a773e291d%3BRoot%3D1-6a3e7fc1-08e65c9162e27f112dddcb55%3BParent%3D6a7fd0fd2164f76c%3BSampled%3D0&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJ3%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmV1LXNvdXRoLTEiSDBGAiEA2%2B%2FDeCF2sZ4jPbJzNGXn%2FlPusQBaYxKJLHxlWPFP5BECIQDpArxzuyOvY6NLBIGA66jH3%2F8o4iRumjqoO2f%2FYu1vWCqOBAhmEAEaDDk1NjMxOTIxODcyNyIM%2FVLysjbIICRrlu3ZKusD8zmk9eBTdJEDCUxeR5%2F56YF5SPbUgtprJE0wqpPeACYzh%2BkQC5kdRCbj7pQ8Il2WG8hhWOXtDhlM04tyw2fUfx63LGENzJV7IyseF%2B2TfntsUuGlDwzzMdU55qttitIXszgnHuW0ebHId%2Fjbd9pnVYvARte%2BW1w%2Bny08qvZLH9XDdEEdqLnsSuWztQZZoez3xuR0UqI4xITkmbX%2FTilNvHQeXWJqgPmU1OKie92Et5xZkK%2BC3VaBty7eqpABQAtnqn8JGOriTbmW6WZ3UayHA4XswLqU%2BZxGqm2QZUsHtW7gs72VU5Duz5uyXY3WiocoxXvcASgRKOFriA6r5WGkdd65uo6Nw57baiTS111xz%2FMnyx9%2FkGZwfff3PsjCWnJzT6t%2FIDvKnn79qhYDqlkNZVHXGvUj%2FC3%2BrnC%2FtzUEBLlnRz3nMfXmceShaX5jRure0E8HvY6MPnZksLs0%2BHpKG3ChKEbhBbfsjz2IrEbVRv%2F8XRpp4xMXZivmG4%2FOAF3ioWqrv7CpEDnB7HeKydGhcKWWqhTOE2KMVd05WPpiH094S%2BQrdgvOq2oChZ5H%2BDGZGsInbG8iL12OVV%2B3ZeiWnSmiMfP4%2BFBfTUwcyya0sNm1FpRSLGbYwIGvMhPAoDRLU6uKkedfu%2BXSg90wvPL50QY6pQHaDYFvk6KBKHrlKY4c3FzGVe7z98NJEH%2BMnm3xZuK4C3uHRa%2BAcVxBGk3YK9pfr2vmuovpQ2gtkvdwC8s1M8zIJBZrxHrUsVZr%2BqAiUocU5rrkJ%2BpmOe3GCcmLmZzOTjT2E25dDG%2FG9kgUfnhSZAkfDej0Wu9DULbqP%2FIq25rpi51Nm79Fs9rQ7600aww6xwnP%2BLP3Ixbrb7SmRIO0hfGs78V5sfc%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260626T133354Z&X-Amz-SignedHeaders=content-type%3Bhost%3Bx-amz-checksum-sha256%3Bx-amz-meta-secret&X-Amz-Expires=1200&X-Amz-Credential=ASIA55KIRHQTW6IUOL3K%2F20260626%2Feu-south-1%2Fs3%2Faws4_request&X-Amz-Signature=72fbdebb66ca9e7c9890f7155105bb6c063f82a050f5eaaf700415347ca22bdb"
                      key: "PN_NOTIFICATION_ATTACHMENTS-dfe837b7e83e43ec9e9135d989196fd8.pdf"
                preloadResponsePagoPA:
                  summary: Esempio preload avviso pagoPA
                  description: Risposta di preload per il PDF dell'avviso di pagamento pagoPA.
                  value:
                    - preloadIdx: "0"
                      secret: "[x_VYxjApX3aWKAFbCQrTTGJJFEs9jPaaZbhERprjFyc4KUPQ8k-nJoELuV972AS4Qjm1uQHnIqoHXwmWxk2uqEP5YyZe3U4hh6S-6A0UrlixxXW0igWqjWiWM-3HHUf3G6QEPMBkcxeN_8SSwxyK2mxCCz6LMhmicEi0nxXhK848Jh5NKRGAUyo8qi2dqMv5N4y-6tKe3lWNnbl8jbnTSMgSxDMgi8RtSdmZ2Yr4XmFzgY9QkMnD2SEyovRbGXIbjKFYOXUQKhqXO3PGgavpPDQ6EBL4GbyMmghG3pwJF-pd8rynf-jPF7QFTCkzBW5fIiKUDr5dh6SHE7khgZVebQ]"
                      httpMethod: PUT
                      url: "https://pn-safestorage-eu-south-1-956319218727.s3.eu-south-1.amazonaws.com/PN_NOTIFICATION_ATTACHMENTS-61997b71a19c4e4e97d4228ee74326e9.pdf?x-amzn-trace-id=Self%3D1-6a3e7fc2-3e49e28927115be44e7ac700%3BRoot%3D1-6a3e7fc2-5de139786f63a1c01fae06e7%3BParent%3D4fa617ed46677722%3BSampled%3D0&X-Amz-Security-Token=IQoJb3JpZ2luX2VjEJv%2F%2F%2F%2F%2F%2F%2F%2F%2F%2FwEaCmV1LXNvdXRoLTEiRzBFAiALb6EV6LnvbUiMQx1gnqvqDFTtjGf2xwkNWHQCdEICHwIhALnjppkNgu%2F30RO1zcJ7cLPW2AAO6MLXQyd2TKIScOXBKo4ECGQQARoMOTU2MzE5MjE4NzI3Igxv0NLGFMgCSQqgIw0q6wMtdWmEtDB%2FU3bzvlKmxwwViarZpr%2Ftv6vRWm2Dlihb5Ld4H8iubJ1ug3Ng1Wo0iYNDpfa4i5wHSTPqK%2F0CMW88EfGkdy1Bb0NecUfpcHBb0pvBATOp%2F2T6koXxASZPzDPqzg2y9FvvHf8tmP4usqrJ%2BjcfAtH1Jw9oh360gbZMm1rkW72nDjwQBBzrG5KjQVCPerCYDJvGaGeOjb63%2FD0eAjzYcIPFgj3ScRoe8bHYWa%2FAXOITSzfi0vIy9%2B1Skt6BS7BfA6z4RkCCmCC%2FvYkkrXGkzZCKB4cIZ7TD94nfQ4d6r1O%2FP4VvaoIuogGbMjsKwVhWQioPyhQ7CJj3ah%2FP9jAlzsC4OPElkt4BvXcVvIElYpXzWAvNBHhc%2FwTFP81AFzugcY1Q4v%2B866LY75zobJAS22Br9Z01tkyZN5VjIuaMJVaCA2unEJSkakCWs5aphsiBuNyI9LAnP%2BbCrdWLzG3a8HXzYR7dZTpVI7CGM1NIENzQUtMY8lW%2FGLktusiUSm6%2BhyVTJwcOSv%2FDYaKFR3exARIxZ9r%2FFJU9QW24fbQ8gEWJXX6WM2HAbzQ5TufmjYRati71QlMdZzFOa90Jtk9gVaJZBkbyl00BuoqMaDQ4L6hReSMmCZFDksrjXXq%2FJ4O6KsFkWxidBTD2v%2FnRBjqmAYjbzt%2Fhx7HJf8PrCTZTxocXg5H7lCE40NBiXC3FMfZVIV2TEpk2qB3Bee2J1NhRU0%2BKaALwSvNogKDTcIiDVuYsKRqPmjvHDUg2IeNL2BOkg7j6r8tnH5ZBoK8sB63UhDMldXE%2BtnTTYPLKC4jivdPwWF4KigVU1LHkrFR43ljomCN4IVqy32e1tJYkhH00Iu4KgTeIGUcAoiltc8AW25gPeC3i%2BlY%3D&X-Amz-Algorithm=AWS4-HMAC-SHA256&X-Amz-Date=20260626T133354Z&X-Amz-SignedHeaders=content-type%3Bhost%3Bx-amz-checksum-sha256%3Bx-amz-meta-secret&X-Amz-Expires=1200&X-Amz-Credential=ASIA55KIRHQT6C3C2T7B%2F20260626%2Feu-south-1%2Fs3%2Faws4_request&X-Amz-Signature=ad427d2084371d3a8c65fe29acfbabf2fae83663270abcbacacd3867fc0b4554"
                      key: "PN_NOTIFICATION_ATTACHMENTS-61997b71a19c4e4e97d4228ee74326e9.pdf"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  ###########################################################################################
  ###                          GESTIONE MESSAGGI                                          ###
  ###########################################################################################

  "/delivery/v1/messages":
    post:
      tags:
        - Messages
      summary: Crea un nuovo template di messaggio
      description: |
        Salva il contenuto del messaggio in modo sicuro e ottiene un messageId da utilizzare per creare una notifica bonaria.
      operationId: newMessage
      parameters:                                             # NO EXTERNAL
        - $ref: '#/components/parameters/uidAuthFleet'        # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'     # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'   # NO EXTERNAL
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewMessageRequest'
            example:
              primaryMessage:
                subject: Oggetto IT
                longBody: Test body IT
                shortBody: Short IT
                language: IT
      responses:
        '201':
          description: Message created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
              example:
                primaryMessage:
                  subject: Oggetto IT
                  longBody: Test body IT
                  shortBody: Short IT
                  language: IT
                messageId: 94484841-57e5-496f-8f2d-eec053c539e3
                createdAt: "2026-06-26T13:35:00.000Z"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  "/delivery/v1/messages/{messageId}":
    get:
      tags:
        - Messages
      summary: Recupera i dati di un messaggio
      description: Recupera il contenuto di un messaggio precedentemente creato dato il suo id.
      operationId: getMessageById
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/uidAuthFleet'      # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'   # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'     # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
      responses:
        '200':
          description: Message details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Message not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

    ###########################################################################################
    ###                          CREAZIONE RICHIESTE DI NOTIFICA                            ###
    ###########################################################################################
  "/delivery/v1/notifications/informal":
    post:
      summary: Richiesta sottomissione di una nuova comunicazione bonaria
      description: |-
        Operazione utilizzata dalla Pubblica Amministrazione per richiedere l'invio di una notifica bonaria.

        La restituzione di uno stato HTTP 202 significa solo che la richiesta è sintatticamente
        valida, non che la richiesta sia stata validata ed accettata. <br/>
        Per conoscere lo stato di accettazione della richiesta di notifica bisogna utilizzare l'operazione
        getInformalNotificationRequestStatusV1 oppure utilizzare la modalità push prevista dai webhook. <br/>

        <details no-external>
        <summary><b> Attributi progettazione di alto livello </b></summary>
        | Proprietà                | Valore             |
        | -----------------------: | :----------------- |
        | __Intended usage__       | B2B, WEB           |
        | __Modalità interazione__ | Sincrona           |
        | __TPS (stimato)__        | 5 richieste/sec    |
        | __Idempotenza__          | No                 |
        | __Read/Write intensive__ | Write              |
        | __Cachable__             | No                 |
        </details>
      tags:
        - NewInformalNotification
      operationId: sendNewInformalNotificationV1
      parameters: # NO EXTERNAL
        - $ref: '#/components/parameters/uidAuthFleet'                # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannel'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannelDetails'  # NO EXTERNAL
        - $ref: '#/components/parameters/headerNotificationVersion'   # NO EXTERNAL
      requestBody:
        content:
          application/json:
            schema:
              $ref: "./schemas-pn-notification.yaml#/components/schemas/InformalNotificationRequestV1"
            example:
              senderDenomination: Comune di Palermo
              paProtocolNumber: "302110111988283231"
              campaignId: campaign-1
              subject: Test notifica..302070111988283233
              recipients:
                - recipientType: PF
                  taxId: FRMTTR76M06B715E
                  denomination: Ettore Fieramosca
                  physicalAddress:
                    at: presso
                    address: via Roma
                    addressDetails: Strega
                    zip: "82100"
                    municipality: Benevento
                    province: BN
                    foreignState: ITALIA
                  payments:
                    - pagoPa:
                        noticeCode: "302000111988284400"
                        creditorTaxId: "77777777777"
                        amount: 1250
                        attachment:
                          digests:
                            sha256: 1QKD/Ks6BohyQ+bgMxHf9NrpNhVmGUPxRYE1aerU4JQ=
                          contentType: application/pdf
                          ref:
                            key: PN_NOTIFICATION_ATTACHMENTS-61997b71a19c4e4e97d4228ee74326e9.pdf
                            versionToken: v1
                  messageId: 94484841-57e5-496f-8f2d-eec053c539e3
              documents:
                - digests:
                    sha256: SmHRur4+IVEaMHrYoof4mwzhxh3r2D/+WeVnMQnokgw=
                  contentType: application/pdf
                  ref:
                    key: PN_NOTIFICATION_ATTACHMENTS-dfe837b7e83e43ec9e9135d989196fd8.pdf
                    versionToken: v1
              group: 65e0a77228425a43256303eb
        required: true
      responses:
        '202':
          description: Accepted
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewInformalNotificationResponse"
              example:
                notificationRequestId: TVBNRS1RR1RHLVZNVEUtMjAyNjA2LUgtQQ==
                paProtocolNumber: "302110111988283231"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: Conflict
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'


    ###########################################################################################
    ###                        VERIFICA STATO RICHIESTE DI NOTIFICA                         ###
    ###########################################################################################
    get:
      operationId: getInformalNotificationRequestStatusV1                       # NO EXTERNAL
#      operationId: retrieveInformalNotificationRequestStatusV1                # ONLY EXTERNAL
      tags:
        - SenderReadInformalNotificationB2B
      summary: Verifica accettazione richiesta notifica
      description: >-
        Questa operazione serve per verificare se la richiesta di notifica è stata accettata e ottenere
        lo IUN associato a tale richiesta. <br/>
        Bisogna specificare il parametro _notificationRequestId_  oppure la coppia costituita dai parametri 
        _paProtocolNumber_ e _idempotenceToken_. <br/>
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'              # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'           # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'             # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/notificationRequestId'
        - $ref: '#/components/parameters/paProtocolNumber'
        - $ref: '#/components/parameters/idempotenceToken'
      responses:
        '200':
          description: Stato corrente della richiesta di notifica informale
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/NewInformalNotificationRequestStatusResponseV1"
              examples:
                waiting:
                  summary: Richiesta in attesa
                  description: La richiesta è stata presa in carico ma non ancora accettata.
                  value:
                    notificationRequestId: TVBNRS1RR1RHLVZNVEUtMjAyNjA2LUgtQQ==
                    notificationRequestStatus: WAITING
                    retryAfter: 1000
                accepted:
                  summary: Richiesta accettata
                  description: La richiesta è stata accettata e la notifica risulta disponibile.
                  value:
                    notificationRequestId: TVBNRS1RR1RHLVZNVEUtMjAyNjA2LUgtQQ==
                    notificationRequestStatus: ACCEPTED
                    notificationIun: TVBNRS1RR1RHLVZNVEUtMjAyNjA2LUgtQQ==
                    timeline:
                      - status: ACCEPTED
                        timestamp: "2026-06-26T13:33:55.772Z"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

      ###########################################################################################
      ###                     DOWNLOAD DOCUMENTI E ALLEGATI PER PAGAMENTO                     ###
      ###########################################################################################

  "/delivery/v1/notifications/informal/sent/{iun}/attachments/documents/{docIdx}":
    get:
      description: |-
        Download documento notificato

        <details no-external>
        <summary><b> Attributi progettazione di alto livello </b></summary>
        | Proprietà                | Valore             |
        | -----------------------: | :----------------- |
        | __Intended usage__       | B2B, WEB           |
        | __Modalità interazione__ | Sincrona           |
        | __TPS (stimato)__        |                    |
        | __Idempotenza__          | Si                 |
        | __Read/Write intensive__ | Read               |
        | __Cachable__             | No                 |
        </details>
      summary: Download documento notificato
      tags:
        - SenderReadInformalNotificationB2B
      operationId: getSentInformalNotificationDocument                                      # NO EXTERNAL
#      operationId: retrieveSentInformalNotificationDocument                                # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'           # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'        # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'          # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'      # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathInformalIun'
        - $ref: '#/components/parameters/pathDocumentIdx'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/delivery/v1/notifications/informal/sent/{iun}/attachments/payment/{recipientIdx}/{attachmentName}":
    get:
      description: Download allegato per pagamento
      summary: Download allegato per pagamento
      tags:
        - SenderReadInformalNotificationB2B
      operationId: getSentInformalNotificationAttachment                                      # NO EXTERNAL
#      operationId: retrieveSentInformalNotificationAttachment                                # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'              # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'           # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'             # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'         # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathInformalIun'
        - $ref: '#/components/parameters/pathRecipientIdx'
        - $ref: '#/components/parameters/pathAttachmentName'
        - $ref: '#/components/parameters/attachmentIdx'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

    ###########################################################################################
    ###                             INTERRUZIONE DEL WORKFLOW                               ###
    ###########################################################################################
  "/delivery/v1/notifications/informal/{iun}/terminate":
    post:
      tags:
        - InformalNotificationTermination
      summary: Interruzione workflow notifica per IUN
      description: >-
        Permette all\'Ente di interrompere il workflow di una comunicazione non 
        legale identificata dallo IUN specificato nel path. La notifica passerà allo stato COMPLETED.
      operationId: terminateInformalWorkflow
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet' # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet' # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathInformalIun'
      responses:
        '202':
          description: Accepted - Richiesta interruzione presa in carico
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/TerminationRequestStatus"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  ###########################################################################################
  ###                          RICERCA NOTIFICHE BONARIE INVIATE                          ###
  ###########################################################################################
  "/delivery/v1/notifications/informal/sent/{iun}":
    get:
      summary: 'Mittente: lettura dettagli notifica versione 1'
      description: |-
        Questa operazione permette di leggere tutti i dettagli di una notifica accettata. <br/>
        
        <details no-external>
        <summary><b> Attributi progettazione di alto livello </b></summary>
        | Proprietà                | Valore             |
        | -----------------------: | :----------------- |
        | __Intended usage__       | B2B, WEB           |
        | __Modalità interazione__ | Sincrona           |
        | __TPS (stimato)__        |                    |
        | __Idempotenza__          | Si                 |
        | __Read/Write intensive__ | Read               |
        | __Cachable__             | No                 |
        </details>
      tags:
        - SenderReadInformalNotificationB2B
      operationId: getSentInformalNotificationV1                                    # NO EXTERNAL
      #      operationId: retrieveSentInformalNotificationV1                                # ONLY EXTERNAL
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'            # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'           # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'       # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathInformalIun'
      responses:
        '200':
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/FullSentInformalNotificationV1"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:
  parameters:
    ############################################################################################
    ###                     PARAMETRO VERSIONE CREAZIONE NOTIFICA                            ###
    ############################################################################################
    headerNotificationVersion:                                                      # NO EXTERNAL
      name: x-pagopa-pn-notification-version                                        # NO EXTERNAL
      in: header                                                                    # NO EXTERNAL
      description: Notification creation version                                    # NO EXTERNAL
      required: false                                                               # NO EXTERNAL
      schema:                                                                       # NO EXTERNAL
        type: string                                                                # NO EXTERNAL

    ############################################################################################
    ###                     PARAMETRO SORGENTE CREAZIONE NOTIFICA                            ###
    ############################################################################################
    headerSourceChannel:                                                            # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannel'         # NO EXTERNAL

    headerSourceChannelDetails:                                                     # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannelDetails'  # NO EXTERNAL

    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:                                                                # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'             # NO EXTERNAL
    cxIdAuthFleet:                                                                  # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'               # NO EXTERNAL
    cxGroupsAuthFleet:                                                              # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'           # NO EXTERNAL
    uidAuthFleet:                                                                   # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'                # NO EXTERNAL

    ############################################################################################
    ###                       PARAMETRI RICERCA RICHIESTA DI NOTIFICA                        ###
    ############################################################################################
    notificationRequestId:
      in: query
      required: false
      name: notificationRequestId
      example: TVBNRS1RR1RHLVZNVEUtMjAyNjA2LUgtQQ==
      schema:
        $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationRequestId'

    paProtocolNumber:
      name: paProtocolNumber
      in: query
      required: false
      schema:
        $ref: './schemas-pn-notification.yaml#/components/schemas/PaProtocolNumber'

    idempotenceToken:
      name: idempotenceToken
      in: query
      required: false
      schema:
        $ref: './schemas-pn-notification.yaml#/components/schemas/IdempotenceToken'

    ############################################################################################
    ###                             PARAMETRI DOWNLOAD DOCUMENTI                             ###
    ############################################################################################
    pathDocumentIdx:
      name: docIdx
      description: indice del documento nella lista partendo da 0.
      in: path
      required: true
      schema:
        type: integer
        format: int32

    pathRecipientIdx:
      name: recipientIdx
      description: indice del destinatario nella lista partendo da 0.
      in: path
      required: true
      schema:
        type: integer
        format: int32

    pathAttachmentName:
      name: attachmentName
      description: Tipologia del pagamento allegato alla notifica. Valore possibile PAGOPA
      in: path
      required: true
      schema:
        type: string
        pattern: "PAGOPA"

    attachmentIdx:
      in: query
      name: attachmentIdx
      description: indice del documento di pagamento partendo da 0
      required: false
      schema:
        type: integer
        format: int32

  schemas:
    ###########################################################################################
    ###                             DTO PRECARICAMENTO ALLEGATI                             ###
    ###########################################################################################
    InformalPreLoadRequest:
      title: Richiesta di precaricamento di un File
      type: object
      required:
        - sha256
      properties:
        preloadIdx:
          title: Id della richiesta di precaricamento di un file
          description: >-
            Identificativo univoco all'interno della request HTTP, serve per correlare la risposta.
            Stringa alfanumerica con caratteri utilizzabili in un nome file.
          type: string
          minLength: 1
          maxLength: 512
          pattern: ^[a-zA-Z0-9._-]{1,512}$
        contentType:
          title: MIME type del file che verrà caricato
          description: >-
            Il MIME type dell'allegato che dovrà essere caricato. Attualmente sono supportati
              - application/pdf
          type: string
          minLength: 15
          maxLength: 16
          pattern: ^application\/(pdf)$
        sha256:
          title: checksum sha256 del file che verrà caricato
          description: >-
            checksum sha256, codificato in base 64, del contenuto binario del file che verrà
            caricato
          type: string
          example: 'jezIVxlG1M1woCSUngM6KipUN3/p8cG5RMIPnuEanlE='
          minLength: 44
          maxLength: 44
          pattern: ^[A-Za-z0-9+\/]{43}=|[A-Za-z0-9+\/]{44}$

    InformalPreLoadResponse:
      title: Informazioni per il caricamento file
      description: >-
        Per ogni richiesta che è stata fatta viene fornito un presigned URL e le 
        informazioni per usarlo.
      type: object
      properties:
        preloadIdx:
          description: per correlazione con la richiesta. Stringa alfanumerica con caratteri utilizzabili in un file.
          type: string
          minLength: 1
          maxLength: 512
          pattern: ^[a-zA-Z0-9._-]{1,512}$
        secret:
          description: >-
            Token aggiuntivo per far si che sia necessario intercettare anche gli 
            header e non solo l'URL di upload del contenuto del documento.
          example: AZ23RF12
          type: string
        httpMethod:
          description: >-
            Indica se per l'upload del contenuto file bisogna utilizzare il metodo PUT o POST
          type: string
          example: PUT
          enum:
            - POST
            - PUT
        url:
          description: >-
            URL a cui effettuare l'upload del contenuto del documento.
          type: string
          example: 'https://preloadpn.aws.amazon.......'
        key:
          description: >-
            la chiave restituita sarà globalmente unica e andrà utilizzata nella richiesta 
            di notifica.
          example: 'PN_NOTIFICATION_ATTACHMENTS-0001-301W-B9CB-9U72-WIKD'
          type: string

    ###########################################################################################
    ###                              DTO MESSAGGI                                           ###
    ###########################################################################################

    LocalizedContent:
      type: object
      required: [ subject, longBody, language ]
      properties:
        subject:
          type: string
          maxLength: 256
          description: "Titolo del messaggio (es. Oggetto della mail o intestazione IO)"
          example: "Sollecito di pagamento Tari 2023"
          x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
          format: password # NO EXTERNAL
        longBody:
          type: string
          maxLength: 10000
          description: "Corpo esteso del messaggio in formato Markdown"
          example: "Gentile cittadino, la informiamo che..."
          x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
          format: password # NO EXTERNAL
        shortBody:
          type: string
          maxLength: 160
          description: "Versione breve per SMS o anteprime"
          example: "Sollecito Tari: hai una nuova comunicazione da SEND."
          x-field-extra-annotation: "@lombok.ToString.Exclude" # NO EXTERNAL
          format: password # NO EXTERNAL
        language:
          type: string
          description: >-
            Lingua del messaggio. Valori accettati:
            - IT <br/>
            - DE <br/>
            - SL <br/>
            - FR <br/>
            DE (tedesco), SL (sloveno), FR (francese).

    NewMessageRequest:
      type: object
      required: [ primaryMessage ]
      properties:
        primaryMessage:
          allOf:
            - $ref: '#/components/schemas/LocalizedContent'
            - description: Contenuto principale del messaggio, deve essere in lingua italiana
        additionalMessage:
          allOf:
            - $ref: '#/components/schemas/LocalizedContent'
            - description: Contenuto aggiuntivo del messaggio, opzionale, può essere in una lingua diversa dall'italiano
    MessageResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/NewMessageRequest'
        - type: object
          properties:
            messageId:
              description: Identificativo univoco del messaggio, da utilizzare per creare una notifica bonaria
              type: string
              format: uuid
            createdAt:
              description: Data e ora di creazione del messaggio
              type: string
              format: date-time

    ###########################################################################################
    ###                              DTO RICHIESTE DI NOTIFICA                              ###
    ###########################################################################################

    NewInformalNotificationResponse:
      $ref: "./schemas-pn-notification.yaml#/components/schemas/NewNotificationResponse"

    NewInformalNotificationRequestStatusResponseV1:
      allOf:
        - $ref: "./schemas-pn-notification.yaml#/components/schemas/InformalNotificationRequestV1"
        - type: object
          required:
            - notificationRequestId
            - notificationRequestStatus
          properties:
            notificationRequestId:
              $ref: "./schemas-pn-notification.yaml#/components/schemas/NotificationRequestId"
            notificationRequestStatus:
              description: >-
                - __WAITING__: in attesa di essere valutata
                - __ACCEPTED__: richiesta di notifica accettata, lo IUN è valorizzato
                - __REFUSED__: richiesta di notifica rifiutata, è valorizzato il campo _errors_
              type: string
            retryAfter:
              type: integer
              format: int32
              description: >-
                Numero di secondi da attendere prima di effettuare una nuova richiesta per 
                la stessa entità; valorizzato quando lo status è __WAITING__.
            iun:
              $ref: "./schemas-pn-notification.yaml#/components/schemas/IUN"
            errors:
              description: >-
                Elenco degli errori che hanno causato il rifiuto della richiesta di notifica
              type: array
              items:
                $ref: '#/components/schemas/NotificationRequestRefusedProblemError'

    NotificationRequestRefusedProblemError:
      allOf:
        - $ref: '#/components/schemas/ProblemError'
        - type: object
          required:
            - code
          properties:
            recIndex:
              description: Index destinatario notifica digitale
              type: integer
              format: int32

    ###########################################################################################
    ###                       DTO RICHIESTE DI TERMINAZIONE WORKFLOW                        ###
    ###########################################################################################

    TerminationRequestStatus:
      description: Risposta alla richiesta di interruzione del workflow di una notifica non legale.
      type: object
      required: [ status ]
      properties:
        status:
          description: >
            Termination request status:
              - OK
          type: string
        details:
          type: array
          maxItems: 9999
          items:
            $ref: '#/components/schemas/StatusDetail'

    StatusDetail:
      description: >-
        Informazione di dettaglio sullo stato di una richiesta
      type: object
      required:
        - code
      properties:
        code:
          description: Codice interno di errore o avvertimento, in formato leggibile
          example: NOTIFICATION_TERMINATION_ACCEPTED, NOTIFICATION_ALREADY_TERMINATED, etc.
          type: string
        level:
          description: |
            livello informativo del dettaglio di stato: INFO,WARN, ERR
            ERR (error) di default
          example: INFO
          type: string
        detail:
          description: >-
            Spiegazione specifica per questa occorrenza del problema.
          example: Parametro non valido
          type: string

    ###########################################################################################
    ###                              DTO NOTIFICA CON DETTAGLI                              ###
    ###########################################################################################
    FullSentInformalNotificationV1:
      description: >-
        Le informazioni riguardanti una notifica (richiesta di notifica accettata) e il 
        processo di inoltro della notifica verso il cittadino.
      allOf:
        - $ref: './schemas-pn-notification.yaml#/components/schemas/InformalSentNotificationV1'
        - type: object
          required:
            - notificationStatus
            - notificationStatusHistory
            - timeline
          properties:
            notificationStatus:
              $ref: '#/components/schemas/InformalNotificationStatusV1'
            notificationStatusHistory:
              $ref: '#/components/schemas/InformalNotificationStatusHistoryV1'
            timeline:
              description: >-
                elenco dettagliato di tutto ciò che è accaduto durrante il processo di notifica
              type: array
              items:
                $ref: '#/components/schemas/InformalTimelineElementV1'
            recipientIds: # NO EXTERNAL
              description: Lista degli identificativi anonimizzati dei destinatari      # NO EXTERNAL
              type: array                                                               # NO EXTERNAL
              items: # NO EXTERNAL
                type: string                                                            # NO EXTERNAL
            sourceChannel: # NO EXTERNAL
              type: string                                                              # NO EXTERNAL
              description: Canale sorgente della richiesta di notifica                  # NO EXTERNAL
            sourceChannelDetails: # NO EXTERNAL
              type: string                                                              # NO EXTERNAL
              description: Dettagli del canale sorgente della richiesta di notifica     # NO EXTERNAL

    Problem:
      $ref: './remote-refs.yaml#/components/schemas/Problem'
    ProblemError:
      $ref: './remote-refs.yaml#/components/schemas/ProblemError'
    InformalTimelineElementV1:
      $ref: './remote-refs.yaml#/components/schemas/InformalTimelineElementV1'
    InformalNotificationStatusV1:
      $ref: './remote-refs.yaml#/components/schemas/InformalNotificationStatusV1'
    InformalNotificationStatusHistoryV1:
      $ref: './remote-refs.yaml#/components/schemas/InformalNotificationStatusHistoryV1'

#  securitySchemes:        # ONLY EXTERNAL
#    ApiKeyAuth:           # ONLY EXTERNAL
#      type: apiKey        # ONLY EXTERNAL
#      in: header          # ONLY EXTERNAL
#      name: x-api-key     # ONLY EXTERNAL

#security:                 # ONLY EXTERNAL
#  - ApiKeyAuth: [] # use the same name as under securitySchemes    # ONLY EXTERNAL