# di seguito le variabili che possono subire variazioni in caso di modifiche all'applicazione, da ricercare in base all'ID
# <span id="pnTemporaryDocument">7 giorni</span> configurazione per file temporanei caricati prima dell'inserimento notifica, definito in storageConfigurations name: PN_TEMPORARY_DOCUMENT in pn-safestorage-v1-api.yaml
# <span id="numberOfPresignedRequest">15</span> pn.delivery.number-of-presigned-request=15 numero di maxItems della preloadRequest
openapi: 3.0.3
info:
  termsOfService: https://selfcare.notifichedigitali.it/termini-di-servizio
  x-api-id: api-internal-b2b-informal-pa
  title: 'Piattaforma Notifiche: API B2B - Gestione Messaggi Notifiche Bonarie'
  x-summary: 'API per la gestione dei template dei messaggi da utilizzare per le notifiche bonarie'
  version: '1.0.0'
  description: |
    La Piattaforma Notifiche espone alle Pubbliche Amministrazioni un set di API per la gestione delle notifiche bonarie, limitato alla gestione dei messaggi (template) utilizzabili per la creazione delle notifiche stesse.
  contact:
    name: 'SEND: supporto enti'
    url: https://pagopa.atlassian.net/servicedesk/customer/portal/5
servers:
  - url: https://api.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.uat.notifichedigitali.it
    description: Ambiente di collaudo
tags:
  - name: Messages
    description: Gestione dei template dei messaggi per notifiche bonarie
paths:
  "/delivery/v1/messages":
    post:
      tags:
        - Messages
      summary: Crea un nuovo template di messaggio
      description: |
        Salva il contenuto del messaggio in modo sicuro e ottiene un messageId da utilizzare per creare una notifica bonaria.
      operationId: newMessage
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'
        - $ref: '#/components/parameters/cxTypeAuthFleet'
        - $ref: '#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/cxGroupsAuthFleet'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewMessageRequest'
      responses:
        '201':
          description: Message created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  "/delivery/v1/messages/{messageId}":
    get:
      tags:
        - Messages
      summary: Recupera i dati di un messaggio
      description: Recupera il contenuto di un messaggio precedentemente creato dato il suo id.
      operationId: getMessageById
      parameters:
        - name: messageId
          in: path
          required: true
          schema:
            type: string
            format: uuid
        - $ref: '#/components/parameters/uidAuthFleet'
        - $ref: '#/components/parameters/cxTypeAuthFleet'
        - $ref: '#/components/parameters/cxIdAuthFleet'
        - $ref: '#/components/parameters/cxGroupsAuthFleet'
      responses:
        '200':
          description: Message details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/MessageResponse'
        '401':
          description: Unauthorized
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: Forbidden
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Message not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  parameters:
    cxTypeAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'
    cxIdAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'
    cxGroupsAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'
    uidAuthFleet:
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'
  schemas:
    LocalizedContent:
      type: object
      required: [ subject, longBody, language ]
      properties:
        subject:
          type: string
          maxLength: 256
          description: "Titolo del messaggio (es. Oggetto della mail o intestazione IO)"
          example: "Sollecito di pagamento Tari 2023"
        longBody:
          type: string
          maxLength: 10000
          description: "Corpo esteso del messaggio in formato Markdown"
          example: "Gentile cittadino, la informiamo che..."
        shortBody:
          type: string
          maxLength: 160
          description: "Versione breve per SMS o anteprime"
          example: "Sollecito Tari: hai una nuova comunicazione da SEND."
        language:
          type: string
          description: >-
            Lingua del messaggio. Valori accettati:
            - IT <br/>
            - DE <br/>
            - SI <br/>
            - FR <br/>
            DE (tedesco), SI (sloveno), FR (francese).
    NewMessageRequest:
      type: object
      required: [ primaryMessage ]
      properties:
        primaryMessage:
          description: Contenuto principale del messaggio, deve essere in lingua italiana
          $ref: '#/components/schemas/LocalizedContent'
        additionalMessage:
          description: Contenuto aggiuntivo del messaggio, opzionale, può essere in una lingua diversa dall'italiano
          $ref: '#/components/schemas/LocalizedContent'
    MessageResponse:
      type: object
      allOf:
        - $ref: '#/components/schemas/NewMessageRequest'
        - type: object
          properties:
            messageId:
              description: Identificativo univoco del messaggio, da utilizzare per creare una notifica bonaria
              type: string
              format: uuid
            createdAt:
              description: Data e ora di creazione del messaggio
              type: string
              format: date-time
    Problem:
      $ref: './remote-refs.yaml#/components/schemas/Problem'
