openapi: 3.0.3
info:
  title: OpenAPI servizi ad uso solo interno
  description: >- 
    API accessibili solo da microservizi interni
  version: v1.0
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'
servers:
- url: http://internal-pn-in-appli-em20o634urpg-965454854.eu-central-1.elb.amazonaws.com:8080
  description: Generated server url
paths:
  "/delivery-private/notifications/update-status":
    post:
      summary: servizio per l'aggiornamento dello stato di invio della notifica
      tags:
      - internal-only
      operationId: updateStatus
      requestBody:
        content:
          application/json:
            schema:
              "$ref": "#/components/schemas/RequestUpdateStatusDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json: { }
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '501':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  
  "/delivery-private/notifications/{iun}":
    get:
      summary: servizio per cercare una notifica dato <iun>
      tags:
        - internal-only
      operationId: getSentNotificationPrivate
      parameters:
      - name: iun
        in: path
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            "*/*":
              schema:
                $ref: "schemas-pn-notification-v1.yaml#/components/schemas/SentNotification"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '501':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
  "/delivery-private/search":
    get:
      summary: servizio per cercare le notifiche in base ad alcuni parametri di ricerca
      tags:
        - internal-only
      operationId: searchNotificationsPrivate
      parameters:
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchRecipientId'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchRecipientIdIsOpaque'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchSenderId'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchStartDate'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchEndDate'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchStatuses'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchPageSize'
        - $ref: './parameters-notification-search-v1.yaml#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification-v1.yaml#/components/schemas/NotificationSearchResponse'
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '501':
          description: Internal error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/delivery-private/notifications/{paTaxId}/{noticeCode}":
    get:
      summary: servizio che restituisce IUN data la coppia paTaxId_noticeCode
      tags:
        - internal-only
      operationId: getNotificationCostPrivate
      parameters:
        - name: paTaxId
          description: Payment PA fiscal code
          in: path
          required: true
          example: '77777777777'
          schema:
            $ref: 'schemas-pn-notification-v1.yaml#/components/schemas/paTaxId'
        - name: noticeCode
          description: Payment notice number  numero avviso
          in: path
          required: true
          example: '302000100000019421'
          schema:
            $ref: 'schemas-pn-notification-v1.yaml#/components/schemas/noticeCode'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationCostResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/delivery-private/check-aar-qr-code":
    post:
      summary: servizio per l'aggiornamento dello stato di invio della notifica
      tags:
      - internal-only
      operationId: checkAarQrCode
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RequestCheckAarDto"
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ResponseCheckAarDto"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: QrCode reference Not Found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '403':
          description: QrCode Reference misused
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'
        '409':
          description: To many usage of the given QrCode Reference
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Problem'


components:
  schemas:
    
    RequestCheckAarDto:
      type: object
      required:
        - recipientType
        - recipientInternalId
        - aarQrCodeValue
      properties:
        recipientType: 
          type: string
          description: |
            tipo del destinatario <br/>
            __PF__: Persona Fisica <br/>
            __PG__: Persona Giuridica <br/>
        recipientInternalId:
          type: string
          description: identificativo anonimizzato del destinatario
        aarQrCodeValue:
          type: string
          description: valore del QR-Code presente sull'avviso di avvenuta ricezione
          
    ResponseCheckAarDto:
      type: object
      required:
        - iun
      properties:
        iun:
          type: string
          description: valore del QR-Code presente sull'avviso di avvenuta ricezione
        

    RequestUpdateStatusDto:
      type: object
      properties:
        iun:
          $ref: 'schemas-pn-notification-v1.yaml#/components/schemas/IUN'
        nextStatus:
          $ref: "remote-refs.yaml#/components/schemas/NotificationStatus"
        timestamp:
          type: string
          description: timestamp del passaggio di stato
          format: date-time

    NotificationCostResponse:
      type: object
      properties:
        iun:
          $ref: 'schemas-pn-notification-v1.yaml#/components/schemas/IUN'
        recipientIdx:
          type: integer
          description: indice del destinatario
                    
    
    Problem:
      $ref: "schemas-pn-errors-v1.yaml#/components/schemas/Problem"
