openapi: 3.0.1
info:
  termsOfService: https://termofservice.it
  x-api-id: api-private
  title: OpenAPI servizi ad uso solo interno
  x-summary: OpenAPI servizi ad uso solo interno
  description: >-
    API accessibili solo da microservizi interni
  version: '1.0.0'
  contact:
    email: pn@pagopa.it
  license:
    name: Apache 2.0
    url: 'http://www.apache.org/licenses/LICENSE-2.0.html'

servers:
  - url: https://api.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.uat.notifichedigitali.it
    description: Ambiente di collaudo UAT

tags:
  - name: ReworkV1

paths:
  /delivery-private/v1/notifications/{iun}/rework:
    get:
      summary: Rework di una notifica
      description: >-
        Permette il rework di una notifica
      tags:
        - NotificationRework
      operationId: retrieveNotificationRework
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/queryReworkId'
      responses:
        '200':
          description: Ok
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReworkItemsResponse"
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: 'remote-refs.yaml#/components/schemas/Problem'

components:
  schemas:
    ReworkItemsResponse:
      type: object
      properties:
        iun:
          type: string
        items:
          type: array
          items:
            $ref: "#/components/schemas/ReworkItem"

    ReworkItem:
      type: object
      properties:
        reworkId:
          type: string
          description: identificativo univoco della richiesta di rework
        reason:
          type: string
          description: motivo della richiesta di invalidazione
        invalidatedTimelineElementIds:
          type: array
          items:
            type: string
            # ASCII printable characters
            pattern: ^[ -~]*$
            maxLength: 1024
          description: lista di timelineElementId invalidati dalla richiesta di rework
        expectedStatusCode:
          type: string
          description: evento finale correttivo atteso
        expectedDeliveryFailureCause:
          type: string
          description: causa di mancata consegna attesa
        errors:
          type: array
          items:
            $ref: "#/components/schemas/ReworkError"
        createdAt:
          type: string
          pattern: ^([0-9]{4})-([0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})(\.[0-9]+)?(Z|([+\-][0-9]{2}):([0-9]{2}))$
          description: data di creazione della richiesta di rework in formato ISO 8601
        updatedAt:
          type: string
          pattern: ^([0-9]{4})-([0-9]{2})-([0-9]{2})T([0-9]{2}):([0-9]{2}):([0-9]{2})(\.[0-9]+)?(Z|([+\-][0-9]{2}):([0-9]{2}))$
          description: data di aggiornamento della richiesta di rework in formato ISO 8601
        status:
          type: string
          enum:
            - CREATED
            - READY
            - IN_PROGRESS
            - ERROR
            - DONE
          description: stato della richiesta di rework (CREATED = creata, READY = pronta a ricevere gli eventi correttivi dal recapitista, IN_PROGRESS = almeno un evento correttivo è già stato ricevuto, DONE = è stato ricevuto l'evento finale)

    ReworkError:
      type: object
      properties:
        cause:
          type: string
          enum:
            - INVALID_TIMELINE_ELEMENT
            - EXPIRED_ATTACHMENT
            - INVALID_ATTACHMENT
            - EXPIRED_ADDRESS
            - INVALID_ADDRESS
            - INVALID_NOTIFICATION_STATUS
        description:
          type: string

  parameters:
    pathIun:
      description: >-
        Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$

    queryReworkId:
      description: >-
        Identificativo del rework
      name: reworkId
      in: query
      required: false
      schema:
        type: string

  responses:
    Forbidden:
      description: Forbidden
    NotFound:
      description: Not found
    Invalid:
      description: Bad Request
    NotAllowed:
      description: Method not allowed
    InternalError:
      description: Internal Server Error
    Unauthorized:
      description: Unauthorized

#  securitySchemes: # ONLY EXTERNAL
#    bearerAuth: # ONLY EXTERNAL
#      type: http          # ONLY EXTERNAL
#      scheme: bearer      # ONLY EXTERNAL
#      bearerFormat: JWT   # ONLY EXTERNAL
#
#security: # ONLY EXTERNAL
#  - bearerAuth: [ ]     # ONLY EXTERNAL