openapi: 3.0.3
info:
  termsOfService: https://da-definire/
  x-api-id: pn-delivery-b2b-internal
  title: pn-delivery-b2b-pg
  x-summary: "Piattaforma Notifiche: API B2B per destintari strutturati"
  description: >-
    ## Abstract
      API utilizzate dalle persone giuridiche per avere la lista delle notifiche e il dettaglio di ognuna di queste.
    ## Una possibile sequenza di utilizzo delle API di questa collection
    <img src="https://raw.githubusercontent.com/pagopa/pn-delivery/refs/heads/feature/docs_openapi_update/docs/openapi/images/pg.svg">
    
    Descrizione delle operazioni:
    <ul>
      <li>1: lista dei gruppi di appartenenza dell'utente della PG</li>
      <li>3) lista delle notifiche ricevute: fornendo l'identificativo della delega si ottengono le notifiche relative alla delega</li>
      <li>5) lista degli enti mittenti per decodificare il codice ente fornito nella richiesta della lista delle notifiche</li>
      <li>7) dettaglio di una notifica caratterizzata dallo iun fornito</li>
      <li>9) download dei documenti associati alla notifica</li>
      <li>11) download del documento di pagamento relativo alla notifica</li>
      <li>13) download di un'attestazione opponibile a terzi associata ad un evento della timeline</li>
    </ul>


    ##### Dettaglio le sole operazioni sulle deleghe

    Di seguito un diagramma in cui vengono mostrati degli esempi di dati ricevuti in risposta alla chiamata API nella gestione di una notifica.<br>
    Dei dai mostrati vengono messi in evidenza quelli utilizzati per le chiamate API successive. 
    <img src="https://raw.githubusercontent.com/pagopa/pn-delivery/refs/heads/feature/docs_openapi_update/docs/openapi/images/lettura_notifica.svg">
  
    Nella prima richiesta (*GET /delivery/notifications/received/delegated*) fornisce una lista di deleghe; nel riquadro verde più piccolo viene mostrato un estratto di risposta mettendo in evidenza la prima notifica (in particolare lo *iun* di questa).
    <br>
    Nel riquadro più grande viene mostrata la risposta alla richiesta di dettaglio della notifica 
    (*GET /delivery/v2.3/notifications/received/{iun}*). <br>
    Di questa viene evidenziato:

    - l'identificativo dei documenti di pagamento da utilizzare per la chiamata(*GET /delivery/notifications/received/{iun}/attachments/payment/{attachmentName}*)
    
    - l'identificativo dei documenti della notifica da utilizzare per la chiamata(*GET /delivery/notifications/received/{iun}/attachments/documents/{docIdx}*)
  
    - l'identificativo dei documenti della notifica da utilizzare per la chiamata(*GET /delivery-push/{iun}/download/legal-facts/{legalFactId}*)
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
  version: "1.0.0"
servers:
  - url: https://api.prod.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://api.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://api.dev.notifichedigitali.it
    description: Ambiente di sviluppo
tags:
  - name: HealthCheck
    description: >-
      Invocazioni per sapere lo stato del microservizio
  - name: RecipientReadB2B
    description: >-
      Invocazioni B2B utilizzate dai destinatari per ottenere informazioni sulle notifiche a loro destinate.

paths:
  "/status":
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      x-api-permissions:
        - 'BASE'
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
    ###########################################################################################
    ###                             RICERCA NOTIFICHE RICEVUTE                             ###
    ###########################################################################################
  "/delivery/notifications/received":
    get:
      summary: Ricerca notifiche inviate
      description: >-
        Servizio di consultazione dello stato di invio delle notifiche
        individuate dai parametri  di ricerca specificati
      tags:
        - RecipientReadB2B
      operationId: searchReceivedNotification
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      x-api-permissions:
        - 'BASE'
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'      # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'        # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'    # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchStartDate'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchEndDate'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchMandateId'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchSenderId'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchStatus'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchSubject'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchIun'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchPageSize'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationSearchResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/delivery/notifications/received/delegated":
    get:
      summary: Ricerca notifiche delegate ricevute
      description: >-
        Servizio di consultazione delle notifiche delegate  (per cui si è ricevuta una delega). 
        Si basa sul recipientId e sul gruppo passato come parametro. Il recipientId si può 
        ricavare dai dati della delega. Il gruppo dalla chiamata /ext-registry/pg/v1/user-groups
      tags:
        - RecipientReadB2B
      operationId: searchReceivedDelegatedNotification
      x-api-permissions:
        - 'BASE'
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'      # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'        # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'    # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchStartDate'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchEndDate'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchSenderId'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchRecipientId'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchGroup'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchIun'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchStatus'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchPageSize'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationSearchResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/delivery/v2.6/notifications/received/{iun}":
    get:
      summary: Dettaglio di una notifica ricevuta.
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai
        dettagli delle  notifiche ricevute.
        Fornisce:
                  - tutti gli elementi di timeline con i dettagli di ogni elemento e le attestazioni associate
                  - lo stato di una notifica
                  - la storia dello stato della notifica (raggruppando gli elementi di timeline per stato)
                  - i documenti della notifica (dentro la struttura SentNotificationV23)
                  - i dettagli relativi ai destinatari della notifica (dentro la struttura SentNotificationV23)
                  - eventuali documenti di pagamento (campo payments reperibile nel dettaglio del destinatario)
      tags:
        - RecipientReadB2B
      operationId: getReceivedNotificationV26
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      x-api-permissions:
        - 'REFINEMENT'
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'            # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'         # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'           # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'       # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannel'         # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannelDetails'  # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathIun'
        - $ref: './parameters-notification-search.yaml#/components/parameters/notificationSearchMandateId'
      responses:
        '200':
          description: OK
          content:
            "application/json":
              schema:
                $ref: "#/components/schemas/FullReceivedNotificationV26"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found - PN_DELIVERY_USER_ID_NOT_RECIPIENT_OR_DELEGATOR
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'

    ###########################################################################################
    ###                     DOWNLOAD DOCUMENTI E ALLEGATI PER PAGAMENTO                     ###
    ###########################################################################################

  "/delivery/notifications/received/{iun}/attachments/documents/{docIdx}":
    get:
      summary: Download documento notificato
      description: >-
        Permette il download di un documento associato alla notifica tramite il suo identificativo.
        Il parametro pathDocumentIdx è ottenuto dal dettaglio della notifica (la lista dei documenti 
        dentro la struttura SentNotificationV23 contiene l'identificativo)
      tags:
        - RecipientReadB2B
      operationId: getReceivedNotificationDocument
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      x-api-permissions:
        - 'REFINEMENT'
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'                    # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'                 # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'                   # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'               # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannel'             # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannelDetails'      # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathDocumentIdx'
        - $ref: '#/components/parameters/queryMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  "/delivery/notifications/received/{iun}/attachments/payment/{attachmentName}":
    get:
      summary: Download allegato per pagamento
      description: >-
        Permette il download di un allegato di pagamento assocciato ad una notifica. Si sperifica il tipo di allegato di 
        pagamento <b>attachmentName</b> (PAGOPA|F24) e il numero <b>attachmentIdx</b> (la numerazione parte da 0)
      tags:
        - RecipientReadB2B
      operationId: getReceivedNotificationAttachment
      #      security:                                      # ONLY EXTERNAL
      #        - bearerAuth: [ ]                            # ONLY EXTERNAL
      x-api-permissions:
        - 'REFINEMENT'
      parameters:
        - $ref: '#/components/parameters/uidAuthFleet'                    # NO EXTERNAL
        - $ref: '#/components/parameters/cxTypeAuthFleet'                 # NO EXTERNAL
        - $ref: '#/components/parameters/cxIdAuthFleet'                   # NO EXTERNAL
        - $ref: '#/components/parameters/cxGroupsAuthFleet'               # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannel'             # NO EXTERNAL
        - $ref: '#/components/parameters/headerSourceChannelDetails'      # NO EXTERNAL
        - $ref: './parameters-notification-search.yaml#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathAttachmentName'
        - $ref: '#/components/parameters/queryMandateId'
        - $ref: '#/components/parameters/attachmentIdx'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: './schemas-pn-notification.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

components:

  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:                                                               # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxTypeAuthFleet'            # NO EXTERNAL
    cxIdAuthFleet:                                                                 # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxIdAuthFleet'              # NO EXTERNAL
    cxGroupsAuthFleet:                                                             # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/cxGroupsAuthFleet'          # NO EXTERNAL
    uidAuthFleet:                                                                  # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/uidAuthFleet'               # NO EXTERNAL

    ############################################################################################
    ###                     PARAMETRO SORGENTE CREAZIONE NOTIFICA                            ###
    ############################################################################################
    headerSourceChannel: # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannel'         # NO EXTERNAL

    headerSourceChannelDetails: # NO EXTERNAL
      $ref: './remote-refs.yaml#/components/parameters/headerSourceChannelDetails'  # NO EXTERNAL


    ############################################################################################
    ###                             PARAMETRI DOWNLOAD DOCUMENTI                             ###
    ############################################################################################
    pathDocumentIdx:
      name: docIdx
      in: path
      required: true
      schema:
        type: integer
        format: int32
    pathAttachmentName:
      name: attachmentName
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 6
        pattern: "PAGOPA|F24"
    queryMandateId:
      name: mandateId
      in: query
      required: false
      schema:
        type: string
        format: uuid
    attachmentIdx:
      in: query
      name: attachmentIdx
      description: indice del documento di pagamento partendo da 0
      required: false
      schema:
        type: integer
        format: int32
    legalFactsSearchMandateId:
      name: mandateId
      in: query
      required: false
      description: identificativo della delega, non utilizzato nelle API B2B
      x-pn-intended-usage: [ "WEB" ]
      schema:
        type: string
        format: uuid
        #minLength: 36
        #maxLength: 36

  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  schemas:
    FullReceivedNotificationV26:
      description: >-
        Le informazioni riguardanti una richiesta di notifica accettata e il processo di 
        inoltro della notifica verso i destinatari (Persone Fisiche o Giuridiche).
      allOf:
        - $ref: './schemas-pn-notification.yaml#/components/schemas/SentNotificationV25'
        - type: object
          required:
            - notificationStatus
            - notificationStatusHistory
            - timeline
          properties:
            notificationStatus:
              $ref: '#/components/schemas/NotificationStatusV26'
            notificationStatusHistory:
              $ref: '#/components/schemas/NotificationStatusHistoryV26'
            timeline:
              description: >-
                elenco dettagliato di tutto ciò che è accaduto durante il processo di notifica
              type: array
              items:
                $ref: '#/components/schemas/TimelineElementV26'

    Problem:
      $ref: './remote-refs.yaml#/components/schemas/Problem'
    
    TimelineElementV26:
      $ref: './remote-refs.yaml#/components/schemas/TimelineElementV26'
    NotificationStatusV26:
      $ref: './remote-refs.yaml#/components/schemas/NotificationStatusV26'
    NotificationStatusHistoryV26:
      $ref: "./remote-refs.yaml#/components/schemas/NotificationStatusHistoryV26"

#  securitySchemes:                                      # ONLY EXTERNAL
#    bearerAuth:                                         # ONLY EXTERNAL
#      type: http                                        # ONLY EXTERNAL
#      scheme: bearer                                    # ONLY EXTERNAL
#      bearerFormat: JWT                                 # ONLY EXTERNAL
#security:                                               # ONLY EXTERNAL
# - bearerAuth: []                                       # ONLY EXTERNAL
