openapi: 3.0.3
info:
  termsOfService: https://da-definire/
  x-api-id: pn-delivery-b2b-internal
  title: pn-delivery-b2b-pg
  x-summary: 'Piattaforma Notifiche: API B2B per destintari strutturati'
  description: >-
    ## Abstract
      API utilizzate dalle persone giuridiche per avere la lista delle notifiche e il dettaglio di ognuna di queste.
    ## Una possibile sequenza di utilizzo delle API di questa collection <img
    src="https://raw.githubusercontent.com/pagopa/pn-delivery/refs/heads/feature/openApi_doc/docs/openapi/images/pg.svg">

    Descrizione delle operazioni: <ul>
      <li>1: lista dei gruppi di appartenenza dell'utente della PG</li>
      <li>3) lista delle notifiche ricevute: fornendo l'identificativo della delega si ottengono le notifiche relative alla delega</li>
      <li>5) lista degli enti mittenti per decodificare il codice ente fornito nella richiesta della lista delle notifiche</li>
      <li>7) dettaglio di una notifica caratterizzata dallo iun fornito</li>
      <li>9) download dei documenti associati alla notifica</li>
      <li>11) download del documento di pagamento relativo alla notifica</li>
      <li>13) download di un'attestazione opponibile a terzi associata ad un evento della timeline</li>
    </ul>


    ##### Dettaglio le sole operazioni sulle deleghe

    Di seguito un diagramma in cui vengono mostrati degli esempi di dati
    ricevuti in risposta alla chiamata API nella gestione di una notifica.<br>
    Dei dai mostrati vengono messi in evidenza quelli utilizzati per le chiamate
    API successive.  <img
    src="https://raw.githubusercontent.com/pagopa/pn-delivery/refs/heads/feature/openApi_doc/docs/openapi/images/lettura_notifica.svg">

    Nella prima richiesta (*GET /delivery/notifications/received/delegated*)
    fornisce una lista di deleghe; nel riquadro verde più piccolo viene mostrato
    un estratto di risposta mettendo in evidenza la prima notifica (in
    particolare lo *iun* di questa). <br> Nel riquadro più grande viene mostrata
    la risposta alla richiesta di dettaglio della notifica  (*GET
    /delivery/v2.3/notifications/received/{iun}*). <br> Di questa viene
    evidenziato:

    - l'identificativo dei documenti di pagamento da utilizzare per la
    chiamata(*GET
    /delivery/notifications/received/{iun}/attachments/payment/{attachmentName}*)

    - l'identificativo dei documenti della notifica da utilizzare per la
    chiamata(*GET
    /delivery/notifications/received/{iun}/attachments/documents/{docIdx}*)

    - l'identificativo dei documenti della notifica da utilizzare per la
    chiamata(*GET /delivery-push/{iun}/download/legal-facts/{legalFactId}*)
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
  version: 1.0.0
servers:
  - url: https://api.prod.notifichedigitali.it
    description: Ambiente di produzione
  - url: https://api.uat.notifichedigitali.it
    description: Ambiente di UAT
  - url: https://api.test.notifichedigitali.it
    description: Ambiente di test
  - url: https://api.dev.notifichedigitali.it
    description: Ambiente di sviluppo
security:
  - bearerAuth: []
tags:
  - name: HealthCheck
    description: Invocazioni per sapere lo stato del microservizio
  - name: RecipientReadB2B
    description: >-
      Invocazioni B2B utilizzate dai destinatari per ottenere informazioni sulle
      notifiche a loro destinate.
paths:
  /status:
    get:
      summary: healthCheck path
      description: healtCheck path per verificare lo stato del microservizio
      tags:
        - HealthCheck
      operationId: status
      x-api-permissions:
        - BASE
      responses:
        '200':
          description: Ok
        '500':
          description: Internal Server Error
  /delivery/notifications/received:
    get:
      summary: Ricerca notifiche inviate
      description: >-
        Servizio di consultazione dello stato di invio delle notifiche
        individuate dai parametri  di ricerca specificati     
      tags:
        - RecipientReadB2B
      operationId: searchReceivedNotification
      x-api-permissions:
        - BASE
      parameters:
        - $ref: '#/components/parameters/notificationSearchStartDate'
        - $ref: '#/components/parameters/notificationSearchEndDate'
        - $ref: '#/components/parameters/notificationSearchMandateId'
        - $ref: '#/components/parameters/notificationSearchSenderId'
        - $ref: '#/components/parameters/notificationSearchStatus'
        - $ref: '#/components/parameters/notificationSearchSubject'
        - $ref: '#/components/parameters/notificationSearchIun'
        - $ref: '#/components/parameters/notificationSearchPageSize'
        - $ref: '#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSearchResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/notifications/received/delegated:
    get:
      summary: Ricerca notifiche delegate ricevute
      description: >-
        Servizio di consultazione delle notifiche delegate  (per cui si è
        ricevuta una delega).  Si basa sul recipientId e sul gruppo passato come
        parametro. Il recipientId si può  ricavare dai dati della delega. Il
        gruppo dalla chiamata /ext-registry/pg/v1/user-groups      
      tags:
        - RecipientReadB2B
      operationId: searchReceivedDelegatedNotification
      x-api-permissions:
        - BASE
      parameters:
        - $ref: '#/components/parameters/notificationSearchStartDate'
        - $ref: '#/components/parameters/notificationSearchEndDate'
        - $ref: '#/components/parameters/notificationSearchSenderId'
        - $ref: '#/components/parameters/notificationSearchRecipientId'
        - $ref: '#/components/parameters/notificationSearchGroup'
        - $ref: '#/components/parameters/notificationSearchIun'
        - $ref: '#/components/parameters/notificationSearchStatus'
        - $ref: '#/components/parameters/notificationSearchPageSize'
        - $ref: '#/components/parameters/notificationSearchNextPagesKey'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/NotificationSearchResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/v2.4/notifications/received/{iun}:
    get:
      summary: Dettaglio di una notifica ricevuta.
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai
        dettagli delle  notifiche ricevute. Fornisce:
                  - tutti gli elementi di timeline con i dettagli di ogni elemento e le attestazioni associate
                  - lo stato di una notifica
                  - la storia dello stato della notifica (raggruppando gli elementi di timeline per stato)
                  - i documenti della notifica (dentro la struttura SentNotificationV23)
                  - i dettagli relativi ai destinatari della notifica (dentro la struttura SentNotificationV23)
                  - eventuali documenti di pagamento (campo payments reperibile nel dettaglio del destinatario)
      tags:
        - RecipientReadB2B
      operationId: getReceivedNotificationV24
      x-api-permissions:
        - REFINEMENT
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/notificationSearchMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullReceivedNotificationV24'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Not Found - PN_DELIVERY_USER_ID_NOT_RECIPIENT_OR_DELEGATOR
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/notifications/received/{iun}/attachments/documents/{docIdx}:
    get:
      summary: Download documento notificato
      description: >-
        Permette il download di un documento associato alla notifica tramite il
        suo identificativo. Il parametro pathDocumentIdx è ottenuto dal
        dettaglio della notifica (la lista dei documenti  dentro la struttura
        SentNotificationV23 contiene l'identificativo)
      tags:
        - RecipientReadB2B
      operationId: getReceivedNotificationDocument
      x-api-permissions:
        - REFINEMENT
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathDocumentIdx'
        - $ref: '#/components/parameters/queryMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationAttachmentDownloadMetadataResponse
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/notifications/received/{iun}/attachments/payment/{attachmentName}:
    get:
      summary: Download allegato per pagamento
      tags:
        - RecipientReadB2B
      operationId: getReceivedNotificationAttachment
      x-api-permissions:
        - REFINEMENT
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathAttachmentName'
        - $ref: '#/components/parameters/queryMandateId'
        - $ref: '#/components/parameters/attachmentIdx'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: >-
                  #/components/schemas/NotificationAttachmentDownloadMetadataResponse
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery/v2.3/notifications/received/{iun}:
    get:
      summary: Dettaglio di una notifica ricevuta.
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai
        dettagli delle  notifiche ricevute. Fornisce:
                  - tutti gli elementi di timeline con i dettagli di ogni elemento e le attestazioni associate
                  - lo stato di una notifica
                  - la storia dello stato della notifica (raggruppando gli elementi di timeline per stato)
                  - i documenti della notifica (dentro la struttura SentNotificationV23)
                  - i dettagli relativi ai destinatari della notifica (dentro la struttura SentNotificationV23)
                  - eventuali documenti di pagamento (campo payments reperibile nel dettaglio del destinatario)
      tags:
        - RecipientReadB2B
      operationId: getReceivedNotificationV23
      x-api-permissions:
        - REFINEMENT
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/notificationSearchMandateId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FullReceivedNotificationV23'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '404':
          description: Not Found - PN_DELIVERY_USER_ID_NOT_RECIPIENT_OR_DELEGATOR
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
  /delivery-push/{iun}/download/legal-facts/{legalFactId}:
    get:
      summary: Singolo atto opponibile a terzi
      description: Permette di scaricare un atto opponibile a terzi <br/>
      tags:
        - LegalFacts
      x-api-permissions:
        - BASE
      parameters:
        - $ref: '#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathLegalFactId'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LegalFactDownloadMetadataResponse'
        '400':
          description: Invalid input
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '500':
          description: Internal Server Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  parameters:
    pathDocumentIdx:
      name: docIdx
      in: path
      required: true
      schema:
        type: integer
        format: int32
    pathAttachmentName:
      name: attachmentName
      in: path
      required: true
      schema:
        type: string
        minLength: 3
        maxLength: 6
        pattern: PAGOPA|F24
    queryMandateId:
      name: mandateId
      in: query
      required: false
      schema:
        type: string
        format: uuid
    attachmentIdx:
      in: query
      name: attachmentIdx
      description: indice del documento di pagamento partendo da 0
      required: false
      schema:
        type: integer
        format: int32
    legalFactsSearchMandateId:
      name: mandateId
      in: query
      required: false
      description: identificativo della delega, non utilizzato nelle API B2B
      x-pn-intended-usage:
        - WEB
      schema:
        type: string
        format: uuid
    notificationSearchStartDate:
      name: startDate
      in: query
      required: true
      description: >-
        data/ora di inizio dell'intervallo entro cui eseguire la ricerca (es
        2017-07-21T17:32:28Z)
      schema:
        type: string
        format: date-time
    notificationSearchEndDate:
      name: endDate
      in: query
      required: true
      description: >-
        data/ora di fine dell'intervallo entro cui eseguire la ricerca  (es
        2017-07-21T17:32:28Z)
      schema:
        type: string
        format: date-time
    notificationSearchMandateId:
      name: mandateId
      in: query
      required: false
      description: identificativo della delega
      schema:
        type: string
    notificationSearchSenderId:
      name: senderId
      in: query
      required: false
      description: identificativo del mittente
      schema:
        type: string
    notificationSearchStatus:
      name: status
      in: query
      required: false
      description: stato della notifica
      schema:
        $ref: '#/components/schemas/NotificationStatus'
    notificationSearchSubject:
      name: subjectRegExp
      description: >-
        Regular expression usata, se presente, per filtrare i risultati in base
        al subject  delle notifiche.
      in: query
      required: false
      schema:
        type: string
    notificationSearchIun:
      name: iunMatch
      description: >-
        Se presente indica che lo IUN dei risultati deve essere uguale al valore
        di questo parametro.
      in: query
      required: false
      schema:
        type: string
    notificationSearchPageSize:
      name: size
      description: dimensione della pagina di risultati
      in: query
      required: false
      schema:
        type: integer
        format: int32
        maximum: 50
    notificationSearchNextPagesKey:
      name: nextPagesKey
      description: >-
        Chiave indicante la pagina di risultati, da specificare solo se si vuole
        una pagina  diversa dalla prima.
      in: query
      required: false
      schema:
        type: string
    notificationSearchRecipientId:
      name: recipientId
      in: query
      required: false
      description: identificativo del destinatario
      schema:
        type: string
        x-field-extra-annotation: '@lombok.ToString.Exclude'
    notificationSearchGroup:
      name: group
      in: query
      required: false
      description: Gruppo da utilizzare nella query come filtro
      schema:
        type: string
    pathIun:
      description: Identificativo Univoco Notifica
      name: iun
      in: path
      required: true
      schema:
        type: string
        minLength: 25
        maxLength: 25
        pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
    pathLegalFactId:
      description: Identificativo dell'atto opponibile a terzi
      name: legalFactId
      in: path
      required: true
      schema:
        type: string
        pattern: ^[ -~]*$
        maxLength: 1024
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
  schemas:
    FullReceivedNotificationV24:
      description: >-
        Le informazioni riguardanti una richiesta di notifica accettata e il
        processo di  inoltro della notifica verso i destinatari (Persone Fisiche
        o Giuridiche).
      allOf:
        - $ref: '#/components/schemas/SentNotificationV24'
        - type: object
          required:
            - notificationStatus
            - notificationStatusHistory
            - timeline
          properties:
            notificationStatus:
              $ref: '#/components/schemas/NotificationStatus'
            notificationStatusHistory:
              $ref: '#/components/schemas/NotificationStatusHistory'
            timeline:
              description: >-
                elenco dettagliato di tutto ciò che è accaduto durante il
                processo di notifica
              type: array
              items:
                $ref: '#/components/schemas/TimelineElementV23'
    Problem:
      properties:
        type:
          description: URI reference of type definition
          type: string
        status:
          description: >-
            The HTTP status code generated by the origin server for this
            occurrence of the problem.
          type: integer
          format: int32
          example: 503
          maximum: 600
          minimum: 100
          exclusiveMaximum: true
        title:
          description: >-
            A short, summary of the problem type. Written in english and
            readable
          example: Service Unavailable
          maxLength: 64
          pattern: ^[ -~]{0,64}$
          type: string
        detail:
          description: A human readable explanation of the problem.
          example: Request took too long to complete.
          maxLength: 4096
          pattern: ^.{0,4096}$
          type: string
        traceId:
          description: Internal support identifier associated to error
          example: 123e4567-e89b-12d3-a456-426614174000
          type: string
        timestamp:
          description: date and time referred to UTC
          example: '2022-07-27T12:22:33.444Z'
          type: string
          format: date-time
        errors:
          type: array
          minItems: 1
          items:
            $ref: '#/components/schemas/ProblemError'
      required:
        - status
        - errors
    TimelineElementV23:
      type: object
      additionalProperties: false
      properties:
        elementId:
          type: string
          maxLength: 512
          description: >-
            Identificativo dell'elemento di timeline: insieme allo IUN della
            notifica definisce in maniera univoca l'elemento di timeline
        timestamp:
          type: string
          description: >-
            Momento in cui avviene l'evento descritto in questo elemento di
            timeline
          format: date-time
        legalFactsIds:
          type: array
          items:
            $ref: '#/components/schemas/LegalFactsId'
          description: >-
            Chiavi dei documenti che provano l'effettivo accadimento dell'evento
            descritto in timeline. Questo elemento
        category:
          $ref: '#/components/schemas/TimelineElementCategoryV23'
        details:
          $ref: '#/components/schemas/TimelineElementDetailsV23'
    NotificationStatus:
      type: string
      description: |
        stato di avanzamento del processo di notifica:
          * `IN_VALIDATION` - notifica depositata in attesa di validazione
          * `ACCEPTED` - L'ente ha depositato la notifica con successo
          * `REFUSED` - Notifica rifiutata a seguito della validazione
          * `DELIVERING` - L'invio della notifica è in corso
          * `DELIVERED` - La notifica è stata consegnata a tutti i destinatari
          * `VIEWED` - Il destinatario ha letto la notifica entro il termine stabilito
          * `EFFECTIVE_DATE` - Il destinatario non ha letto la notifica entro il termine stabilito
          * `UNREACHABLE` - Il destinatario non è reperibile
          * `CANCELLED` - L'ente ha annullato l'invio della notifica
          * `PAID` - [DEPRECATO] Uno dei destinatari ha pagato la notifica
      enum:
        - IN_VALIDATION
        - ACCEPTED
        - REFUSED
        - DELIVERING
        - DELIVERED
        - VIEWED
        - EFFECTIVE_DATE
        - PAID
        - UNREACHABLE
        - CANCELLED
    NotificationStatusHistory:
      description: elenco degli avanzamenti effettuati dal processo di notifica
      type: array
      items:
        $ref: '#/components/schemas/NotificationStatusHistoryElement'
    LegalFactDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      description: |-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file non è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
      type: object
      required:
        - filename
        - contentLength
      properties:
        filename:
          type: string
        contentLength:
          type: number
          format: decimal32
          example: 54092
          description: dimensione, in byte, del contenuto.
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento è pronto
            per il download.
        retryAfter:
          type: number
          format: decimal32
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del 
            documento sia scaricabile.
    DocumentDownloadMetadataResponse:
      title: Url e metadati per il download di un documento correlato alla notifica
      description: |-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file non è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
      type: object
      required:
        - filename
        - contentLength
      properties:
        filename:
          type: string
        contentLength:
          type: number
          format: decimal32
          example: 54092
          description: dmensione, in byte, del contenuto.
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento è pronto
            per il download.
        retryAfter:
          type: number
          format: decimal32
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del 
            documento sia scaricabile.
    RequestCheckAarMandateDto:
      description: Le informazioni fornite per verificare l'AAR-QR-CodeValue
      type: object
      required:
        - aarQrCodeValue
      properties:
        aarQrCodeValue:
          type: string
          description: valore del token QR-Code presente sull'avviso di avvenuta ricezione
          pattern: ^[A-Za-z0-9_-]*$
          minLength: 106
          maxLength: 136
    ResponseCheckAarMandateDto:
      description: >-
        Le informazioni fornite in risposta alla verifica del AAR-QR-CodeValue
        con possibile identificativo della delega attiva
      type: object
      required:
        - iun
      properties:
        iun:
          $ref: '#/components/schemas/IUN'
        mandateId:
          description: identificativo della delega
          type: string
    FullReceivedNotificationV23:
      description: >-
        Le informazioni riguardanti una richiesta di notifica accettata e il
        processo di  inoltro della notifica verso i destinatari (Persone Fisiche
        o Giuridiche).
      allOf:
        - $ref: '#/components/schemas/SentNotificationV23'
        - type: object
          required:
            - notificationStatus
            - notificationStatusHistory
            - timeline
          properties:
            notificationStatus:
              $ref: '#/components/schemas/NotificationStatus'
            notificationStatusHistory:
              $ref: '#/components/schemas/NotificationStatusHistory'
            timeline:
              description: >-
                elenco dettagliato di tutto ciò che è accaduto durante il
                processo di notifica
              type: array
              items:
                $ref: '#/components/schemas/TimelineElementV23'
    IUN:
      description: Identificativo Univoco Notifica
      type: string
      minLength: 25
      maxLength: 25
      pattern: ^[A-Z]{4}-[A-Z]{4}-[A-Z]{4}-[0-9]{6}-[A-Z]{1}-[0-9]{1}$
    NotificationSearchRow:
      type: object
      properties:
        iun:
          $ref: '#/components/schemas/IUN'
        paProtocolNumber:
          type: string
          description: Numero protocollo associato alla notifica da parte della PA
        sender:
          type: string
          description: Denominazione della PA che ha inviato l'atto.
        sentAt:
          type: string
          description: Data spedizione notifica
          format: date-time
        subject:
          type: string
          description: Oggetto della notifica
        notificationStatus:
          $ref: '#/components/schemas/NotificationStatus'
        recipients:
          description: >-
            Elenco delle denominazioni dei destinatari della notifica. <br/>
            __N.B:__ campo da utilizzare solo per visualizzazione.
          type: array
          items:
            type: string
        requestAcceptedAt:
          description: Data accettazione notifica
          type: string
          format: date-time
        group:
          type: string
          description: Gruppo di utenti che può visualizzare la notifica
          pattern: ^[ -~]*$
          maxLength: 1024
        mandateId:
          type: string
          description: Id delega (per notifiche delegate)
    NotificationSearchResponse:
      title: Elenco di notifiche
      description: >-
        Dto contenente i risultati di una ricerca di notifiche. Ogni risposta
        conterrà solo  una pagina di risultati relativi a una ricerca e le
        indicazioni per raggiungere alcune pagine successive.
      type: object
      properties:
        resultsPage:
          description: Una pagina di risultati della query
          type: array
          items:
            $ref: '#/components/schemas/NotificationSearchRow'
        moreResult:
          description: Indica se sono presenti ulteriori pagine di risultati
          type: boolean
        nextPagesKey:
          description: >-
            Elenco, non esaustivo, delle chiavi da usare per richiedere le 
            pagine di risultati successive a quella corrente. <br/> Valorizzato
            solo se il campo __moreResult__ ha valore __true__.
          type: array
          items:
            type: string
    ProblemError:
      properties:
        code:
          description: Internal code of the error, in human-readable format
          example: >-
            PN_PARAMETER_TOO_LONG | PN_PARAMETER_TOO_SHORT | PN_DUPLICATE_ENTRY
            | etc...
          type: string
        element:
          description: Parameter or request body field name for validation error
          example: body.order.item[2].quantity
          type: string
        detail:
          description: >-
            A human readable explanation specific to this occurrence of the
            problem.
          example: Parameter not valid
          maxLength: 1024
          type: string
      required:
        - code
    TaxId:
      description: C.F. persona fisica o persona giuridica
      type: string
      minLength: 11
      maxLength: 16
      pattern: >-
        ^([A-Z]{6}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{2}[A-Z]{1}[0-9LMNPQRSTUV]{3}[A-Z]{1})|([0-9]{11})$
    Denomination:
      description: >-
        Denominazione ente o persona fisica / ragione sociale. La codifica
        prevede i caratteri ISO LATIN 1, senza | e senza i caratteri di
        controllo, ovvero la seguente regexp: ^[ -{}~\u00A0-ÿ]*$
      type: string
      minLength: 1
      maxLength: 44
      pattern: ^.*$
    NotificationDigitalAddress:
      description: Indirizzo di invio della notifica
      required:
        - address
        - type
      type: object
      properties:
        type:
          type: string
          description: tipo di indirizzo PEC, REM, SERCQ, ...
          enum:
            - PEC
        address:
          type: string
          example: account@domain.it
          description: >-
            Indirizzo PEC o REM che il mittente della notifica intende
            utilizzare per  raggiungere il destinatario.
          pattern: >-
            ^(?:[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-zA-Z0-9!#$%&'*+/=?^_`{|}~-]+)*|"(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21\x23-\x5b\x5d-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])*")@(?:(?:[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?\.)+[a-zA-Z0-9](?:[a-zA-Z0-9-]*[a-zA-Z0-9])?|\[(?:(?:25[0-5]|2[0-4]\d|[01]?\d\d?)\.){3}(?:25[0-5]|2[0-4]\d|[01]?\d\d?|[a-zA-Z0-9-]*[a-zA-Z0-9]:(?:[\x01-\x08\x0b\x0c\x0e-\x1f\x21-\x5a\x53-\x7f]|\\[\x01-\x09\x0b\x0c\x0e-\x7f])+)\])$
          maxLength: 320
    NotificationPhysicalAddress:
      description: Indirizzo fisico
      type: object
      required:
        - address
        - municipality
      properties:
        at:
          type: string
          description: Campo "presso" dell'indirizzo
          pattern: ^.*$
          maxLength: 256
        address:
          type: string
          description: Indirizzo del domicilio fisico
          pattern: ^.*$
          minLength: 2
          maxLength: 1024
        addressDetails:
          type: string
          description: Seconda riga dell'indirizzo fisico
          pattern: ^.*$
          maxLength: 1024
        zip:
          type: string
          description: >-
            Codice di avviamento postale. In caso di invio estero diventa
            facoltativo
          minLength: 0
          maxLength: 15
          pattern: ^(\w|\ |\-)*$
        municipality:
          type: string
          description: Comune
          pattern: ^.*$
          minLength: 2
          maxLength: 256
        municipalityDetails:
          type: string
          description: Frazione o località
          pattern: ^.*$
          maxLength: 256
        province:
          type: string
          description: Provincia
          pattern: ^.*$
          maxLength: 256
        foreignState:
          type: string
          description: Denominazione paese estero
          pattern: ^.*$
          maxLength: 256
    noticeCode:
      description: Payment notice number  numero avviso
      example: '302000100000019421'
      type: string
      maxLength: 18
      minLength: 18
      pattern: ^\d+$
    paTaxId:
      description: Payment PA fiscal code
      example: '77777777777'
      type: string
      maxLength: 11
      minLength: 11
      pattern: ^\d+$
    NotificationAttachmentDigests:
      description: Codici per la verifica del corretto caricamento di un allegato
      type: object
      required:
        - sha256
      properties:
        sha256:
          type: string
          description: Digest "sha256" della codifica binaria dell'allegato in base64
          example: jezIVxlG1M1woCSUngM6KipUN3/p8cG5RMIPnuEanlE=
          minLength: 44
          maxLength: 44
          pattern: ^[A-Za-z0-9+\/]{43}=|[A-Za-z0-9+\/]{44}$
    NotificationAttachmentBodyRef:
      description: Riferimento all'allegato precaricato
      required:
        - key
        - versionToken
      type: object
      properties:
        key:
          type: string
          description: Chiave in cui è stato salvato l'allegato
          maxLength: 512
          pattern: ^(safestorage:\/\/)?[A-Za-z0-9._-]+$
        versionToken:
          type: string
          description: >-
            Token per recuperare l'esatta istanza dell'allegato, che dovrà
            coincidere con l'__x-amz-version-id__ ottenuto nell'header della
            response in fase di upload del documento ad esso associato.
          pattern: ^.*$
          maxLength: 256
    NotificationAttachment:
      description: Un allegato della notifica.
      type: object
      required:
        - digests
        - contentType
        - ref
      properties:
        digests:
          $ref: '#/components/schemas/NotificationAttachmentDigests'
        contentType:
          type: string
          description: tipo di contenuto dell'allegato, supportato application/pdf
          minLength: 15
          maxLength: 15
          pattern: ^application\/pdf$
        ref:
          $ref: '#/components/schemas/NotificationAttachmentBodyRef'
    NotificationPaymentAttachment:
      description: Un modulo di pagamento allegato alla notifica
      allOf:
        - $ref: '#/components/schemas/NotificationAttachment'
    PagoPaPayment:
      title: Informazioni per effettuare il pagamento con sistema pagoPA
      description: >-
        Informazioni utili per effettuare il pagamento di una notifica, sono
        associate al destinatario perché le spese di notifica possono differire
        a seconda del canale di notifica utilizzato. <br/>
          - _noticeCode_: "codice avviso pagoPA" di pagamento del sistema pagoPA, usato per pagamento online.<br/>
          - _creditorTaxId_: codice fiscale dell'ente a cui fa riferimento il "codice avviso pagoPA". <br/>
          - _applyCost_: flag per indicare se l'avviso pagoPA deve contenere i costi di notifica. <br/>
          - _pagoPaForm_: riferimento al PDF contenete il bollettino pagoPA<br/>
      type: object
      required:
        - noticeCode
        - creditorTaxId
        - applyCost
      properties:
        noticeCode:
          $ref: '#/components/schemas/noticeCode'
        creditorTaxId:
          $ref: '#/components/schemas/paTaxId'
        applyCost:
          type: boolean
          nullable: false
          description: >-
            Flag per indicare se l'avviso pagoPa deve contenere i costi di
            notifica
        attachment:
          $ref: '#/components/schemas/NotificationPaymentAttachment'
    NotificationMetadataAttachment:
      description: Un metadato allegato della notifica.
      type: object
      required:
        - digests
        - contentType
        - ref
      properties:
        digests:
          $ref: '#/components/schemas/NotificationAttachmentDigests'
        contentType:
          type: string
          description: tipo di contenuto dell'allegato, supportato application/json
          minLength: 16
          maxLength: 16
          pattern: ^application\/json$
        ref:
          $ref: '#/components/schemas/NotificationAttachmentBodyRef'
    F24Payment:
      title: Informazioni per effettuare il pagamento tramite modello F24
      description: >-
        Informazioni utili per effettuare il pagamento di una notifica, sono
        associate al destinatario perché le spese di notifica possono differire
        a seconda del canale di notifica utilizzato. <br/>
          - _title_: titolo del documento pdf da mostrare all'utente .<br/>
          - _applyCost_: flag per indicare se il modello F24 deve contenere i costi di notifica.<br/>
          - _metadataAttachment_: riferimento ai metadati per la generazione del modello F24.<br/>
      type: object
      required:
        - title
        - applyCost
        - metadataAttachment
      properties:
        title:
          description: Titolo del documento pdf da mostrare all'utente
          type: string
        applyCost:
          type: boolean
          nullable: false
          description: Flag per indicare se il modello F24 deve contere i costi di notifica
        metadataAttachment:
          $ref: '#/components/schemas/NotificationMetadataAttachment'
    NotificationPaymentItem:
      minProperties: 1
      additionalProperties: false
      nullable: false
      properties:
        pagoPa:
          $ref: '#/components/schemas/PagoPaPayment'
        f24:
          $ref: '#/components/schemas/F24Payment'
    NotificationPayments:
      title: Pagamenti collegati alla notifica per il destinatario
      description: >-
        Lista dei pagamenti collegati alla notifica per il destinatario. Possono
        essere pagamenti rateali o alternativi
      type: array
      items:
        $ref: '#/components/schemas/NotificationPaymentItem'
    NotificationRecipientV23:
      description: Informazioni sui destinatari
      required:
        - denomination
        - recipientType
        - taxId
        - physicalAddress
      type: object
      additionalProperties: false
      properties:
        recipientType:
          type: string
          description: >-
            Tipologia di destinatario: Persona Fisica (PF) o Persona Giuridica
            (PG)
          enum:
            - PF
            - PG
        taxId:
          $ref: '#/components/schemas/TaxId'
        denomination:
          $ref: '#/components/schemas/Denomination'
        digitalDomicile:
          $ref: '#/components/schemas/NotificationDigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/NotificationPhysicalAddress'
        payments:
          $ref: '#/components/schemas/NotificationPayments'
    NotificationDocument:
      description: Un documento da notificare
      allOf:
        - $ref: '#/components/schemas/NotificationAttachment'
        - type: object
          properties:
            title:
              type: string
              description: >-
                Titolo del documento allegato. Stringa alfanumerica con
                caratteri utilizzabili in un nome file.
              minLength: 1
              maxLength: 512
              pattern: ^.*$
            docIdx:
              type: string
              description: Indice del documento partendo da 0.
              maxLength: 3
              pattern: ^\d+$
    NotificationFeePolicy:
      type: string
      description: >-
        Politica di addebitamento dei costi di notifica. <br/> - _FLAT_RATE_:
        costo forfettario fisso. In questa modalità SEND non gestisce  il costo
        della notifica per il destinatario.<br/> - _DELIVERY_MODE_: costo
        calcolato in base all'effettivo percorso di notifica. <br/>
      enum:
        - FLAT_RATE
        - DELIVERY_MODE
    PaFeeV23:
      type: integer
      description: >-
        Costo espresso in eurocent sostenuto dal mittente, per l'elaborazione
        degli atti, provvedimenti, avvisi e comunicazioni oggetto di notifica,
        per il relativo deposito sulla piattaforma e per la gestione degli 
        esiti della notifica (Decreto 30 maggio 2022 - Art. 3, comma 1, lettera
        a). <br/> Obbligatoria per notifiche con
        notificationFeePolicy=DELIVERY_MODE <br/> Per le notifiche effettuate
        con versioni precedenti alla 2.3 si assume il valore di default
        100.<br/> Esempio paFee ad 1€ -> 100 <br/>
      format: int32
      minimum: 0
      maximum: 100
    VatV23:
      type: integer
      description: >-
        IVA espressa in percentuale sui costi degli avvisi in formato
        cartaceo.<br/> Obbligatoria per notifiche con
        notificationFeePolicy=DELIVERY_MODE. <br/> Per le notifiche effettuate
        con versioni precedenti alla 2.3 si assume il valore di default 22.
        <br/> Esempio vat al 22% -> 22 <br/>
      format: int32
      minimum: 0
      maximum: 100
    NewNotificationRequestV24:
      description: I campi utilizzati per la creazione di una nuova Notifica.
      type: object
      required:
        - paProtocolNumber
        - subject
        - recipients
        - documents
        - physicalCommunicationType
        - notificationFeePolicy
        - senderDenomination
        - senderTaxId
        - taxonomyCode
      properties:
        idempotenceToken:
          description: >-
            Identificativo utilizzabile dal chiamante per disambiguare
            differenti  "richieste di notificazione" effettuate con lo stesso
            numero di protocollo  (campo _paProtocolNumber_). Questo può essere
            necessario in caso di  "richiesta di notifica" rifiutata per errori
            nei codici di verifica degli allegati.
          type: string
          pattern: ^[ -~]*$
          maxLength: 256
        paProtocolNumber:
          description: Numero di protocollo che la PA mittente assegna alla notifica stessa
          type: string
          pattern: ^.*$
          maxLength: 256
        subject:
          type: string
          description: titolo della notifica
          maxLength: 134
          pattern: ^.*$
        abstract:
          type: string
          description: descrizione sintetica della notifica
          pattern: ^.*$
          maxLength: 1024
        recipients:
          type: array
          description: Informazioni sui destinatari
          items:
            $ref: '#/components/schemas/NotificationRecipientV23'
          minItems: 1
        documents:
          type: array
          description: Documenti notificati
          items:
            $ref: '#/components/schemas/NotificationDocument'
          minItems: 1
        notificationFeePolicy:
          $ref: '#/components/schemas/NotificationFeePolicy'
        cancelledIun:
          $ref: '#/components/schemas/IUN'
        physicalCommunicationType:
          type: string
          description: Tipologia comunicazione fisica
          enum:
            - AR_REGISTERED_LETTER
            - REGISTERED_LETTER_890
        senderDenomination:
          $ref: '#/components/schemas/Denomination'
        senderTaxId:
          $ref: '#/components/schemas/paTaxId'
        group:
          type: string
          description: Gruppo di utenti dell'ente mittente che può visualizzare la notifica
          pattern: ^[ -~]*$
          maxLength: 1024
        amount:
          type: integer
          format: int32
          description: Importo della notifica in eurocent
        paymentExpirationDate:
          type: string
          minLength: 10
          maxLength: 10
          pattern: ^([0-9]{4})-(1[0-2]|0[1-9])-(3[01]|[12][0-9]|0[1-9])$
          description: >-
            Data di scadenza del pagamento nel formato YYYY-MM-DD riferito
            all'Italia
        taxonomyCode:
          type: string
          minLength: 7
          maxLength: 7
          pattern: ^([0-9]{6}[A-Z]{1})$
          description: >-
            Codice tassonomico della notifica basato sulla definizione presente
            nell'allegato 2 capitolo C del bando [__AVVISO PUBBLICO MISURA 1.4.5
            PIATTAFORMA NOTIFICHE
            DIGITALI__](https://pnrrcomuni.fondazioneifel.it/bandi_public/Bando/325)
        paFee:
          $ref: '#/components/schemas/PaFeeV23'
        vat:
          $ref: '#/components/schemas/VatV23'
        pagoPaIntMode:
          type: string
          description: >-
            Modalitá di integrazione pagoPA per l'attualizazione del costo della
            notifica. <br/> - _NONE_: nessuna attualizzazione. <br/> - _SYNC_:
            modalitá sincrona. <br/> - _ASYNC_: modalitá asincrona. <br/>
          enum:
            - NONE
            - SYNC
            - ASYNC
        additionalLanguages:
          description: >-
            In questo campo è possibile definire la lingua addizionale (oltre a
            quella italiana) da utilizzare per la generazione documenti, atti
            opponibili a terzi ecc.<br/> Le lingue accettate e dunque i valori
            possibili degli item dell'array sono: <br/> - DE <br/> - SI <br/> -
            FR <br/> - EN <br/> DE (tedesco), SI (sloveno), FR (francese), EN
            (inglese)  Attualmente è possibile indicare un solo item e dunque
            una sola lingua aggiuntiva. Se non vengono indicate lingue
            aggiuntive la lingua utilizzata per generare <br/> documenti, atti
            opponibili a terzi ecc. sarà quella italiana.
          type: array
          items:
            type: string
            maxItems: 1
    SentNotificationV24:
      description: Le informazioni riguardanti una richiesta di notifica accettata
      allOf:
        - $ref: '#/components/schemas/NewNotificationRequestV24'
        - type: object
          required:
            - iun
            - sentAt
          properties:
            senderPaId:
              type: string
              description: >-
                Identificativo (non IPA) della PA mittente che ha eseguito
                l'onboarding su SelfCare. La risoluzione di questo è ottenibile
                da /ext-registry/pa/v1/activated-on-pn
              pattern: ^.*$
              maxLength: 256
            iun:
              $ref: '#/components/schemas/IUN'
            sentAt:
              type: string
              description: Momento di ricezione della notifica da parte di PN
              format: date-time
            cancelledByIun:
              $ref: '#/components/schemas/IUN'
            documentsAvailable:
              type: boolean
              description: Indica se i documenti notificati sono ancora disponibili.
    TimelineElementId:
      type: string
    NotificationStatusHistoryElement:
      description: elenco degli avanzamenti effettuati dal processo di notifica
      type: object
      required:
        - status
        - activeFrom
        - relatedTimelineElements
      properties:
        status:
          $ref: '#/components/schemas/NotificationStatus'
        activeFrom:
          type: string
          description: data e ora di raggiungimento dello stato di avanzamento
          format: date-time
        relatedTimelineElements:
          type: array
          description: Eventi avvenuti nello stato
          items:
            $ref: '#/components/schemas/TimelineElementId'
    LegalFactCategory:
      title: Tipi di atti opponibili a terzi
      description: >-
        Tipi di atti opponibili a terzi che Piattaforma Notifiche mette a
        disposizione dei suoi utenti.
          - _SENDER_ACK_: atto di "presa in carico" di una notifica
          - _DIGITAL_DELIVERY_: ...
      type: string
      enum:
        - SENDER_ACK
        - DIGITAL_DELIVERY
        - ANALOG_DELIVERY
        - RECIPIENT_ACCESS
        - PEC_RECEIPT
        - ANALOG_FAILURE_DELIVERY
    LegalFactsId:
      description: Chiavi dei documenti generati durante il processo di consegna cartacea
      type: object
      required:
        - key
        - category
      properties:
        key:
          description: >-
            Chiave dell'atto opponibile a terzi generato durante il processo di
            consegna
          type: string
          pattern: ^(safestorage:\/\/)?[A-Za-z0-9._-]+$
          maxLength: 512
        category:
          $ref: '#/components/schemas/LegalFactCategory'
    TimelineElementCategoryV23:
      type: string
      description: |
        stato di avanzamento del processo di notifica:`
          * `SENDER_ACK_CREATION_REQUEST` - Invio della richiesta di creazione, firma e marca dell'atto opponibile a terzi di presa in carico per il mittente a safe storage
          * `VALIDATE_NORMALIZE_ADDRESSES_REQUEST` - Invio della richiesta di validazione e normalizzazione indirizzi fisici presenti nella richiesta di notifica
          * `NORMALIZED_ADDRESS` - Salvataggio indirizzi normalizzati
          * `REQUEST_ACCEPTED` - Richiesta di notifica accettata a seguito dei controlli di validazione
          * `REQUEST_REFUSED` - Richiesta di notifica rifiutata per fallimento di validazione
          * `SEND_COURTESY_MESSAGE` - Invio di un messaggio di cortesia
          * `GET_ADDRESS` - Disponibilità dell’indirizzo specifico (domicilio digitale di piattaforma, domicilio digitale speciale, domicilio digitale generale, indirizzo fisico sulla notifica o sui registri nazionali)
          * `PUBLIC_REGISTRY_CALL` - Richiesta ai registri pubblici per ottenere domicilio digitale generale o per ottenere indirizzo fisico da ANPR, da registro della imprese, da anagrafe tributaria.
          * `PUBLIC_REGISTRY_RESPONSE` - Ricevuta la risposta dei registri pubblici
          * `SCHEDULE_ANALOG_WORKFLOW` - Pianificazione del workflow per invio cartaceo
          * `SCHEDULE_DIGITAL_WORKFLOW` -Pianificazione del workflow per invio digitale (PEC) del secondo tentativo in caso di fallimento del primo.
          * `PREPARE_DIGITAL_DOMICILE` - Preparazione per l’invio dell’avviso digitale.Va a valutare la timeline per capire quale sarà il prossimo indirizzo da usare.
          * `SEND_DIGITAL_DOMICILE` - Invio digitale dell’avviso di notifica
          * `SEND_DIGITAL_PROGRESS` - Tentativo di Invio PEC ad un determinato indirizzo.
          * `SEND_DIGITAL_FEEDBACK` - Ottenuto esito ad un invio digitale
          * `SCHEDULE_REFINEMENT` - Pianificato il perfezionamento per decorrenza termini
          * `REFINEMENT` - Perfezionamento per decorrenza termini
          * `DIGITAL_DELIVERY_CREATION_REQUEST` - Invio della richiesta di creazione, firma e marca dell'atto opponibile a terzi di chiusura del workflow digitale a safe storage
          * `DIGITAL_SUCCESS_WORKFLOW` - Completato con successo il workflow di invio digitale
          * `DIGITAL_FAILURE_WORKFLOW` - Completato con fallimento il workflow di invio digitale: tutti i tentativi di invio ai domicili digitali sono falliti.
          * `ANALOG_SUCCESS_WORKFLOW` - Completato con successo il workflow di invio cartaceo
          * `ANALOG_FAILURE_WORKFLOW` - Completato con fallimento il workflow di invio cartaceo NOTA: se per tutti i destinatari si conclude il workflow con fallimento verrà scatenato l’evento COMPLETELY_UNREACHABLE
          * `PREPARE_SIMPLE_REGISTERED_LETTER` - Invio richiesta di prepare (preparazione ad invio) raccomandata semplice a paperChannel
          * `SEND_SIMPLE_REGISTERED_LETTER` - Invio di raccomandata semplice
          * `SEND_SIMPLE_REGISTERED_LETTER_PROGRESS` - Ricezione informazioni intermedia relative ad una notificazione cartacea semplice
          * `NOTIFICATION_VIEWED_CREATION_REQUEST` - Invio della richiesta di creazione, firma e marca dell'atto opponibile a terzi di presa visione a safe storage
          * `NOTIFICATION_VIEWED` - Visualizzazione della notifica (perfeziona la notifica se non già perfezionata per decorrenza termini o da altro destinatario)
          * `PREPARE_ANALOG_DOMICILE` - Invio richiesta di prepare (preparazione ad invio) cartaceo a paperChannel
          * `SEND_ANALOG_DOMICILE` - Invio cartaceo dell’avviso di notifica
          * `SEND_ANALOG_PROGRESS` - Ricezione informazioni intermedia relative ad una notificazione cartacea
          * `SEND_ANALOG_FEEDBACK` - Ricezione esito dell'invio cartaceo
          * `COMPLETELY_UNREACHABLE_CREATION_REQUEST` - Invio della richiesta di creazione, firma e marca dell'atto (simile a opponibile a terzi) di completamento con fallimento del workflow di invio cartaceo
          * `COMPLETELY_UNREACHABLE` - Tutti i destinatari risultano irraggiungibili
          * `AAR_CREATION_REQUEST` - Invio della richiesta di creazione, firma e marca dell'AAR (Avviso di Avvenuta Ricezione) a safe storage
          * `AAR_GENERATION` - Generazione dell’AAR (Avviso di Avvenuta Ricezione)
          * `PAYMENT` - Evento di ricezione __dal mittente__ dell'informazione di chiusura di uno o più pagamenti di tipo pagoPA (vedi #/components/schemas/PagoPaPayment). La presenza di questo evento inibisce l'invio di eventuali comunicazioni analogiche future ma non perfeziona la notifica.
          * `NOT_HANDLED` - [DEPRECATO] Per la sperimentazione l'invio analogico non è previsto, viene inserito tale elemento di timeline
          * `PROBABLE_SCHEDULING_ANALOG_DATE` - Data probabile di inizio del flusso analogico
          * `NOTIFICATION_CANCELLATION_REQUEST` - Richiesta di annullamento di una notifica
          * `NOTIFICATION_CANCELLED` - Notifica annullata
          * `PREPARE_ANALOG_DOMICILE_FAILURE` - Fallimento della richiesta di prepare (preparazione ad invio) cartaceo a paperChannel
          * `NOTIFICATION_RADD_RETRIEVED` - Accesso alla notifica tramite la rete RADD. Non perfeziona la notifica.
      enum:
        - SENDER_ACK_CREATION_REQUEST
        - VALIDATE_NORMALIZE_ADDRESSES_REQUEST
        - NORMALIZED_ADDRESS
        - REQUEST_ACCEPTED
        - SEND_COURTESY_MESSAGE
        - GET_ADDRESS
        - PUBLIC_REGISTRY_CALL
        - PUBLIC_REGISTRY_RESPONSE
        - SCHEDULE_ANALOG_WORKFLOW
        - SCHEDULE_DIGITAL_WORKFLOW
        - PREPARE_DIGITAL_DOMICILE
        - SEND_DIGITAL_DOMICILE
        - SEND_DIGITAL_PROGRESS
        - SEND_DIGITAL_FEEDBACK
        - REFINEMENT
        - SCHEDULE_REFINEMENT
        - DIGITAL_DELIVERY_CREATION_REQUEST
        - DIGITAL_SUCCESS_WORKFLOW
        - DIGITAL_FAILURE_WORKFLOW
        - ANALOG_SUCCESS_WORKFLOW
        - ANALOG_FAILURE_WORKFLOW
        - PREPARE_SIMPLE_REGISTERED_LETTER
        - SEND_SIMPLE_REGISTERED_LETTER
        - SEND_SIMPLE_REGISTERED_LETTER_PROGRESS
        - NOTIFICATION_VIEWED_CREATION_REQUEST
        - NOTIFICATION_VIEWED
        - PREPARE_ANALOG_DOMICILE
        - SEND_ANALOG_DOMICILE
        - SEND_ANALOG_PROGRESS
        - SEND_ANALOG_FEEDBACK
        - PAYMENT
        - COMPLETELY_UNREACHABLE
        - COMPLETELY_UNREACHABLE_CREATION_REQUEST
        - REQUEST_REFUSED
        - AAR_CREATION_REQUEST
        - AAR_GENERATION
        - NOT_HANDLED
        - PROBABLE_SCHEDULING_ANALOG_DATE
        - NOTIFICATION_CANCELLATION_REQUEST
        - NOTIFICATION_CANCELLED
        - PREPARE_ANALOG_DOMICILE_FAILURE
        - NOTIFICATION_RADD_RETRIEVED
    SenderAckCreationRequestDetails:
      type: object
      properties:
        legalFactId:
          type: string
          maxLength: 128
          description: >-
            Identificativo dell'atto opponibile a terzi del quale è stata
            richiesta la creazione
    PhysicalAddress:
      type: object
      required:
        - address
        - municipality
      properties:
        at:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Campo "presso" dell'indirizzo
        address:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Indirizzo del domicilio fisico
        addressDetails:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Seconda riga dell'indirizzo fisico
        zip:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: >-
            Codice di avviamento postale. In caso di invio estero diventa
            facoltativo
        municipality:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Comune in cui l'indirizzo si trova
        municipalityDetails:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Frazione o località
        province:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Provincia in cui si trova l'indirizzo
        foreignState:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: Denominazione paese estero
      description: Indirizzo fisico scoperto durante fase di consegna
    NormalizedAddressDetails:
      type: object
      required:
        - recIndex
        - oldAddress
        - normalizedAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        oldAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        normalizedAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    NotificationRequestAcceptedDetails:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    AnalogFailureWorkflowDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        generatedAarUrl:
          type: string
          maxLength: 128
          description: Chiave per recupero da safe-storage del documento aar
    AnalogSuccessWorkflowDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    EndWorkflowStatus:
      type: string
      description: Stato chiusura workflow
      enum:
        - SUCCESS
        - FAILURE
    CompletelyUnreachableCreationRequestDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        legalfactId:
          type: string
          maxLength: 128
          description: >-
            Identificativo dell'atto opponibile a terzi del quale è stata
            richiesta la creazione
        endWorkflowStatus:
          $ref: '#/components/schemas/EndWorkflowStatus'
        completionWorkflowDate:
          type: string
          description: Data chiusura workflow
          format: date-time
    CompletelyUnreachableDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        legalFactGenerationDate:
          type: string
          description: Data generazione atto opponibile a terzi allegato
          format: date-time
    DigitalAddress:
      description: Indirizzo di invio della notifica
      required:
        - address
        - type
      type: object
      properties:
        type:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: tipo di indirizzo PEC, REM, SERCQ, SMS, EMAIL, APPIO ...
        address:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          description: account@domain
    DigitalDeliveryCreationRequestDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        endWorkflowStatus:
          $ref: '#/components/schemas/EndWorkflowStatus'
        completionWorkflowDate:
          type: string
          description: Data chiusura workflow
          format: date-time
        legalfactId:
          type: string
          maxLength: 128
          description: >-
            Identificativo dell'atto opponibile a terzi del quale è stata
            richiesta la creazione
    DigitalFailureWorkflowDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
    DigitalSuccessWorkflowDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
    DigitalAddressSource:
      type: string
      description: sorgente indirizzo di invio della notifica
      enum:
        - PLATFORM
        - SPECIAL
        - GENERAL
    GetAddressInfoDetails:
      type: object
      required:
        - recIndex
        - digitalAddressSource
        - isAvailable
        - attemptDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        isAvailable:
          type: boolean
          description: Disponibilità indirizzo
        attemptDate:
          type: string
          description: Data tentativo
          format: date-time
    RaddTypeV23:
      type: string
      description: |
        tipo di Rete Anti Digital Divide <br/>
        __FSU__: Fornitore Servizio Universale <br/>
        __ALT__: Fornitore RADD Alternativa <br/>
    RaddTransactionId:
      type: string
      description: Identificativo della pratica all'interno della rete RADD
      maxLength: 512
    RecipientType:
      type: string
      enum:
        - PF
        - PG
    DelegateInfo:
      type: object
      properties:
        internalId:
          type: string
          maxLength: 128
        taxId:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          maxLength: 128
        operatorUuid:
          type: string
          maxLength: 128
        mandateId:
          type: string
          maxLength: 128
        denomination:
          x-field-extra-annotation: '@lombok.ToString.Exclude'
          type: string
          maxLength: 128
        delegateType:
          $ref: '#/components/schemas/RecipientType'
    NotificationViewedCreationRequestDetailsV23:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        legalfactId:
          type: string
          maxLength: 128
          description: >-
            Identificativo dell'atto opponibile a terzi del quale è stata
            richiesta la creazione
        eventTimestamp:
          type: string
          description: Data ricezione richiesta visualizzazione notifica
          format: date-time
        raddType:
          $ref: '#/components/schemas/RaddTypeV23'
        raddTransactionId:
          $ref: '#/components/schemas/RaddTransactionId'
        delegateInfo:
          $ref: '#/components/schemas/DelegateInfo'
    NotificationViewedDetailsV23:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        notificationCost:
          description: >-
            costo notifica in euro cents, può essere nullo se la notifica si è
            perfezionata prima per decorrenza termini
          example: 1220
          type: integer
          format: int64
        raddType:
          $ref: '#/components/schemas/RaddTypeV23'
        raddTransactionId:
          $ref: '#/components/schemas/RaddTransactionId'
        delegateInfo:
          $ref: '#/components/schemas/DelegateInfo'
        eventTimestamp:
          type: string
          description: Data evento visualizzazione
          format: date-time
    NotificationRADDRetrievedDetails:
      type: object
      required:
        - recIndex
        - raddType
        - raddTransactionId
        - eventTimestamp
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        raddType:
          $ref: '#/components/schemas/RaddTypeV23'
        raddTransactionId:
          $ref: '#/components/schemas/RaddTransactionId'
        eventTimestamp:
          type: string
          description: Data evento
          format: date-time
    DeliveryMode:
      type: string
      description: Tipologia Domiciliazione
      enum:
        - DIGITAL
        - ANALOG
    ContactPhase:
      type: string
      description: Fase in cui è avvenuta la richiesta
      enum:
        - CHOOSE_DELIVERY
        - SEND_ATTEMPT
    PublicRegistryCallDetails:
      type: object
      required:
        - recIndex
        - deliveryMode
        - contactPhase
        - sentAttemptMade
        - sendDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        deliveryMode:
          $ref: '#/components/schemas/DeliveryMode'
        contactPhase:
          $ref: '#/components/schemas/ContactPhase'
        sentAttemptMade:
          type: integer
          description: Numero di tentativi di notificazione già effettuati
          format: int32
        sendDate:
          type: string
          description: Data invio richiesta ai public registry
          format: date-time
    PublicRegistryResponseDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    RefinementDetailsV23:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        notificationCost:
          description: >-
            costo notifica in euro cents, può essere nullo se la notifica si è
            perfezionata prima per visualizzazione
          example: 1220
          type: integer
          format: int64
        eventTimestamp:
          type: string
          description: Data evento refinement
          format: date-time
    NotificationRefusedErrorV23:
      type: object
      properties:
        errorCode:
          type: string
          maxLength: 128
          description: |-
            Errori di rifiuto della notifica.
              - FILE_NOTFOUND
              - FILE_SHA_ERROR
              - TAXID_NOT_VALID
              - SERVICE_UNAVAILABLE
              - FILE_PDF_INVALID_ERROR
              - FILE_PDF_TOOBIG_ERROR
              - NOT_VALID_ADDRESS
              - RECIPIENT_ID_NOT_VALID
              - F24_METADATA_NOT_VALID
              - PAYMENT_NOT_VALID
              ...
        detail:
          type: string
          maxLength: 2048
    RequestRefusedDetailsV23:
      type: object
      properties:
        refusalReasons:
          type: array
          description: Motivazioni che hanno portato al rifiuto della notifica
          items:
            $ref: '#/components/schemas/NotificationRefusedErrorV23'
    ScheduleAnalogWorkflowDetailsV23:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        schedulingDate:
          type: string
          description: Data prevista per l'inizio dell'invio analogico
          format: date-time
    ScheduleDigitalWorkflowDetailsV23:
      type: object
      required:
        - recIndex
        - digitalAddressSource
        - sentAttemptMade
        - lastAttemptDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        sentAttemptMade:
          type: integer
          format: int32
        lastAttemptDate:
          type: string
          format: date-time
        schedulingDate:
          type: string
          description: >-
            Data prevista prossimo tentativo d'invio digitale per quella
            specifica sorgente di indirizzo
          format: date-time
    ScheduleRefinementDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        schedulingDate:
          type: string
          format: date-time
    IoSendMessageResult:
      type: string
      description: Risultato invio messaggio su IO
      enum:
        - NOT_SENT_OPTIN_ALREADY_SENT
        - SENT_COURTESY
        - SENT_OPTIN
    SendCourtesyMessageDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
        - sendDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        sendDate:
          type: string
          description: data invio messaggio di cortesia
          format: date-time
        ioSendMessageResult:
          $ref: '#/components/schemas/IoSendMessageResult'
    PrepareDigitalDetails:
      type: object
      required:
        - recIndex
        - digitalAddressSource
        - retryNumber
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        attemptDate:
          type: string
          description: data tentativo precedente
          format: date-time
        nextDigitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        nextSourceAttemptsMade:
          type: integer
          description: numero del prossimo tentativo da effettuare
          format: int32
        nextLastAttemptMadeForSource:
          type: string
          description: data tentativo precedente per prossimo source
          format: date-time
    SendDigitalDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
        - digitalAddressSource
        - retryNumber
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
    ResponseStatus:
      type: string
      description: stato risposta ricevuta da externalChannel
      enum:
        - OK
        - KO
    SendingReceipt:
      type: object
      properties:
        id:
          type: string
          description: messageId del server mittente
          maxLength: 1024
        system:
          type: string
          description: nome del server mittente
          maxLength: 128
    SendDigitalFeedbackDetails:
      type: object
      required:
        - recIndex
        - digitalAddress
        - responseStatus
        - notificationDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        deliveryFailureCause:
          description: Codice errore, vuoto in caso di successo
          type: string
        deliveryDetailCode:
          type: string
          description: |
            Stato - Codice relativo all'evento - Descrizione:
              - PROGRESS   C000 = PREACCETTAZIONE
              - PROGRESS   C001 = ACCETTAZIONE
              - PROGRESS   C005 = PRESA_IN_CARICO
              - PROGRESS   C007 = PREAVVISO_ERRORE_CONSEGNA
              - PROGRESS   DP00 = RE-INVIO PEC CAUSA FALLIMENTO TEMPORANEO
              - PROGRESS   DP10 = TIMEOUT RICEZIONE RISULTATO
              - ERROR      C002 = NON_ACCETTAZIONE
              - ERROR      C004 = ERRORE_CONSEGNA
              - ERROR      C006 = RILEVAZIONE_VIRUS
              - ERROR      C008 = ERRORE_COMUNICAZIONE_SERVER_PEC
              - ERROR      C009 = ERRORE_DOMINIO_PEC_NON_VALIDO
              - ERROR      C010 = ERROR_INVIO_PEC
              - OK         C003 = AVVENUTA_CONSEGNA
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
    SendDigitalProgressDetailsV23:
      type: object
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        deliveryFailureCause:
          description: Codice errore, opzionale
          type: string
        deliveryDetailCode:
          type: string
          description: Vedi deliveryDetailCode in SendDigitalFeedbackDetails
        shouldRetry:
          type: boolean
          description: indica se il progress ha dato luogo ad un ritentativo
        digitalAddress:
          $ref: '#/components/schemas/DigitalAddress'
        digitalAddressSource:
          $ref: '#/components/schemas/DigitalAddressSource'
        notificationDate:
          type: string
          description: data notifica
          format: date-time
        sendingReceipts:
          type: array
          items:
            $ref: '#/components/schemas/SendingReceipt'
        retryNumber:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        eventTimestamp:
          type: string
          description: Data evento
          format: date-time
    ServiceLevel:
      type: string
      description: Livello Servizio
      enum:
        - AR_REGISTERED_LETTER
        - REGISTERED_LETTER_890
    BaseAnalogDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
        - serviceLevel
        - sentAttemptMade
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        relatedRequestId:
          type: string
          description: Id relativo alla eventuale precedente richiesta di invio cartaceo
          maxLength: 512
    SendAnalogDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
        - serviceLevel
        - sentAttemptMade
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        relatedRequestId:
          type: string
          description: Id relativo alla eventuale precedente richiesta di invio cartaceo
          maxLength: 512
        productType:
          type: string
          maxLength: 10
          description: |
            Tipo di invio cartaceo effettivamente inviato
              - __AR__: Raccomandata nazionale Andata e Ritorno
              - __890__: Recapito a norma della legge 890/1982
              - __RIR__: Raccomandata internazionale Andata e Ritorno
        analogCost:
          type: integer
          description: costo in eurocent dell'invio
          format: int32
        numberOfPages:
          type: integer
          description: numero delle pagina che compongono la spedizione cartacea
          format: int32
        envelopeWeight:
          type: integer
          description: peso in grammi della busta
          format: int32
        prepareRequestId:
          type: string
          description: request id della relativa richiesta di prepare
          maxLength: 512
    AttachmentDetails:
      type: object
      properties:
        id:
          type: string
          maxLength: 128
        documentType:
          type: string
          maxLength: 20
          description: >
            Codici documentType: - Plico: Indica il plico cartaceo - AR: Indica
            la ricevuta di ritorno - Indagine: Indica la ricevuta dell'analisi
            dell'indagine - 23L: Indica la ricevuta 23L
        url:
          type: string
          maxLength: 128
        date:
          type: string
          format: date-time
    SendAnalogFeedbackDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
        - serviceLevel
        - sentAttemptMade
        - responseStatus
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
        sentAttemptMade:
          type: integer
          description: numero dei tentativi effettuati
          format: int32
        newAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        responseStatus:
          $ref: '#/components/schemas/ResponseStatus'
        notificationDate:
          type: string
          format: date-time
        deliveryFailureCause:
          type: string
          maxLength: 10
          description: >
            __Motivazione di mancata consegna__ obbligatorie negli stati di
            mancata consegna
              - __M01__ destinatario irreperibile
              - __M02__ destinatario deceduto
              - __M03__ destinatario sconosciuto
              - __M04__ destinatario trasferito
              - __M05__ invio rifiutato
              - __M06__ indirizzo inesatto
              - __M07__ indirizzo inesistente
              - __M08__ indirizzo insufficiente
              - __F01__ - in caso di furto
              - __F02__ - in caso di smarrimento
              - __F03__ - in caso di deterioramento
        deliveryDetailCode:
          type: string
          maxLength: 20
          description: >
            Formato: - __deliveryDetailCode__- [prodotto] - [statusCode] -
            statusDescription
              - __CON080__- [ALL] - [PROGRESS] - Stampato ed Imbustato
              - __RECRS001C__- [RS] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRS002C__- [RS] - [KO] - Mancata consegna - Fascicolo Chiuso
              - __RECRS002F__- [RS] - [KO] - Irreperibilità Assoluta - Fascicolo Chiuso
              - __RECRS003C__- [RS] - [OK] - Consegnato presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRS004C__- [RS] - [OK] - Mancata consegna presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRS005C__- [RS] - [OK] - Compiuta giacenza - Fascicolo Chiuso
              - __RECRS006__- [RS] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECRN001C__- [AR] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRN002C__- [AR] - [KO] - Mancata consegna - Fascicolo Chiuso
              - __RECRN002F__- [AR] - [KO] - Irreperibilità Assoluta - Fascicolo Chiuso
              - __RECRN003C__- [AR] - [OK] - Consegnato presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRN004C__- [AR] - [KO] - Mancata consegna presso Punti di Giacenza - Fascicolo Chiuso
              - __RECRN005C__- [AR] - [OK] - Compiuta giacenza - Fascicolo Chiuso
              - __RECRN006__- [AR] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECAG001C__- [890] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECAG002C__- [890] - [OK] - Consegnato a persona abilitata - Fascicolo Chiuso
              - __RECAG003C__- [890] - [KO] - Mancata consegna - Fascicolo Chiuso
              - __RECAG003F__- [890] - [KO] - Irreperibilità Assoluta - Fascicolo Chiuso
              - __RECAG004__- [890] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECAG005C__- [890] - [OK | PROGRESS] - Consegnato presso Punti di Giacenza - Fascicolo Chiuso
              - __RECAG006C__- [890] - [OK | PROGRESS] - Consegna a persona abilitata presso Punti di Giacenza - Fas. Ch.
              - __RECAG007C__- [890] - [KO | PROGRESS] - Mancata consegna presso Punti di Giacenza - Fascicolo Chiuso
              - __RECAG008C__- [890] - [PROGRESS] - Compiuta giacenza - Fascicolo Chiuso
              - __PNAG012__- [890] - [KO] - Distacco d'ufficio 23L - Fascicolo Chiuso
              - __RECRI003C__- [RIR] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRI004C__- [RIR] - [KO] - Non Consegnato - fascicolo Chiuso
              - __RECRI005__- [RIR] - [PROGRESS] - Furto/Smarrimento/deterioramento
              - __RECRSI003C__- [RIS] - [OK] - Consegnato - Fascicolo Chiuso
              - __RECRSI004C__- [RIS] - [KO] - Non Consegnato - fascicolo Chiuso
              - __RECRSI005__- [RIS] - [PROGRESS] - Furto/Smarrimento/deterioramento
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetails'
        sendRequestId:
          type: string
          description: RequestId della richiesta d'invio
          maxLength: 512
        registeredLetterCode:
          type: string
          description: Codice della raccomandata
          maxLength: 128
    BaseRegisteredLetterDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
    SimpleRegisteredLetterDetails:
      type: object
      required:
        - recIndex
        - physicalAddress
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        physicalAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        productType:
          type: string
          maxLength: 10
          description: |
            Tipo di invio cartaceo effettivamente inviato
              - __RS__: Raccomandata nazionale Semplice (per Avviso di mancato Recapito)
              - __RIS__: Raccomandata internazionale Semplice
        analogCost:
          type: integer
          description: costo in eurocent dell'invio
          format: int32
        numberOfPages:
          type: integer
          description: numero delle pagina che compongono la spedizione cartacea
          format: int32
        envelopeWeight:
          type: integer
          description: peso in grammi della busta
          format: int32
        prepareRequestId:
          type: string
          description: request id della relativa richiesta di prepare
          maxLength: 512
    AarCreationRequestDetails:
      type: object
      required:
        - recIndex
        - aarKey
        - numberOfPages
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        aarKey:
          type: string
          description: Chiave per recupero da safe-storage del documento aar
          maxLength: 128
        numberOfPages:
          type: integer
          description: numero di pagine del PDF generato
          format: int32
    AarGenerationDetails:
      type: object
      required:
        - recIndex
        - generatedAarUrl
        - numberOfPages
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        generatedAarUrl:
          type: string
          description: Chiave per recupero da safe-storage del documento aar
          maxLength: 128
        numberOfPages:
          type: integer
          description: numero di pagine del PDF generato
          format: int32
    NotHandledDetails:
      type: object
      required:
        - recIndex
        - reasonCode
        - reason
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        reasonCode:
          type: string
          description: Codice motivazione casistica non gestita
          maxLength: 10
        reason:
          type: string
          description: Motivazione casistica non gestita
          maxLength: 2048
    NotificationPaidDetailsV23:
      type: object
      required:
        - recIndex
        - recipientType
        - paymentSourceChannel
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        recipientType:
          $ref: '#/components/schemas/RecipientType'
        amount:
          type: integer
          description: Importo di pagamento in eurocent
          format: int32
        creditorTaxId:
          $ref: '#/components/schemas/paTaxId'
        noticeCode:
          $ref: '#/components/schemas/noticeCode'
        idF24:
          type: string
          description: un UUID che identifica un pagamento f24
          maxLength: 512
        paymentSourceChannel:
          type: string
          description: Canale sorgente della richiesta di pagamento
          maxLength: 512
        uncertainPaymentDate:
          deprecated: true
          type: boolean
          description: Indica se la data di pagamento é certa
        eventTimestamp:
          type: string
          description: Data evento pagamento
          format: date-time
    SendAnalogProgressDetailsV23:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        notificationDate:
          type: string
          format: date-time
        deliveryFailureCause:
          type: string
          maxLength: 10
          description: Vedi deliveryFailureCause in SendAnalogFeedbackDetails
        deliveryDetailCode:
          type: string
          maxLength: 20
          description: Vedi deliveryDetailCode in SendAnalogFeedbackDetails
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetails'
        sendRequestId:
          type: string
          description: RequestId della richiesta d'invio
          maxLength: 512
        registeredLetterCode:
          type: string
          description: Codice della raccomandata
          maxLength: 128
        serviceLevel:
          $ref: '#/components/schemas/ServiceLevel'
    SimpleRegisteredLetterProgressDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        notificationDate:
          type: string
          format: date-time
        deliveryFailureCause:
          type: string
          maxLength: 10
          description: Vedi deliveryFailureCause in SendAnalogFeedbackDetails
        deliveryDetailCode:
          type: string
          maxLength: 20
          description: Vedi deliveryDetailCode in SendAnalogFeedbackDetails
        attachments:
          type: array
          items:
            $ref: '#/components/schemas/AttachmentDetails'
        sendRequestId:
          type: string
          description: RequestId della richiesta d'invio
          maxLength: 512
        registeredLetterCode:
          type: string
          description: Codice della raccomandata
          maxLength: 128
    ProbableDateAnalogWorkflowDetails:
      type: object
      required:
        - recIndex
        - schedulingAnalogDate
      properties:
        recIndex:
          type: integer
          description: Index destinatario che ha effettuato il pagamento della notifica
          format: int32
        schedulingAnalogDate:
          type: string
          format: date-time
          description: Data probabile di inizio del flusso analogico
    NotificationCancellationRequestDetails:
      type: object
      required:
        - cancellationRequestId
      properties:
        cancellationRequestId:
          type: string
          description: Id della richiesta
          maxLength: 512
    NotificationCancelledDetails:
      type: object
      required:
        - notificationCost
        - notRefinedRecipientIndexes
      properties:
        notificationCost:
          description: >-
            costo notifica in euro cents, vale 100 * numero di recipient not
            refined
          example: 1220
          type: integer
          format: int64
        notRefinedRecipientIndexes:
          type: array
          items:
            description: indice del recipient non perfezionato
            type: integer
            format: int32
    PrepareAnalogDomicileFailureDetails:
      type: object
      required:
        - recIndex
      properties:
        recIndex:
          type: integer
          description: Index destinatario notifica digitale
          format: int32
        foundAddress:
          $ref: '#/components/schemas/PhysicalAddress'
        failureCause:
          type: string
          maxLength: 10
          description: |
            __Motivazione fallimento prepare
              - __D00__ Indirizzo non trovato
              - __D01__ Indirizzo non valido
              - __D02__ Indirizzo coincidente con quello del primo tentativo
        prepareRequestId:
          type: string
          description: RequestId della richiesta di prepare
          maxLength: 512
    TimelineElementDetailsV23:
      description: The raw event payload that will be different based on the event.
      oneOf:
        - $ref: '#/components/schemas/SenderAckCreationRequestDetails'
        - $ref: '#/components/schemas/NormalizedAddressDetails'
        - $ref: '#/components/schemas/NotificationRequestAcceptedDetails'
        - $ref: '#/components/schemas/AnalogFailureWorkflowDetails'
        - $ref: '#/components/schemas/AnalogSuccessWorkflowDetails'
        - $ref: '#/components/schemas/CompletelyUnreachableCreationRequestDetails'
        - $ref: '#/components/schemas/CompletelyUnreachableDetails'
        - $ref: '#/components/schemas/DigitalDeliveryCreationRequestDetails'
        - $ref: '#/components/schemas/DigitalFailureWorkflowDetails'
        - $ref: '#/components/schemas/DigitalSuccessWorkflowDetails'
        - $ref: '#/components/schemas/GetAddressInfoDetails'
        - $ref: '#/components/schemas/NotificationViewedCreationRequestDetailsV23'
        - $ref: '#/components/schemas/NotificationViewedDetailsV23'
        - $ref: '#/components/schemas/NotificationRADDRetrievedDetails'
        - $ref: '#/components/schemas/PublicRegistryCallDetails'
        - $ref: '#/components/schemas/PublicRegistryResponseDetails'
        - $ref: '#/components/schemas/RefinementDetailsV23'
        - $ref: '#/components/schemas/RequestRefusedDetailsV23'
        - $ref: '#/components/schemas/ScheduleAnalogWorkflowDetailsV23'
        - $ref: '#/components/schemas/ScheduleDigitalWorkflowDetailsV23'
        - $ref: '#/components/schemas/ScheduleRefinementDetails'
        - $ref: '#/components/schemas/SendCourtesyMessageDetails'
        - $ref: '#/components/schemas/PrepareDigitalDetails'
        - $ref: '#/components/schemas/SendDigitalDetails'
        - $ref: '#/components/schemas/SendDigitalFeedbackDetails'
        - $ref: '#/components/schemas/SendDigitalProgressDetailsV23'
        - $ref: '#/components/schemas/BaseAnalogDetails'
        - $ref: '#/components/schemas/SendAnalogDetails'
        - $ref: '#/components/schemas/SendAnalogFeedbackDetails'
        - $ref: '#/components/schemas/BaseRegisteredLetterDetails'
        - $ref: '#/components/schemas/SimpleRegisteredLetterDetails'
        - $ref: '#/components/schemas/AarCreationRequestDetails'
        - $ref: '#/components/schemas/AarGenerationDetails'
        - $ref: '#/components/schemas/NotHandledDetails'
        - $ref: '#/components/schemas/NotificationPaidDetailsV23'
        - $ref: '#/components/schemas/SendAnalogProgressDetailsV23'
        - $ref: '#/components/schemas/SimpleRegisteredLetterProgressDetails'
        - $ref: '#/components/schemas/ProbableDateAnalogWorkflowDetails'
        - $ref: '#/components/schemas/NotificationCancellationRequestDetails'
        - $ref: '#/components/schemas/NotificationCancelledDetails'
        - $ref: '#/components/schemas/PrepareAnalogDomicileFailureDetails'
    NotificationAttachmentDownloadMetadataResponse:
      title: Url e metadati per il download di un allegato di una notifica
      description: |-
        I due campi più importanti sono __url__ e __retryAfter__. <br/>
          - __url__ è presente se il file è pronto per essere scaricato ed indica l'url a cui fare GET.
          - __retryAfter__ indica che il file è stato archiviato e bisognerà aspettare un numero di
            secondi non inferiore a quanto indicato dal campo _retryAfter_. <br/>
      type: object
      required:
        - filename
        - contentType
        - contentLength
        - sha256
      properties:
        filename:
          type: string
        contentType:
          type: string
          example: application/pdf
        contentLength:
          type: integer
          format: int32
          example: 54092
          description: dimensione, in byte, del contenuto.
        sha256:
          type: string
          description: SHA256 del contenuto del file.
        url:
          type: string
          description: >-
            URL preautorizzato a cui effettuare una richiesta GET per ottenere
            il  contenuto del documento. Presente solo se il documento è pronto
            per il download.
        retryAfter:
          type: integer
          format: int32
          description: >-
            Stima del numero di secondi da aspettare prima che il contenuto del 
            documento sia disponibile per il download.
    NewNotificationRequestV23:
      description: I campi utilizzati per la creazione di una nuova Notifica.
      type: object
      required:
        - paProtocolNumber
        - subject
        - recipients
        - documents
        - physicalCommunicationType
        - notificationFeePolicy
        - senderDenomination
        - senderTaxId
        - taxonomyCode
      properties:
        idempotenceToken:
          description: >-
            Identificativo utilizzabile dal chiamante per disambiguare
            differenti  "richieste di notificazione" effettuate con lo stesso
            numero di protocollo  (campo _paProtocolNumber_). Questo può essere
            necessario in caso di  "richiesta di notifica" rifiutata per errori
            nei codici di verifica degli allegati.
          type: string
          pattern: ^[ -~]*$
          maxLength: 256
        paProtocolNumber:
          description: Numero di protocollo che la PA mittente assegna alla notifica stessa
          type: string
          pattern: ^.*$
          maxLength: 256
        subject:
          type: string
          description: titolo della notifica
          maxLength: 134
          pattern: ^.*$
        abstract:
          type: string
          description: descrizione sintetica della notifica
          pattern: ^.*$
          maxLength: 1024
        recipients:
          type: array
          description: Informazioni sui destinatari
          items:
            $ref: '#/components/schemas/NotificationRecipientV23'
          minItems: 1
        documents:
          type: array
          description: Documenti notificati
          items:
            $ref: '#/components/schemas/NotificationDocument'
          minItems: 1
        notificationFeePolicy:
          $ref: '#/components/schemas/NotificationFeePolicy'
        cancelledIun:
          $ref: '#/components/schemas/IUN'
        physicalCommunicationType:
          type: string
          description: Tipologia comunicazione fisica
          enum:
            - AR_REGISTERED_LETTER
            - REGISTERED_LETTER_890
[...]
