openapi: 3.0.3
info:
  termsOfService: https://da-definire/
  x-api-id: api-external-b2b-appio
  title: "Piattaforma Notifiche: API B2B per backend AppIO"
  x-summary: 'Piattaforma Notifiche: API B2B per backend AppIO'
  description: |-
    ## Abstract
      API utilizzate dal backend di AppIO per recuperare:
      - i dettagli della notifica
      - gli url dei documenti allegati alla notifica
      - gli url degli atti opponibili a terzi
  contact:
    email: pn@pagopa.it
  license:
    name: Licenza di PN
    url: https://da-definire/
  version: '1.1.0'
servers:
  - url: https://api-io.pn.pagopa.it
    description: Ambiente di produzione
  - url: https://api-io.uat.pn.pagopa.it
    description: Ambiente di test
  - url: https://api-io.dev.pn.pagopa.it
    description: Ambiente di sviluppo
tags:
  - name: AppIO-PN-Notification
    description: Notification details
  - name: AppIO-PN-Documents
    description: Notification Documents
  - name: AppIO-PN-LegalFacts
    description: Notification Legal Facts
paths:
  "/delivery/notifications/received/{iun}":
    get:
      summary: Accesso notifiche ricevute
      description: >-
        Utilizzato da Persone Fisiche e Persone Giuridiche per accedere ai dettagli delle 
        notifiche ricevute.
      tags:
        - AppIO-PN-Notification
      operationId: getReceivedNotification
      parameters:
        - $ref: '../parameters-notification-search-v1.yaml#/components/parameters/pathIun'
        - $ref: '#/components/parameters/cxTaxIdAuthFleet'
      responses:
        '200':
          description: OK
          content:
            application/io+json:
              schema:
                $ref: "#/components/schemas/IOReceivedNotification"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'

  "/delivery/notifications/sent/{iun}/attachments/documents/{docIdx}":
    get:
      summary: Download documento notificato
      tags:
        - AppIO-PN-Documents
      operationId: getSentNotificationDocument
      parameters:
        - $ref: '../parameters-notification-search-v1.yaml#/components/parameters/pathIun'
        - $ref: '../api-external-b2b-pa-v1.yaml#/components/parameters/pathDocumentIdx'
        - $ref: '#/components/parameters/cxTaxIdAuthFleet'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '../schemas-pn-notification-v1.yaml#/components/schemas/NotificationAttachmentDownloadMetadataResponse'
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
        '404':
          description: Not Found
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem' 
                                
    ###########################################################################################
    ###                          DOWNLOAD ATTI OPPONIBILI A TERZI                           ###
    ###########################################################################################

  '/delivery-push/{iun}/legal-facts/{legalFactType}/{legalFactId}':                       
    get:                                                                                  
      summary: Download atto opponibile a terzi                                           
      description: Permette di scaricare un atto opponibile a terzi                       
      tags:                                                                               
        - AppIO-PN-LegalFacts
      operationId: getLegalFact
      parameters:
        - $ref: '../parameters-notification-search-v1.yaml#/components/parameters/pathIun'
        - $ref: '#/components/parameters/pathLegalFactType'
        - $ref: '#/components/parameters/pathLegalFactId'
        - $ref: '#/components/parameters/cxTaxIdAuthFleet'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LegalFactDownloadMetadataResponse"
        '400':
          description: Bad request
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/Problem'
components:
  parameters:
    ############################################################################################
    ###                     PARAMETRI DI AUTENTICAZIONE E AUTORIZZAZIONE                     ###
    ############################################################################################
    cxTypeAuthFleet:
      $ref: '../remote-refs.yaml#/components/parameters/cxTypeAuthFleet'
    cxIdAuthFleet:
      $ref: '../remote-refs.yaml#/components/parameters/cxIdAuthFleet'
    cxTaxIdAuthFleet:
      $ref: '../remote-refs.yaml#/components/parameters/cxTaxIdAuthFleet'
    pathLegalFactType:
      description: >-
        Categoria dell'atto opponbile a terzi
      name: legalFactType
      in: path
      required: true
      schema:
        $ref: './schemas-pn-timeline-appio-v1.yaml#/components/schemas/LegalFactCategory'
    pathLegalFactId:
      description: >-
        Identificativo dell'atto opponbile a terzi
      name: legalFactId
      in: path
      required: true
      schema:
        type: string
  schemas:
    IOReceivedNotification:
      description: >-
        Le informazioni riguardanti una richiesta di notifica accettata e il processo di 
        inoltro della notifica verso i destinatari (Persone Fisiche o Giuridiche).
      type: object
      properties:
        subject:
          type: string
        iun:
          type: string
        recipients:
          type: array
          items:
            $ref: '#/components/schemas/NotificationRecipient'
        notificationStatusHistory:
          $ref: '#/components/schemas/NotificationStatusHistory'
        abstract:
          type: string
        senderDenomination:
          type: string
        documents:
          type: array
          description: Documenti notificati
          items:
            $ref: '#/components/schemas/NotificationDocument'
      required:
        - subject
        - iun
        - recipients
        - notificationStatusHistory
        - documents
    NotificationStatus:
      $ref: './schemas-pn-timeline-appio-v1.yaml#/components/schemas/NotificationStatus'
    NotificationStatusHistory:
      $ref: './schemas-pn-timeline-appio-v1.yaml#/components/schemas/NotificationStatusHistory'
    LegalFactDownloadMetadataResponse:
      $ref: './schemas-pn-timeline-appio-v1.yaml#/components/schemas/LegalFactDownloadMetadataResponse'
    NotificationRecipient:
      $ref: '../schemas-pn-notification-v1.yaml#/components/schemas/NotificationRecipient'
    NotificationDocument:
      $ref: '../schemas-pn-notification-v1.yaml#/components/schemas/NotificationDocument'

    Problem:
      $ref: '../remote-refs.yaml#/components/schemas/Problem'

  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: x-api-key

security:
  - ApiKeyAuth: [] # use the same name as under securitySchemes